/************************************************************************************
** Main Admin Buttons
*************************************************************************************/
.wp-core-ui .button-primary {
  background: #24b7eb;
  border-color: #23a6d4;
  -webkit-box-shadow: inset 0 1px 0 rgba(33, 158, 202, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(33, 158, 202, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-decoration: none; }

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #23a6d4;
  border-color: #24b7eb;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 rgba(36, 183, 235, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(36, 183, 235, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15); }

.wp-core-ui .button-primary:active, .wp-core-ui .button-primary.disabled {
  background: #1e8fb7; }

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
  height: 30px;
  line-height: 28px;
  padding: 0 20px 2px; }

.wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled] {
  color: #b3c9c9 !important;
  background: #a0b3b3 !important;
  border-color: #768686 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
  cursor: default; }

/************************************************************************************
** Custom Log-In Page
*************************************************************************************/
p.message.register {
  display: none; }

#login {
  width: 350px; }

#login h1 {
  overflow: visible;
  padding-bottom: 40px; }

/*#login h1 a {
	width: 100% !important;
}*/
.login h1 a {
  width: 335px;
  height: 59px;
  background-size: 335px 59px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  margin: auto; }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  .login h1 a {
    width: 335px;
    height: 59px;
    background-size: 335px 59px;
    background-repeat: no-repeat;
    text-indent: -9999px; } }
#loginform {
  padding: 30px; }

.login form {
  box-shadow: none; }

#loginform p label {
  color: #444; }

#login form p.submit {
  margin-top: 20px; }

#login form p.forgetmenot {
  margin-top: 20px; }

.login input:focus {
  border-color: #6D7C6A;
  box-shadow: 0 0 0px #6D7C6A; }

.login #login_error,
.login .message {
  margin-top: 20px;
  border-left: 4px solid #6D7C6A; }

.login #backtoblog a,
.login #nav a,
.login h1,
.login #nav a {
  color: #444;
  transition: all ease-in-out 0.2s; }

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
  color: #6D7C6A; }

.login #nav,
.login #backtoblog {
  text-align: center; }

p#backtoblog {
  display: none; }

.forgetmenot {
  width: 100%;
  text-align: center;
  margin-top: 0 !important; }

#lostpasswordform {
  background: none; }

.login.wp-core-ui .button-primary {
  color: #FFF !important;
  box-shadow: inset 0 0px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.2);
  background: #6D7C6A;
  border-color: #6D7C6A;
  width: 100%;
  margin-top: 20px !important;
  text-decoration: none;
  width: 100%;
  height: 50px !important;
  font-size: 1.5em !important;
  font-weight: normal;
  text-shadow: none; }

.login.wp-core-ui .button-primary:hover {
  background-color: #879584;
  border-color: #879584;
  box-shadow: inset 0 0px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.2);
  color: #FFF;
  text-decoration: none; }

.login.wp-core-ui .button-primary:focus {
  background-color: #f6f6f6;
  border-color: #25acce;
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  text-decoration: none; }

/************************************************************************************
* Link Colour
*************************************************************************************/
.wp-core-ui a {
  color: #6D7C6A; }

.wp-core-ui a:hover,
.wp-core-ui a:active,
.wp-core-ui a:focus {
  color: #556152; }

.wrap .page-title-action {
  color: #556152; }

/************************************************************************************
* Buttons
*************************************************************************************/
.wp-core-ui .button-primary {
  color: #FFF;
  box-shadow: inset 0 0px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.2);
  background: #6D7C6A;
  border-color: #6D7C6A;
  text-decoration: none;
  font-weight: normal;
  text-shadow: none; }

.wp-core-ui .button-primary:hover {
  background-color: #879584;
  border-color: #879584;
  box-shadow: inset 0 0px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none; }

.wp-core-ui .button-primary:focus {
  background-color: #556152;
  border-color: #556152;
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0 rgba(0, 0, 0, 0.2);
  color: #879584;
  text-decoration: none; }

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  border-color: #879584;
  background: #879584;
  color: #FFF; }

/************************************************************************************
Project Specific Styles
*************************************************************************************/
#wpadminbar #wp-admin-bar-lambda {
  display: none; }

/************************************************************************************
Admin Dashboard Styles
*************************************************************************************/
#kijo_dashboard_widget .kijo-dash-container {
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px; }

#kijo_dashboard_widget .kijo-dash-container img {
  width: 350px;
  height: auto; }

#kijo_dashboard_widget .kijo-dash-title {
  color: #525252;
  font-weight: bold;
  line-height: 35px;
  font-weight: 400;
  margin-top: 30px; }

#kijo_dashboard_widget .kijo-dash-title .site-name {
  color: #6D7C6A;
  display: block;
  font-weight: 600; }

/************************************************************************************
Update plugins count
*************************************************************************************/
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  color: #fff;
  background: #00adef; }

.plugin-update-tr.active td, .plugins .active th.check-column {
  border-color: #6D7C6A; }

.plugins .active td, .plugins .active th {
  background-color: #f2f3f2; }

#adminmenu .awaiting-mod,
#adminmenu .update-plugins,
#adminmenu li.current a .awaiting-mod,
#adminmenu li:hover a .awaiting-mod {
  background: #6D7C6A; }

/************************************************************************************
Hide Help Menu
*************************************************************************************/
#contextual-help-link-wrap {
  display: none; }

/************************************************************************************
Remove Main Text Box
*************************************************************************************/
/*#postdivrich {display: none;}*/
/************************************************************************************
Remove WP Logo from Admin Bar
*************************************************************************************/
#wpadminbar ul#wp-admin-bar-root-default > li#wp-admin-bar-wp-logo {
  display: none; }

#wp-admin-bar-wp-logo {
  display: none; }

/************************************************************************************
Remove Trackbacks Link
*************************************************************************************/
#commentstatusdiv #ping_status {
  display: none; }

#commentstatusdiv label[for=ping_status] {
  display: none; }

/************************************************************************************
Hide Plugin Activation
*************************************************************************************/
#setting-error-tgmpa {
  display: none; }

