.canvas-container {
  position: relative;

  @media screen and (max-width: 1200px) {
    margin-top: 0;
    flex-direction:  column;
  }

  .canvas-builder {
    position: relative;
    margin: calc(50vh - 256px - 81px) auto auto;
    text-align: center;

    button {
      margin-top: 50px;
      width: 70%;

      @media screen and (max-width: 600px) {
        margin-top: 20px;
        width: 100%;
      }
    }
  }

  .canvas {
    margin: 0 auto;

    @media screen and (max-width: 1300px) {
      width: 450px;
      height: 450px;
    }

    @media screen and (max-width: 1200px) {
      margin: 0 auto;
      margin-top: 40px;
      width: 500px;
      height: 500px;
    }

    @media screen and (max-width: 770px) {
      width: 400px;
      height: 400px;
    }

    @media screen and (max-width: 630px) {
      width: 300px;
      height: 300px;
    }

    /**
     * mobile
     */
    @media screen and (max-width: 550px) {
      width: 230px;
      height: 230px;
    }

    @media print {
      width: 300px !important;
      height: 300px !important;
    }
  }

  .choice-thumbnail-container {
    margin-top: 100px;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px !important;

    @media screen and (max-width: 1500px) {
      width: 200px !important;
    }

    @media screen and (max-width: 1200px) {
      width: 550px !important;
      margin: 0 auto;
      margin-top: 50px;
      padding: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (max-width: 770px) {
      width: 400px !important;
    }


    @media screen and (max-width: 630px) {
      width: 300px !important;
    }
  }

  .choice-item {
    @media screen and (max-width: 1200px) {
      width: 33%;
    }

    @media screen and (max-width: 750px) {
      width: 25%;
      flex-direction: column;
    }

    .choice-item__left-side {
      img {
        width: 50px !important;
        height: 50px !important;

        @media screen and (max-width: 1200px) {
          width: 35px !important;
          height: 35px !important;
        }

        @media screen and (max-width: 750) {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }

    .choice-item__right-side {
      margin-left: 30px;

      @media screen and (max-width: 1200px) {
        margin-left: 15px;
      }

      @media screen and (max-width: 750px) {
        margin-left: 0;
      }

      p {
        @media screen and (max-width: 1200px) {
          font-size: 10px !important;
        }

        @media screen and (max-width: 750px) {
          font-size: 8px !important;
        }
      }

      p.stage {
        @media screen and (max-width: 750px) {
          display: none;
        }
      }


    }
  }
}

.canvas {
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
