.canvas-container {
  // border: 2px solid pink;
  position: relative;

  @media screen and (max-width: 1200px) {
    margin-top: 0;
    flex-direction:  column;
  }

  // .canvas-inner {
  //   border: 1px solid red;
  //   display: flex;
  //   margin: 0 auto;
  //   // margin-right: -150px;
  //   transform: translateX(150px);
  //
  //   @media screen and (max-width: 1350px) {
  //     transform: translateX(100px);
  //   }
  //
  //   @media screen and (max-width: 1200px) {
  //     margin-top: 0;
  //     flex-direction:  column;
  //   }
  //
  //   .spacer {
  //     width: 120px;
  //
  //     @media screen and (max-width: 1350px) {
  //       width: 70px;
  //     }
  //   }
  // }

  .canvas {
    margin: 0 auto;
    margin-top: 100px;

    @media screen and (max-width: 1300px) {
      width: 450px;
      height: 450px;
    }

    @media screen and (max-width: 1200px) {
      margin: 0 auto;
      margin-top: 40px;
    }

    @media screen and (max-width: 770px) {
      width: 400px;
      height: 400px;
    }

    @media screen and (max-width: 630px) {
      width: 300px;
      height: 300px;
    }
  }

  .choice-thumbnail-container {
    margin-top: 100px;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px !important;

    @media screen and (max-width: 1500px) {
      width: 200px !important;
    }

    @media screen and (max-width: 1200px) {
      width: 450px !important;
      margin: 0 auto;
      margin-top: 50px;
      padding: 0;
      position: relative;
    }

    @media screen and (max-width: 770px) {
      width: 400px !important;
    }


    @media screen and (max-width: 630px) {
      width: 300px !important;
      height: 300px !important;
    }
  }

  .choice-item {
    .choice-item__left-side {
      img {

        width: 50px !important;
        height: 50px !important;

        @media screen and (max-width: 1200px) {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }

    .choice-item__right-side {
      p {

        @media screen and (max-width: 1200px) {
          font-size: 10px !important;
        }
      }
    }
  }
}

.canvas {
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
