.canvas-container {
  // border: 2px solid pink;
  position: relative;

  @media screen and (max-width: 1200px) {
    margin-top: 0;
    flex-direction:  column;
  }


  .canvas {
    margin: 0 auto;
    margin-top: 100px;

    @media screen and (max-width: 1300px) {
      width: 450px;
      height: 450px;
    }

    @media screen and (max-width: 1200px) {
      margin: 0 auto;
      margin-top: 40px;
      width: 550px;
      height: 550px;
    }

    @media screen and (max-width: 770px) {
      width: 400px;
      height: 400px;
    }

    @media screen and (max-width: 630px) {
      width: 300px;
      height: 300px;
    }

    /**
     * mobile
     */
    @media screen and (max-width: 550px) {
      width: 230px;
      height: 230px;
    }
  }

  .choice-thumbnail-container {
    margin-top: 100px;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px !important;
    // border: 1px solid red;

    @media screen and (max-width: 1500px) {
      width: 200px !important;
    }

    @media screen and (max-width: 1200px) {
      width: 550px !important;
      margin: 0 auto;
      margin-top: 50px;
      padding: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (max-width: 770px) {
      width: 400px !important;
    }


    @media screen and (max-width: 630px) {
      width: 300px !important;
      // height: 300px !important;
    }
  }

  .choice-item {
    // border: 1px solid green;

    @media screen and (max-width: 1200px) {
      width: 33%;
    }

    @media screen and (max-width: 750px) {
      width: 50%;
    }

    .choice-item__left-side {
      img {
        width: 50px !important;
        height: 50px !important;

        @media screen and (max-width: 1200px) {
          width: 35px !important;
          height: 35px !important;
        }
      }
    }

    .choice-item__right-side {
      margin-left: 30px;

      @media screen and (max-width: 1200px) {
        margin-left: 15px;
      }

      p {
        @media screen and (max-width: 1200px) {
          font-size: 10px !important;
        }
      }
    }
  }
}

.canvas {
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
