.retailer {
	background: white;
	box-sizing: border-box;
	margin-bottom: 50px;
	padding: 10px;
	position: relative;
	transition: all ease-in-out 0.25s;

	/*@media screen and (max-width: 992px) {
		flex: 0 0 92%;
	}*/

	&:hover {
		box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);

		.border-div {
			border: 1px #f6f6f6 solid;
		}
	}

	.retailer__pin,
	.retailer__iterator {
		position: absolute;
		z-index: 99;
	}

	.retailer__pin {
		left: calc(50% - 12px);
		top: -10px;
		width: 24px;
	}

	.retailer__iterator {
		color: white;
		left: calc(50% - 5px);
		top: -15px;
	}

	.border-div {
		box-sizing: border-box;
		border: 1px white solid;
		height: 100%;
		padding: 50px;
		transition: all ease-in-out 0.25s;

		@media screen and (max-width: 1380px) {
			padding: 23px 23px 46px;
		}
	}

	.retailer__title {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.retailer__address,
	.retailer__phone {
		margin-bottom: 20px;
	}

	.retailer__email {
		text-transform: capitalize;
	}

	.retailer_directions {
		//bottom: 0;
		font-size: 14px;
		position: absolute;

		@media screen and (max-width: 1380px) {
			font-size: 11px;
		}

		&:after {
			background: black;
		}
	}

	.retailer_distance {
		bottom: 0;
		float: right;
		position: absolute;
		padding-bottom: 30px;
		padding-top: 4px;
		right: 20px;

		@media screen and (max-width: 1380px) {
			font-size: 11px;
			padding-top: 8px;
		}
	}

	&.overseas {
		float: none;
		margin: 100px auto;
		width: 700px;

		@media screen and (max-width: 768px) {
			margin: 100px 5%;
			width: 90%;
		}

		.border-div {
			//height: 400px;
			padding-left: 200px;
			padding-bottom: 120px;

			@media screen and (max-width: 768px) {
				padding-left: 100px;
			}

			@media screen and (max-width: 436px) {
				padding: 20px;
			}
		}

		.flag-icon {
			font-size: 20px;
			left: 100px;
			margin-top: 3px;
			position: absolute;

			@media screen and (max-width: 768px) {
				left: 50px;
			}

			@media screen and (max-width: 436px) {
				left: 2px;
			}
		}

		.retailer__website {
			line-height: 1.6;
			margin-bottom: 20px;
			text-transform: lowercase;
			color: #252525;
	    font-family: "Open Sans",sans-serif;
	    font-size: 18px;
	    font-weight: normal;
	    letter-spacing: 0px;
			padding: 0;
	    display: block;
	    margin-bottom: 20px;
		}

		.retailer_directions {
			bottom: 30px;
			position: absolute;
			font-weight: bold;
		}
	}

	@media screen and (max-width: 992px) {
		width: 92%;
	}
}


/**** Card Container - Flex  ****/

.r_card__container {

	.r_card__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.r_card__card {
		width: 28%;
		margin-left: 4%;
		padding-bottom: 80px;
		position: relative;

		@media all and (max-width: 1200px) {
			width: 44%;
		}

		@media all and (max-width: 992px) {
			width: 92%;
		}
	}

	.retailer_directions {
		position: absolute;
		bottom: 40px;
		display: block;
	}
}
