/**
 * About - Timeline 
 * Full page scrolling timeline 
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

/************** Layout **************/
.about {
  overflow: hidden;
  -webkit-backface-visibility: hidden; }

.about__timeline,
.about__scroller {
  width: 50%;
  position: relative;
  display: inline-block;
  font-size: 0;
  height: 100vh;
  text-align: center;
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }
  @media all and (max-width: 769px) {
    .about__timeline,
    .about__scroller {
      width: 100%;
      height: 50vh; } }

/************** Fix Inline Block **************/
.about__timeline {
  margin-right: -4px; }

.about__scroller {
  margin-left: -0px; }

/************** Backgrounds for scaling **************/
.about__timeline__bg,
.about__scroller__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0) scaleX(1);
  transform: translate3d(0, 0, 0) scaleX(1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }

.about__timeline__bg {
  background-color: #383838; }

.about__scroller__bg {
  background-color: #333333; }

/************** Text Initial Position **************/
.about__timeline__text,
.about__scroller__text {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }

/************** Animate **************/
/** Animate - Backgrounds **/
/**  Timeline  **/
.show-about-timeline .about__timeline__bg {
  -webkit-transform: translate(25%, 0) scale(2.5);
  transform: translate(25%, 0) scale(2.5);
  -webkit-transition: -webkit-transform scale 1.2s;
  transition: -webkit-transform scale 1.2s;
  transition: transform scale 1.2s;
  transition: transform scale 1.2s, -webkit-transform scale 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  -webkit-backface-visibility: hidden; }

body {
  height: 100% !important; }

.show-about-timeline .about__scroller__bg,
.hide-about-timeline .about__scroller__bg,
.show-about-timeline .about__scroller__text,
.hide-about-timeline .about__scroller__text {
  -webkit-transform: translate(98.9%, 0);
  transform: translate(98.9%, 0);
  -webkit-transition: -webkit-transform scale 1.2s;
  transition: -webkit-transform scale 1.2s;
  transition: transform scale 1.2s;
  transition: transform scale 1.2s, -webkit-transform scale 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.6, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.6, 1);
  z-index: -9;
  -webkit-backface-visibility: hidden; }

.show-about-timeline .about__scroller__subtitle,
.hide-about-timeline .about__scroller__subtitle {
  -webkit-transform: translate(98.9%, 0);
  transform: translate(98.9%, 0);
  -webkit-transition: -webkit-transform scale 1.2s;
  transition: -webkit-transform scale 1.2s;
  transition: transform scale 1.2s;
  transition: transform scale 1.2s, -webkit-transform scale 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  -webkit-backface-visibility: hidden; }

/**  Scroller  **/
.show-about-scroller .about__scroller__bg {
  -webkit-transform: translate(-25%, 0) scale(2.5);
  transform: translate(-25%, 0) scale(2.5);
  -webkit-transition: -webkit-transform scale 1.2s;
  transition: -webkit-transform scale 1.2s;
  transition: transform scale 1.2s;
  transition: transform scale 1.2s, -webkit-transform scale 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  -webkit-backface-visibility: hidden; }

.show-about-scroller .about__timeline__bg,
.hide-about-scroller .about__timeline__bg,
.show-about-scroller .about__timeline__text,
.hide-about-scroller .about__timeline__text {
  -webkit-transform: translate(-98%, 0);
  transform: translate(-98%, 0);
  -webkit-transition: -webkit-transform scale 1.2s;
  transition: -webkit-transform scale 1.2s;
  transition: transform scale 1.2s;
  transition: transform scale 1.2s, -webkit-transform scale 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  z-index: -9;
  -webkit-backface-visibility: hidden; }

.show-about-scroller .about__timeline__subtitle,
.hide-about-scroller .about__timeline__subtitle {
  -webkit-transform: translate(-98%, 0);
  transform: translate(-98%, 0);
  -webkit-transition: -webkit-transform scale 1.2s;
  transition: -webkit-transform scale 1.2s;
  transition: transform scale 1.2s;
  transition: transform scale 1.2s, -webkit-transform scale 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  -webkit-backface-visibility: hidden; }

/** Animate - Text **/
.show-about-timeline .about__timeline__text {
  -webkit-transform: translate3d(50%, -40%, 0);
  transform: translate3d(50%, -40%, 0);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }

.show-about-scroller .about__scroller__text {
  -webkit-transform: translate3d(-50%, -40%, 0);
  transform: translate3d(-50%, -40%, 0);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }

.about__scroller__subtitle,
.about__timeline__subtitle {
  z-index: 110; }

/** Button Opacity **/
.show-about-timeline .about__timeline__btn {
  opacity: 0; }

.show-about-scroller .about__scroller__btn {
  opacity: 0; }

/************** Side Title **************/
.about .side-title {
  color: #7C7C7C;
  position: absolute;
  left: -70px;
  top: 500px;
  z-index: 99999; }
  @media all and (max-width: 992px) {
    .about .side-title {
      display: none; } }

/************** Typography **************/
.about h1,
.about h2 {
  color: #FFF; }

/** Subtitle **/
.about .subtitle {
  font-size: 110px;
  font-family: "Playfair Display", serif;
  opacity: 0.02;
  text-transform: capitalize;
  color: #FFF;
  position: absolute; }
  @media all and (max-width: 769px) {
    .about .subtitle {
      font-size: 80px; } }

.about__timeline__subtitle {
  bottom: -30px;
  right: 0; }

.about__scroller__subtitle {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  right: -230px;
  bottom: 220px; }

@media all and (max-width: 769px) {
  .about__timeline__subtitle {
    right: 0px;
    bottom: -30px; }
  .about__scroller__subtitle {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    right: 0px;
    bottom: -50px; } }

/** Open Button **/
.about a {
  color: #878787;
  text-decoration: none; }

.about a:before,
.about a:after {
  background-color: #878787;
  text-decoration: none; }

.about a:hover {
  color: #FFF; }

.about a:hover:after {
  background-color: #FFF;
  opacity: 1.0; }

/** Close Button **/
.about__timeline__btn--close,
.about__scroller__btn--close {
  position: absolute;
  left: 60px;
  top: 220px;
  opacity: 0;
  z-index: 9999;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s; }

.show-about-timeline .about__timeline__btn--close {
  opacity: 1; }

.show-about-timeline .about__scroller__btn--close {
  display: none; }

.show-about-scroller .about__scroller__btn--close {
  opacity: 1; }

.show-about-scroller .about__timeline__btn--close {
  display: none; }

/****************************************************************************
*     Timeline Page Layout 
****************************************************************************/
.about__timeline__content {
  display: none;
  opacity: 0;
  background-color: #383838;
  padding-bottom: 10%;
  position: relative;
  z-index: 999;
  height: 6000px; }

.show-about-timeline .about__timeline__content {
  opacity: 1;
  display: block; }

/************** Lines **************/
.timeline__centre-line {
  height: 100%;
  width: 1px;
  background-color: #878787;
  z-index: 99;
  position: absolute;
  left: 50%; }

.timeline__top-line {
  height: 15%;
  width: 1px;
  background-color: #878787;
  z-index: 999;
  position: absolute;
  left: 100%;
  bottom: 0%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }

.timeline__top-line--horizontal {
  height: 1px;
  width: 100px;
  top: 0%;
  position: relative;
  left: -50px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: hidden; }

/*** Animate Lines ***/
.show-about-timeline .timeline__top-line {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

.show-about-timeline .timeline__top-line--horizontal {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
  -webkit-transition: -webkit-transform 1.8s;
  transition: -webkit-transform 1.8s;
  transition: transform 1.8s;
  transition: transform 1.8s, -webkit-transform 1.8s;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }

/************** Event Card **************/
.timeline__event {
  color: #FFF;
  width: 50%;
  position: relative;
  padding-left: 12%;
  padding-right: 12%; }

/*.timeline__event#three,
.timeline__event#four {
	padding-top: 30%;
}*/
.timeline__event:nth-child(odd) {
  float: left;
  margin-top: 30%; }

.timeline__event:nth-child(even) {
  float: right;
  margin-top: 15%; }

/************** Event Details **************/
h4.timeline__event__heading {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 25px;
  position: relative; }

.timeline__event__date {
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: -70px;
  top: 7px; }

.timeline__event__description {
  margin-top: 35px; }

.timeline__event__description p {
  color: #FFF; }

/************** Event Connecting Line & Ball **************/
.timeline__event__line {
  width: 18%;
  height: 1px;
  background-color: #878787;
  z-index: 99;
  position: absolute;
  right: -0.1%;
  top: 17.5%; }

.timeline__event__ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -4px;
  left: 96%;
  background-color: #878787; }

.timeline__event:nth-child(even) .timeline__event__line {
  left: -0.1%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
