.material-view-slider {
	background: white;
	position: relative;
	width: 100%;

	ul  {
		margin: 0;
		padding: 0;
	}

	#material-view-slider-prev,
	#material-view-slider-next {
		position: absolute;

		& + span {
			position: absolute;
			top: calc(50% + 50px);

			h3 {
				color: #7C7C7C;
			}
		}
	}

	#material-view-slider-prev {
		left: 35px;

		& + span {
			left: 35px;
		}
	}

	#material-view-slider-next {
		right: 35px;

		& + span {
			right: 35px;
		}
	}
}