*.log
.htaccess

#wp-config.production.php
wp-config.staging.php
wp-config.default.php
wp-config.local.php

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/themes/twentysixteen/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

production/*
multi-config/*

config.codekit
.codekit-cache

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

*.zip

/.sass-cache/*
node_modules 

*.map