
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteRule . - [E=rwbase:/]
RewriteCond %{HTTP_HOST} localhost$
RewriteRule . - [E=rwbase:crucial/]
RewriteCond %{HTTP_HOST} localhost:8888$
RewriteRule . - [E=rwbase:crucial-trading/]
RewriteCond %{HTTP_HOST} localhost:8888$
RewriteRule . - [E=rwbase:crucial/]
RewriteCond %{HTTP_HOST} vps.89hosting.co.uk$
RewriteRule . - [E=rwbase:~crucialtrading/]
RewriteCond %{HTTP_HOST} crucialtrading-env-test.eu-west-1.elasticbeanstalk.com$
RewriteRule . - [E=rwbase:]
RewriteCond %{HTTP_HOST} crucialtrading-env-test-1.eu-west-1.elasticbeanstalk.com$
RewriteRule . - [E=rwbase:]
RewriteCond %{HTTP_HOST} www.crucial-trading.com$
RewriteRule . - [E=rwbase:]
RewriteCond %{HTTP_HOST} crucial-trading.com$
RewriteRule . - [E=rwbase:]

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
