.switch_views {
  margin: 71px 0 71px 0;
}

.switch_views__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1330px;
  margin: auto;
}

.switch_views__container a {
  padding-left: 10px;
}
