/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.other-ranges-title {
  font-size: 38px;
  text-align: center; }
  .other-ranges-title.coir {
    color: #6F533D; }
  .other-ranges-title.jute {
    color: #4B3B2E; }
  .other-ranges-title.seagrass {
    color: #6B6551; }
  .other-ranges-title.sisal {
    color: #454F44; }
  .other-ranges-title.sisool {
    color: #817E62; }
  .other-ranges-title.wool {
    color: #665F4D; }

.other-ranges {
  background: white;
  height: 125px;
  margin-left: 10%;
  margin-top: 150px;
  position: relative;
  width: 80%; }

.ranges__ul {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0; }

.range {
  display: inline-block;
  padding: 10px 5px;
  width: 16.66666667%; }
  @media screen and (max-width: 992px) {
    .range {
      width: 25%; }
      .range:nth-child(4), .range:nth-child(5) {
        display: none; } }
  @media screen and (max-width: 666px) {
    .range {
      width: 33%; }
      .range:nth-child(3) {
        display: none; } }
  @media screen and (max-width: 555px) {
    .range {
      width: 50%; }
      .range:nth-child(2) {
        display: none; } }
  .range.active img {
    margin-bottom: 20px; }
  .range img {
    height: 150px;
    margin-bottom: 10px;
    width: 150px; }
  .range h3 {
    word-break: break-word; }
  .range.coir h3 {
    color: #B28865; }
  .range.jute h3 {
    color: #907259; }
  .range.seagrass h3 {
    color: #A99A71; }
  .range.sisal h3 {
    color: #6D7C61; }
  .range.sisool h3 {
    color: #A9A791; }
  .range.wool h3 {
    color: rgba(102, 95, 77, 0.5); }
  .range.coir.active h3 {
    color: #6F533D; }
  .range.jute.active h3 {
    color: #4B3B2E; }
  .range.seagrass.active h3 {
    color: #6B6551; }
  .range.sisal.active h3 {
    color: #454F44; }
  .range.sisool.active h3 {
    color: #817E62; }
  .range.wool.active h3 {
    color: #665F4D; }
