.other-ranges {
  height: 100px;
  margin-left: 10%;
  position: relative;
  width: 80%; }

.ranges__ul {
  margin: 0;
  padding: 0; }

.range {
  display: inline-block;
  padding: 10px;
  width: 20%; }
