@import '../../assets/css/src/_variables';

.other-ranges-title {
	font-size: 38px;
	text-align: center;

	&.coir {
		color: $color-coir-dark;
	}

	&.jute {
		color: $color-jute-dark;
	}

	&.seagrass {
		color: $color-seagrass-dark;
	}

	&.sisal {
		color: $color-sisal-dark;
	}

	&.sisool {
		color: $color-sisool-dark;
	}

	&.wool {
		color: $color-wool-dark;
	}
}

.other-ranges {
	background: white;
	height: 125px;
	margin-left: 10%;
	margin-top: 150px;
	position: relative;
	width: 80%;
}

.ranges__ul {
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
}

.range {
	display: inline-block;
	padding: 10px 5px;
	width: 16.66666667%;

	@media screen and (max-width: 992px) {
		width: 25%;

		&:nth-child(4),
		&:nth-child(5) {
			display: none;
		}
	}

	@media screen and (max-width: 666px) {
		width: 33%;

		&:nth-child(3) {
			display: none;
		}
	}

	@media screen and (max-width: 555px) {
		width: 50%;

		&:nth-child(2) {
			display: none;
		}
	}

	.range__container {
		text-align: center;
	}

//	&.active {

//		img {
//			margin-bottom: 20px;
//		}
//	}

	img {
		height: 150px;
		margin-bottom: 10px;
//		max-width: initial;
//		position: absolute;
		width: 150px;
	}

	h3 {
		text-align: center;
		word-break: break-word;
	}

	&.coir h3 {
		color: $color-coir-main;
	}

	&.jute h3 {
		color: $color-jute-main;
	}

	&.seagrass h3 {
		color: $color-seagrass-main;
	}

	&.sisal h3 {
		color: $color-sisal-main;
	}

	&.sisool h3 {
		color: $color-sisool-main;
	}

	&.wool h3 {
		color: transparentize($color-wool-dark, 0.5);
	}

	&.coir.active h3 {
		color: $color-coir-dark;
	}

	&.jute.active h3 {
		color: $color-jute-dark;
	}

	&.seagrass.active h3 {
		color: $color-seagrass-dark;
	}

	&.sisal.active h3 {
		color: $color-sisal-dark;
	}

	&.sisool.active h3 {
		color: $color-sisool-dark;
	}

	&.wool.active h3 {
		color: $color-wool-dark;
	}
}