.tax-product_tag .share-links {
	margin-bottom: 50px;

	h3 {
		color: rgb(191,191,191);
	}

	i, a {
		color: #949494;
	}

	a:before {
		opacity: 0.25;
	}

	a:after {
		background: black;
	}

	.link__container:hover {

		i, a {
			color: black;
		}
	}
}

.collection-swatches {
	background: white;
	margin-left: 7%; 
	max-width: 1300px;
	padding: 50px;
	position: relative;
	width: 86%;

	@media screen and (max-width: 768px) {
		padding: 50px 25px;
	}

	@media screen and (min-width: 1511px) {
		margin-left: auto;
		margin-right: auto;
	}

	.collection__title {
		font-family: "DIN",sans-serif;
		font-size: 70px;
		letter-spacing: 4px;
		margin-bottom: 50px;
		text-align: center;
		text-transform: uppercase;		

		@media screen and (max-width: 768px) {
			font-size: 50px;
		}
	}
}