.tax-product_tag .share-links {
  margin-bottom: 50px; }
  .tax-product_tag .share-links h3 {
    color: #bfbfbf; }
  .tax-product_tag .share-links i, .tax-product_tag .share-links a {
    color: #949494; }
  .tax-product_tag .share-links a:before {
    opacity: 0.25; }
  .tax-product_tag .share-links a:after {
    background: black; }
  .tax-product_tag .share-links .link__container:hover i, .tax-product_tag .share-links .link__container:hover a {
    color: black; }

.collection-swatches {
  background: white;
  margin-left: 7%;
  padding: 100px 50px;
  position: relative;
  width: 86%; }
  @media screen and (max-width: 768px) {
    .collection-swatches {
      padding: 100px 25px; } }
  .collection-swatches .collection__title {
    font-size: 48px;
    margin-bottom: 100px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .collection-swatches .collection__title {
        font-size: 32px; } }
  .collection-swatches .swatch-container .swatch {
    border: 1px solid #ededed;
    float: left;
    height: 120px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 23.5%; }
    .collection-swatches .swatch-container .swatch:hover {
      border: none;
      box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.08); }
    .collection-swatches .swatch-container .swatch a {
      display: block;
      height: 100%;
      padding: 0 !important; }
    .collection-swatches .swatch-container .swatch h3 {
      color: #7C7C7C;
      float: left;
      margin-bottom: 5px;
      width: 50%; }
      .collection-swatches .swatch-container .swatch h3.code {
        color: #BBBBBB; }
    .collection-swatches .swatch-container .swatch img {
      float: right;
      height: 80%;
      width: 45%; }
    .collection-swatches .swatch-container .swatch .swatch__title {
      color: #7C7C7C;
      word-break: break-word; }
    .collection-swatches .swatch-container .swatch .swatch__code {
      color: rgba(124, 124, 124, 0.6); }
    @media screen and (min-width: 1300px) {
      .collection-swatches .swatch-container .swatch:not(:nth-child(4n)) {
        margin-right: 2%; } }
    @media screen and (max-width: 1300px) and (min-width: 768px) {
      .collection-swatches .swatch-container .swatch {
        width: 49%; }
        .collection-swatches .swatch-container .swatch:not(:nth-child(4n)) {
          margin-right: 0; }
        .collection-swatches .swatch-container .swatch:not(:nth-child(2n)) {
          margin-right: 2%; } }
    @media screen and (max-width: 768px) {
      .collection-swatches .swatch-container .swatch {
        width: 100%; }
        .collection-swatches .swatch-container .swatch:not(:nth-child(2n)) {
          margin-right: 0; } }

/*
.collection-swatches {
	background: white;
	margin-left: 7%;
	padding: 75px;
	width: 86%;

	.collection__title {
		font-size: 48px;
		margin-bottom: 100px;
		text-align: center;
	}

	.swatch-container .swatch {
		border: 1px solid #ededed;
		float: left;
		margin-bottom: 20px;
		width: 23.5%;

		&:hover {
			border: none;
			-webkit-box-shadow: 0 2px 18px 0 rgba(0,0,0,.08);
			-moz-box-shadow: 0 2px 18px 0 rgba(0,0,0,.08);
			box-shadow: 0 2px 18px 0 rgba(0,0,0,.08);
		}

		&:not(:nth-child(4n)) {
			margin-right: 2%;
		}

		img {
			height: 200px;
			margin-bottom: 10px;
			object-fit: cover;
			width: 200px;

			@media screen and (max-width: 992px) {
				height: 125px;
				width: 125px;
			}
		}

		.swatch__title {
			color: #7C7C7C;
		}

		.swatch__code {
			color: transparentize(#7C7C7C, 0.4);
		}
	}

	p {
		clear: both;
		padding: 50px 10% 0;
		text-align: center;
	}
}
*/
