@import '../../assets/css/src/_variables';

#html5-watermark {
	display: none !important;
}

#html5-lightbox-box,
#html5-elem-wrap {
	height: 100% !important;
	margin: 0 !important;
	width: 100% !important;
}

#html5-close-fullscreen {
	top: 20px !important;
	right: 20px !important;
}

#super-slider {
	max-height: 100vh !important;
	min-height: 100vh !important;

	.slide {
		list-style-type: none;
	
		img.background {
			height: 100% !important;
			object-fit: cover;
			top: 0 !important;
		}

		svg {
			cursor: pointer;
		}

		svg g,
		svg g path {
			stroke: black;
		}

		&.opening {

			img.background {
				left: 0 !important;
				width: 100% !important;
			}
/*
			img.opening-slide-logo {
				margin-bottom: 70px;
				position: static !important;
				width: 500px !important;
				z-index: 99 !important;
				
				@media all and (max-width: 767px) {
					width: 80% !important;
					margin-left: auto;
					margin-right: auto;
					height: auto
				}
				
				@media screen and (max-height: 640px) {
					display: none;
				}
			}
*/
			h3.rotate {
				color: black;
			}

			.nav_next li {

				h3 {
					color: #7C7C7C;
				}

				span {
					background: #7C7C7C;
				}

				&.active {

					h3 {
						color: black;
					}

					span {
						background: black;
					}
				}
			}
		}
	}	
}

.slides-navigation {
	margin-top: -50px;
	position: relative;
	z-index: 99999;
}

.nav_prev,
.nav_next {
	position: absolute;
	top: 0;
	z-index: 99999;

	@media screen and (max-height: 421px) {
		display: none;
	}

	@media screen and (max-width: 421px) {
		display: none;
	}

	a {
		display: block;
		position: relative;
		z-index: 99999;
	}
}

.nav_prev {
	left: 0;
	padding-left: 35px;

	h3 {
		color: black;
		left: -52px;
		top: 180px;
		text-align: right;
		width: 200px;
	}
}

.nav_next {
	right: 0;
	padding-right: 35px;

	a {
		text-align: right;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	li span {
		display: block;
		height: 1px;
		margin-top: -8px;
		position: absolute;
		right: 0;
		width: 30px;
	}

	li.active h3 {
		color: black;
	}

	li.active span {
		background: black;
	}

	li:not(.active) h3 {
		color: #cccccc;
	}

	li:not(.active) span {
		background: #cccccc;
	}

	.slide__numbers li {
		cursor: pointer;
		margin-bottom: 7.5px;
	}
}

.slide__center {
	text-align: center;

	h1 {
//		text-shadow: none;

		@media screen and (max-width: 992px) {
			font-size: 46px;
		}

		@media screen and (max-width: 555px) {
			font-size: 40px;
			letter-spacing: 2px;
		}
	}

	a {
		position: relative;
		top: 20px;

		&:before,
		&:after {
			background: black;
		}
	}

	&.opening {

		p.subtitle {
			font-family: $font-sub-header;
			margin-bottom: 120px;
			margin-top: -25px;
		}

		p {
			padding: 0 28%;
			font-size: 22px;
			
			@media all and (max-width: 767px) {
				padding: 3%;
				font-size: 18px;
			}
		
			@media all and (max-height: 500px) {
				font-size: 18px;
			}
		}

		span {
			background: #DDDDDD;
			display: block;
			height: 1px;
			margin: 60px auto 0;
			width: 250px;

			@media all and (max-height: 500px) {
				margin-top: 30px;
			}
		}

		a {
			background-color: black;
			color: black;
			margin-top: 50px;
			padding: 15px 30px;
			position: relative;
			top: 70px;

			@media all and (max-height: 500px) {
				top: 35px;
			}
		}
		
		a:hover {
			background-color: darken(#FFF, 20%);
			color: black;
		}
		
	}
}

.slide__bottom {
	position: absolute;
	text-align: center;
	top: 88%;
	width: 100%;

	@media screen and (max-height: 420px) {
		display: none;
	}

	@media screen and (max-width: 421px) {
		display: none;
	}

	h3 {
		color: black;

		@media screen and (max-height: 485px) {
			display: none;
		}
	}
}

.slide__arrow--right,
.slide__arrow--down {
	margin-bottom: 30px;
}

#super-slider .slide {

	&.image-right,
	&.image-left {

		.slide__title {

			a::before,
			a::after {
				background: black;
			}
		}

		.home-banner-header {
			text-align: left;

			@media screen and (max-width: 1250px) {
				font-size: 60px;
			}

			@media screen and (max-width: 550px) {
				font-size: 50px;
			}
		}

		img:not(.opening-slide-logo) {
			height: 100% !important;
			object-fit: cover;
			left: 0 !important;
			top: 0 !important;
			width: 100% !important;
		}

		img.opening-slide-logo {
			height: 128px !important;
			left: 0 !important;
			top: -22px !important;
			width: 100% !important;
			z-index: 10001 !important;

			@media screen and (max-height: 635px) {
				top: -2px !important;
			}
		}

		.slide__boxes div {
			background: #d9ded8;
		}
	}

	&.image-right {

		.home-banner-header {
			padding-bottom: 75px;
		}

		.slide__title {
			left: 8.5%;
			position: absolute;
			top: 30%;
			width: 22.5%;

			@media screen and (max-width: 1250px) {
				width: 27.5%;
			}

			p {
				padding-top: 150px;
				text-align: left;
			}
		}

		.slide__image {
			height: 60%;
			margin-left: 34.5%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 58%;

			@media screen and (max-width: 1250px) {
				margin-left: 43%;
				width: 45%;
			}
		}

		.box__one {
			height: 375px;
			position: absolute;
			top: 13%;
			width: 40px;
		}

		.box__two {
			bottom: 14%;
			height: 300px;
			position: absolute;
			right: 5%;
			width: 400px;
			z-index: -1;

			@media screen and (max-width: 1250px) {
				right: 9%;
			}
		}

		.html5lightbox {
			background: white;
			display: inline-block;
			left: 50%;
			line-height: 0;
			padding: 25px;
			position: relative;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}

	&.image-left {

		.home-banner-header {
			padding-bottom: 75px;
		}

		.slide__title {
			left: 65%;
			max-width: 30%;
			position: absolute;
			top: 30%;
		}

		.slide__image {
			height: 75%;
			margin-left: 6.5%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 50%;

			@media screen and (max-width: 1250px) {
				margin-left: 8.5%;
				width: 48%;
			}
		}

		.box__one {
			height: 600px;
			position: absolute;
			top: 12.5%;
			width: 6.5%;

			@media screen and (max-width: 1250px) {
				width: 8.5%;
			}
		}

		.box__two {
			height: 240px;
			left: 56.5%;
			position: absolute;
			top: 70.5%;
			width: 300px;
		}

		.slide__bottom {
			display: none;
		}
	}
}

@media screen and (max-width: 992px) {

	.slides-navigation,
	.slide__bottom {
		display: none;
	}

	#super-slider .slide {

		&.image-right,
		&.image-left {

			.box__two {
				display: none;
			}

			a:before,
			a:after {
				display: none;
			}
		}

		&.image-right,
		&.image-left {

			.home-banner-header {
				padding-bottom: 25px;
			}

			.slide__title {
				left: 25px;
				max-width: none;
				text-align: left;
				top: 80%;
				width: calc(100% - 25px);

				p {
					display: none;
				}
			}

			.slide__image {
				margin-left: 0;
				top: 125px;
				transform: none;
				width: 80%;
			}

			.box__one {
				height: 38%;
				left: 19%;
				top: 38%;
				width: 70%;
				z-index: -10;
			}
		}

		&.image-left {

			.slide__image {
				height: 60%;
			}
		}
	}
}

@media screen and (max-height: 600px) {

	#super-slider .slide {

		&.image-right,
		&.image-left {

			.slide__title {
				top: 40%;

				h1, a {
					color: white;
					text-shadow: 1px 0px 30px #aaaaaa;
				}
			}

			img.opening-slide-logo, p {
				display: none;
			}
		}			
	}
}





















