/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
#super-slider {
  max-height: 100vh !important;
  min-height: 100vh !important; }
  #super-slider .slide img {
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0 !important; }
  #super-slider .slide.opening img {
    left: 0 !important;
    width: 100% !important; }
  #super-slider .slide.opening svg {
    cursor: pointer; }
  #super-slider .slide.opening svg g,
  #super-slider .slide.opening svg g path {
    stroke: black; }
  #super-slider .slide.opening h3.rotate {
    color: black; }
  #super-slider .slide.opening .nav_next li h3 {
    color: #7C7C7C; }
  #super-slider .slide.opening .nav_next li span {
    background: #7C7C7C; }
  #super-slider .slide.opening .nav_next li.active h3 {
    color: black; }
  #super-slider .slide.opening .nav_next li.active span {
    background: black; }

.slides-navigation {
  position: relative;
  z-index: 99999; }
  @media screen and (max-height: 575px) {
    .slides-navigation {
      top: 35%; } }

.nav_prev,
.nav_next {
  position: absolute;
  top: 0;
  z-index: 99999; }
  .nav_prev a,
  .nav_next a {
    display: block;
    position: relative;
    z-index: 99999; }

.nav_prev {
  left: 0;
  padding-left: 35px; }
  .nav_prev h3 {
    color: white;
    left: 2px;
    top: 120px; }

.nav_next {
  right: 0;
  padding-right: 35px; }
  .nav_next a {
    text-align: right; }
  .nav_next ul {
    padding-left: 0; }
  .nav_next li {
    list-style: none; }
  .nav_next li span {
    display: block;
    height: 1px;
    margin-top: -13px;
    position: absolute;
    right: 0;
    width: 30px; }
  .nav_next li.active h3 {
    color: white; }
  .nav_next li.active span {
    background: white; }
  .nav_next li:not(.active) h3 {
    color: #cccccc; }
  .nav_next li:not(.active) span {
    background: #cccccc; }
  .nav_next .slide__numbers li {
    cursor: pointer; }

.slide__center {
  text-align: center; }
  @media screen and (max-width: 600px) {
    .slide__center {
      -webkit-transform: translateY(-80%);
      transform: translateY(-80%); } }
  @media screen and (max-height: 575px) {
    .slide__center {
      -webkit-transform: translateY(-130%);
      transform: translateY(-130%); } }
  .slide__center h1 {
    text-shadow: none; }
  .slide__center a {
    color: white; }
    .slide__center a:before, .slide__center a:after {
      background-color: white; }
  .slide__center.opening h1, .slide__center.opening p, .slide__center.opening a {
    color: black; }
  .slide__center.opening p.subtitle {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 120px;
    margin-top: -25px; }
  .slide__center.opening p {
    padding: 0 18%; }
  .slide__center.opening span {
    background: #DDDDDD;
    display: block;
    height: 1px;
    margin: 60px auto 0;
    width: 250px; }
  .slide__center.opening a {
    background: black;
    color: white;
    margin-top: 50px;
    padding: 15px 30px;
    position: relative;
    top: 70px; }

.slide__bottom {
  position: absolute;
  text-align: center;
  top: 82%;
  width: 100%; }
  @media screen and (max-height: 575px) {
    .slide__bottom {
      top: 66%; } }
  .slide__bottom h3 {
    color: white; }
  .slide__bottom.opening h3 {
    color: black; }

.slide__arrow--right,
.slide__arrow--down {
  margin-bottom: 30px; }
