@import '../../assets/css/src/_variables';

#super-slider {
	max-height: 100vh !important;
	min-height: 100vh !important;

	.slide {

		img {
			height: 100% !important;
			object-fit: cover;
			top: 0 !important;
		}

		&.opening {

			img {
				left: 0 !important;
				width: 100% !important;
			}

			svg {
				cursor: pointer;
			}

			svg g,
			svg g path {
				stroke: black;
			}

			h3.rotate {
				color: black;
			}

			.nav_next li {

				h3 {
					color: #7C7C7C;
				}

				span {
					background: #7C7C7C;
				}

				&.active {

					h3 {
						color: black;
					}

					span {
						background: black;
					}
				}
			}
		}
	}	
}

.slides-navigation {
	position: relative;
	z-index: 99999;

	@media screen and (max-height: 575px) {
		top: 35%;
	}
}

.nav_prev,
.nav_next {
	position: absolute;
	top: 0;
	z-index: 99999;

	a {
		display: block;
		position: relative;
		z-index: 99999;
	}
}

.nav_prev {
	left: 0;
	padding-left: 35px;

	h3 {
		color: white;
		left: 2px;
		top: 120px;
	}
}

.nav_next {
	right: 0;
	padding-right: 35px;

	a {
		text-align: right;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	li span {
		display: block;
		height: 1px;
		margin-top: -13px;
		position: absolute;
		right: 0;
		width: 30px;
	}

	li.active h3 {
		color: white;
	}

	li.active span {
		background: white;
	}

	li:not(.active) h3 {
		color: #cccccc;
	}

	li:not(.active) span {
		background: #cccccc;
	}

	.slide__numbers li {
		cursor: pointer;
	}
}

.slide__center {
	text-align: center;

	@media screen and (max-width: 600px) {
		-webkit-transform: translateY(-80%);
		transform: translateY(-80%);
	}

	@media screen and (max-height: 575px) {
		-webkit-transform: translateY(-130%);
		transform: translateY(-130%);
	}

	h1 {
		text-shadow: none;
	}

	a {
/*		border-bottom: 1px solid white;
*/		color: white;

		&:before {
			background-color: white;
		}

/*		&:hover {
			text-decoration: none;
		}
*/	}

	&.opening {

		h1, p, a {
			color: black;
		}

		p.subtitle {
			font-family: $font-sub-header;
			margin-bottom: 120px;
			margin-top: -25px;
		}

		p {
			padding: 0 18%;
		}

		span {
			background: #DDDDDD;
			display: block;
			height: 1px;
			margin: 60px auto 0;
			width: 250px;
		}

		a {
			background: black;
			color: white;
			margin-top: 50px;
			padding: 15px 30px;
			position: relative;
			top: 70px;
		}
	}
}

.slide__bottom {
	position: absolute;
	text-align: center;
	top: 82%;
	width: 100%;

	@media screen and (max-height: 575px) {
		top: 66%;
	}

	h3 {
		color: white;
	}

	&.opening {

		h3 {
			color: black;
		}
	}
}

.slide__arrow--right,
.slide__arrow--down {
	margin-bottom: 30px;
}