@import '../../assets/css/src/_variables';

#html5-watermark {
	display: none !important;
}

#html5-lightbox-box,
#html5-elem-wrap {
	height: 100% !important;
	margin: 0 !important;
	width: 100% !important;
}

#html5-close-fullscreen {
	top: 20px !important;
	right: 20px !important;
}

#super-slider {
	max-height: 100vh !important;
	min-height: 100vh !important;

	.slide {
	
	list-style-type: none;
	
		img {
			height: 100% !important;
			object-fit: cover;
			top: 0 !important;
		}

		&.opening {

			img {
				left: 0 !important;
				width: 100% !important;

				&.opening-slide-logo {
					margin-bottom: 70px;
					position: static !important;
					width: 500px !important;
					z-index: 99 !important;
					
					@media all and (max-width: 767px) {
						width: 80% !important;
						margin-left: auto;
						margin-right: auto;
						height: auto
					}
					
					@media screen and (max-height: 640px) {
						display: none;
					}
				}
			}

			a:before,
			a:after {
				display: none;
			}

			svg {
				cursor: pointer;
			}

			svg g,
			svg g path {
				stroke: white;
			}

			h3.rotate {
				color: white;
			}

			.nav_next li {

				h3 {
					color: #7C7C7C;
				}

				span {
					background: #7C7C7C;
				}

				&.active {

					h3 {
						color: white;
					}

					span {
						background: white;
					}
				}
			}
		}
	}	
}

.slides-navigation {
	position: relative;
	z-index: 99999;
}

.nav_prev,
.nav_next {
	position: absolute;
	top: 0;
	z-index: 99999;

	@media screen and (max-height: 421px) {
		display: none;
	}

	@media screen and (max-width: 421px) {
		display: none;
	}

	a {
		display: block;
		position: relative;
		z-index: 99999;
	}
}

.nav_prev {
	left: 0;
	padding-left: 35px;

	h3 {
		color: white;
		left: -52px;
		top: 180px;
		text-align: right;
		width: 200px;
	}
}

.nav_next {
	right: 0;
	padding-right: 35px;

	a {
		text-align: right;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	li span {
		display: block;
		height: 1px;
		margin-top: -8px;
		position: absolute;
		right: 0;
		width: 30px;
	}

	li.active h3 {
		color: white;
	}

	li.active span {
		background: white;
	}

	li:not(.active) h3 {
		color: #cccccc;
	}

	li:not(.active) span {
		background: #cccccc;
	}

	.slide__numbers li {
		cursor: pointer;
		margin-bottom: 7.5px;
	}
}

.slide__center {
	text-align: center;

	h1 {
//		text-shadow: none;

		@media screen and (max-width: 992px) {
			font-size: 46px;
		}

		@media screen and (max-width: 555px) {
			font-size: 40px;
			letter-spacing: 2px;
		}
	}

	a {
		color: white;
		position: relative;
		top: 20px;

		&:before,
		&:after {
			background: white;
		}
	}

	&.opening {

		h1, p, a {
			color: white;
		}

		p.subtitle {
			font-family: $font-sub-header;
			margin-bottom: 120px;
			margin-top: -25px;
		}

		p {
			padding: 0 28%;
			font-size: 22px;
			
			@media all and (max-width: 767px) {
				padding: 3%;
				font-size: 18px;
			}
		
			@media all and (max-height: 500px) {
				font-size: 18px;
			}
		}

		span {
			background: #DDDDDD;
			display: block;
			height: 1px;
			margin: 60px auto 0;
			width: 250px;

			@media all and (max-height: 500px) {
				margin-top: 30px;
			}
		}

		a {
			background-color: white;
			color: black;
			margin-top: 50px;
			padding: 15px 30px;
			position: relative;
			top: 70px;

			@media all and (max-height: 500px) {
				top: 35px;
			}
		}
		
		a:hover {
			background-color: darken(#FFF, 20%);
			color: black;
		}
		
	}
}

.slide__bottom {
	position: absolute;
	text-align: center;
	top: 82%;
	width: 100%;

	@media screen and (max-height: 420px) {
		display: none;
	}

	@media screen and (max-width: 421px) {
		display: none;
	}

	h3 {
		color: white;

		@media screen and (max-height: 485px) {
			display: none;
		}
	}
}

.slide__bottom.opening {
	display: none;
}

.slide__arrow--right,
.slide__arrow--down {
	margin-bottom: 30px;
}