/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
#html5-watermark {
  display: none !important; }

#html5-lightbox-box,
#html5-elem-wrap {
  height: 100% !important;
  margin: 0 !important;
  width: 100% !important; }

#html5-close-fullscreen {
  top: 20px !important;
  right: 20px !important; }

#super-slider {
  max-height: 100vh !important;
  min-height: 100vh !important; }
  #super-slider .slide {
    list-style-type: none; }
    #super-slider .slide img {
      height: 100% !important;
      -o-object-fit: cover;
      object-fit: cover;
      top: 0 !important; }
    #super-slider .slide.opening img {
      left: 0 !important;
      width: 100% !important; }
      #super-slider .slide.opening img.opening-slide-logo {
        margin-bottom: 70px;
        position: static !important;
        width: 500px !important;
        z-index: 99 !important; }
        @media all and (max-width: 767px) {
          #super-slider .slide.opening img.opening-slide-logo {
            width: 80% !important;
            margin-left: auto;
            margin-right: auto;
            height: auto; } }
        @media screen and (max-height: 640px) {
          #super-slider .slide.opening img.opening-slide-logo {
            display: none; } }
    #super-slider .slide.opening a:before,
    #super-slider .slide.opening a:after {
      display: none; }
    #super-slider .slide.opening svg {
      cursor: pointer; }
    #super-slider .slide.opening svg g,
    #super-slider .slide.opening svg g path {
      stroke: white; }
    #super-slider .slide.opening h3.rotate {
      color: white; }
    #super-slider .slide.opening .nav_next li h3 {
      color: #7C7C7C; }
    #super-slider .slide.opening .nav_next li span {
      background: #7C7C7C; }
    #super-slider .slide.opening .nav_next li.active h3 {
      color: white; }
    #super-slider .slide.opening .nav_next li.active span {
      background: white; }

.slides-navigation {
  position: relative;
  z-index: 99999; }

.nav_prev,
.nav_next {
  position: absolute;
  top: 0;
  z-index: 99999; }
  @media screen and (max-height: 421px) {
    .nav_prev,
    .nav_next {
      display: none; } }
  @media screen and (max-width: 421px) {
    .nav_prev,
    .nav_next {
      display: none; } }
  .nav_prev a,
  .nav_next a {
    display: block;
    position: relative;
    z-index: 99999; }

.nav_prev {
  left: 0;
  padding-left: 35px; }
  .nav_prev h3 {
    color: white;
    left: -52px;
    top: 180px;
    text-align: right;
    width: 200px; }

.nav_next {
  right: 0;
  padding-right: 35px; }
  .nav_next a {
    text-align: right; }
  .nav_next ul {
    padding-left: 0; }
  .nav_next li {
    list-style: none; }
  .nav_next li span {
    display: block;
    height: 1px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    width: 30px; }
  .nav_next li.active h3 {
    color: white; }
  .nav_next li.active span {
    background: white; }
  .nav_next li:not(.active) h3 {
    color: #cccccc; }
  .nav_next li:not(.active) span {
    background: #cccccc; }
  .nav_next .slide__numbers li {
    cursor: pointer;
    margin-bottom: 7.5px; }

.slide__center {
  text-align: center; }
  @media screen and (max-width: 992px) {
    .slide__center h1 {
      font-size: 46px; } }
  @media screen and (max-width: 555px) {
    .slide__center h1 {
      font-size: 40px;
      letter-spacing: 2px; } }
  .slide__center a {
    color: white;
    position: relative;
    top: 20px; }
    .slide__center a:before, .slide__center a:after {
      background: white; }
  .slide__center.opening h1, .slide__center.opening p, .slide__center.opening a {
    color: white; }
  .slide__center.opening p.subtitle {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 120px;
    margin-top: -25px; }
  .slide__center.opening p {
    padding: 0 28%;
    font-size: 22px; }
    @media all and (max-width: 767px) {
      .slide__center.opening p {
        padding: 3%;
        font-size: 18px; } }
    @media all and (max-height: 500px) {
      .slide__center.opening p {
        font-size: 18px; } }
  .slide__center.opening span {
    background: #DDDDDD;
    display: block;
    height: 1px;
    margin: 60px auto 0;
    width: 250px; }
    @media all and (max-height: 500px) {
      .slide__center.opening span {
        margin-top: 30px; } }
  .slide__center.opening a {
    background-color: white;
    color: black;
    margin-top: 50px;
    padding: 15px 30px;
    position: relative;
    top: 70px; }
    @media all and (max-height: 500px) {
      .slide__center.opening a {
        top: 35px; } }
  .slide__center.opening a:hover {
    background-color: #cccccc;
    color: black; }

.slide__bottom {
  position: absolute;
  text-align: center;
  top: 82%;
  width: 100%; }
  @media screen and (max-height: 420px) {
    .slide__bottom {
      display: none; } }
  @media screen and (max-width: 421px) {
    .slide__bottom {
      display: none; } }
  .slide__bottom h3 {
    color: white; }
    @media screen and (max-height: 485px) {
      .slide__bottom h3 {
        display: none; } }

.slide__bottom.opening {
  display: none; }

.slide__arrow--right,
.slide__arrow--down {
  margin-bottom: 30px; }
