/************************************************************************************************************************
	News - Post view
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
/********** News Item Card ********/
.news__item {
  width: 80%;
  margin: auto;
  background-color: #FFF;
  margin-bottom: 5%;
  margin-top: 4%;
  padding: 4%;
  position: relative; }
  .news__item .news__item__category {
    font-size: 14px;
    color: #a5a5a5;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    top: 0px;
    left: -6%;
    float: left;
    -webkit-transform-origin: left;
    transform-origin: left; }
  .news__item .news__item__heading a h2 {
    text-transform: capitalize; }
