 /************************************************************************************************************************
	News - Post view
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

@import '../../assets/css/src/_variables';
@import '../../assets/css/src/_utilities'; 

.news-posts {
}

/********** News Item Card ********/ 

.news__item {
	width: 80%;
	margin: auto;
	background-color: #FFF;
	margin-bottom: 6%;
	margin-top: 5%;
	position: relative;	
}

/********** Links & Hover Effect********/ 


body .news__item a {
	display: block;
	padding: 0;
	padding: 1%;
	box-sizing: border-box;
	color: $copy-colour;
}

.news__item a:hover {
	@extend .box-shadow;
}

/********** Box Border ********/ 


.news__item__box {
	border: 1px white solid;
	padding: 4%;
	@extend .transition-all;
}

.news__item a:hover .news__item__box {
	border: 1px #f6f6f6 solid;
}


/********** Layout ********/ 

.news__item__contact-wrap {
	display: table-cell;
	width: 70%;
	vertical-align: middle;
	padding-left: 4%;
	padding-right: 6%;
}
.news__item__image-wrap {
	display: table-cell;
	width: 30%;
	margin-left: -7px;
	text-align: right;
	vertical-align: top;
}



/********** Post Info ********/ 	

.news__item__category {
	font-size: 14px;
	color: $light-grey-text;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-family: $font-sub-header;
	
	position: absolute;
	top: 0;
	right: 100%;
	white-space: nowrap;
	transform-origin: left top;
} 

.news__item__heading h2 {
	text-transform: capitalize;
	font-size: 36px;
	letter-spacing: 1.5px;
}

.news__item__date {
	font-size: 12px;
	text-transform: uppercase;
	color: $light-grey-text;
	font-family: $font-sub-header;
	letter-spacing: 4px;
	margin-top: 1%;
}

.news__item__excerpt {
	text-transform: none;
	font-family: $font-copy;
	letter-spacing: 0px;
	margin-top: 7%;
}



/********** Image ********/ 


.news__item__image img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	
}










