/************************************************************************************************************************
	News - Post view
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow, .news__item a:hover {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all, .news__item__box, .news__item__category-line {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

.rotated-text {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  white-space: nowrap;
  transform-origin: right top;
  transform: rotate(270deg); }

/********** News Item Card ********/
.news__item {
  max-width: 1300px;
  width: 80%;
  margin: auto;
  background-color: #FFF;
  margin-bottom: 6%;
  margin-top: 5%;
  position: relative; }

/********** Links & Hover Effect********/
body .news__item a {
  display: block;
  padding: 0;
  padding: 1%;
  box-sizing: border-box;
  color: #1e1e1e;
  text-decoration: none; }

.news__item a:hover {
  text-decoration: none; }

/********** Box Border ********/
.news__item__box {
  border: 1px white solid;
  padding: 4%; }

.news__item a:hover .news__item__box {
  border: 1px #f6f6f6 solid; }

/********** Layout ********/
.news__item__contact-wrap {
  display: table-cell;
  width: 70%;
  vertical-align: middle;
  padding-left: 4%;
  padding-right: 6%; }
  @media screen and (max-width: 768px) {
    .news__item__contact-wrap {
      display: block;
      padding-right: 4%;
      width: 100%; } }

.news__item__image-wrap {
  display: table-cell;
  width: 30%;
  margin-left: -7px;
  text-align: right;
  vertical-align: top; }
  @media screen and (max-width: 768px) {
    .news__item__image-wrap {
      display: block;
      width: 100%;
      margin-top: 15px;
      padding-left: 4%;
      padding-right: 4%;
      margin-left: 0; } }

/********** Rotated Category ********/
.news__item__category {
  font-size: 14px;
  color: #bfbfbf;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  right: 109%;
  white-space: nowrap;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }
  @media screen and (max-width: 768px) {
    .news__item__category {
      display: none; } }

.news__item__category-line {
  width: 25px;
  height: 1px;
  position: absolute;
  top: 1%;
  right: 110%;
  white-space: nowrap;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  background-color: #cbcbcb;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
  opacity: 0; }

.news__item:hover .news__item__category-line {
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1; }

/********** Post Info ********/
.news__item__heading h2 {
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 1.5px; }
  @media screen and (max-width: 768px) {
    .news__item__heading h2 {
      line-height: 1.4;
      padding-bottom: 10px; } }

.news__item__date {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  margin-top: 1%; }

.news__item__excerpt {
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  margin-top: 7%; }

/********** Image ********/
.news__item__image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
