/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

$accent-color: #978f45;
$light-grey-bg: #f8f8f8;

$main-navigation-color: #161616;
$main-body-text-color: #686868;
$main-heading-color: #3b3a3a;

// Typography 
$font-family-heading: 'Playfair Display', serif;
$font-family-heading: 'Montserat', serif;
$font-family-copy: 'Open Sans', sans-serif;

/* Typography */
$font-crucial    : 'DIN', sans-serif;
$font-header     : 'Playfair Display', serif;
$font-sub-header : 'Montserrat', sans-serif;
$font-copy       : 'Open Sans', sans-serif;