/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

$accent-color: #978f45;
$light-grey-bg: #f8f8f8;

$page-header-background: #383838;

$main-navigation-color: #161616;
$main-body-text-color: #686868;
$main-heading-color: #3b3a3a;

/* Colors */
$color-coir-main     : #B28865;
$color-coir-dark     : #6F533D;
$color-jute-main     : #907259;
$color-jute-dark     : #4B3B2E;
$color-seagrass-main : #A99A71;
$color-seagrass-dark : #6B6551;
$color-sisool-main   : #A9A791;
$color-sisal-main    : #6D7C61;
$color-sisal-dark    : #454F44;
$color-sisool-dark   : #817E62;
$color-wool-main     : #EBD5B7;
$color-wool-dark     : #665F4D;

/* Typography */
$font-crucial    : 'DIN', sans-serif;
$font-header     : 'Playfair Display', serif;
$font-sub-header : 'Montserrat', sans-serif;
$font-copy       : 'Open Sans', sans-serif;


/* Main Navigation & Footer */ 
$main-menu-bg-color: #2d2d2d;
$main-menu-border-color: #3e3e3e;
$main-menu-link-color: #a0a0a0;
$main-menu-link-color-dark: darken($main-menu-link-color, 10%);