/************************************************************************************************************************
	
	Crucial Trading - SASS Master File
	
	Created by: KIJO Creative <hello@kijo.co>
	
*************************************************************************************************************************/

// Fonts
@import 'typography/_fonts.scss';
@import '_iconfont.scss';

// Variables
@import '_defaults.scss';

// Variables
@import '_variables.scss';

// Utilities
@import '_utilities.scss';

// Typography
@import 'typography/_headings.scss';
@import 'typography/_copy.scss';

// Forms
@import 'forms/_form-general.scss';

// Pages
@import './pages/*.scss';

// Patterns
@import '../../../patterns/*/*.scss';

.basket-dropdown {
	background: white;
	box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);
	opacity: 0;
	min-width: 350px;
	padding: 25px;
	position: absolute;
	right: 100px;
	top: 90px;
	transition: all ease-in-out 0.25s;
	-webkit-transition: all ease-in-out 0.25s;
	visibility: hidden;
	z-index: 999;

	@media screen and (max-width: 500px) {
		min-width: initial;
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}

	h2 {
		font-size: 36px;
	}

	span {
		background: #e8e8e8;
		display: block;
		height: 2px;
		margin-bottom: 30px;
		margin-top: 20px;
		width: 75px;
	}

	.main-menu__button__icon {
		background: transparent;
		width: 30px;
		margin-top: 0;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		position: relative;

		&:before,
		&:after {
			background: #383838;
			left: 0;
			position: absolute;
			top: 0;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	a.close-basket-dropdown {
		position: absolute;
		right: 25px;
		top: 25px;

		@media screen and (max-width: 467px) {
			right: 10px;
			top: 10px;
		}
	}

	.order__name,
	.order__remove {
		display: inline-block
	}

	.order__remove {
		margin-top: -9px;
		position: absolute;
		right: 0;

		a {
			font-size: 24px;
		}
	}

	.cart_totals {

		h2, table {
			display: none;
		}
	}

	a.remove {
		border-radius: none;
		color: black !important;
		display: initial;
		font-size: auto;
		font-weight: auto;
		height: auto;
		line-height: 45.6px;
		text-align: center;
		width: auto;

		&:hover {
			color: black !important;
			background: transparent;
		}
	}

	a.checkout-button.button {
		display: block;
		font-weight: 400;
		line-height: 26.6px;
		margin-top: 60px;
		text-align: center;
	}
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	float: none;
}

.show-menu .basket-dropdown {
	right: 470px;
	position: fixed;
	transition: all ease-in-out 0.25s;
}

/*

.basketPopup {
	background: white;
	display: none;
	height: 150px;
	margin-left: calc(50vw - 250px);
	padding: 40px 25px;
	position: fixed;
	top: calc(50vh - 75px);
	width: 500px;
	z-index: 999;

	#close-basket-popup {
		font-size: 11px;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.basketMessage a {
		font-family: "Open Sans",sans-serif;
		font-size: 17px;
		font-weight: bold;
		letter-spacing: .5px;
		line-height: 1.8;
		text-transform: lowercase;
	}
}

*/