/************************************************************************************************************************
	
	Crucial Trading - SASS Master File
	
	Created by: KIJO Creative <hello@kijo.co>
	
*************************************************************************************************************************/

// Fonts
@import 'typography/_fonts.scss';
@import '_iconfont.scss';

// Variables
@import '_variables.scss';

// Utilities
@import '_utilities.scss';

// Typography
@import 'typography/_headings.scss';
@import 'typography/_copy.scss';

// Forms
@import 'forms/_form-general.scss';

// Pages
@import './pages/*.scss';

// Patterns
@import '../../../patterns/*/*.scss';

.basketPopup {
	background: white;
	display: none;
	height: 150px;
	margin-left: calc(50vw - 250px);
	padding: 40px 25px;
	position: fixed;
	top: calc(50vh - 75px);
	width: 500px;
	z-index: 999;

	#close-basket-popup {
		font-size: 11px;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.basketMessage a {
		font-family: "Open Sans",sans-serif;
		font-size: 17px;
		font-weight: bold;
		letter-spacing: .5px;
		line-height: 1.8;
		text-transform: lowercase;
	}
}