@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tb9kim');
  src:  url('fonts/icomoon.eot?tb9kim#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tb9kim') format('truetype'),
    url('fonts/icomoon.woff?tb9kim') format('woff'),
    url('fonts/icomoon.svg?tb9kim#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crucial-coir:before {
  content: "\e921";
}
.icon-crucial-seagrass:before {
  content: "\e922";
}
.icon-crucial-sisool:before {
  content: "\e923";
}
.icon-crucial-jute:before {
  content: "\e924";
}
.icon-crucial-wool:before {
  content: "\e925";
}
.icon-crucial-cm:before {
  content: "\e90c";
}
.icon-crucial-light:before {
  content: "\e90d";
}
.icon-crucial-stairs:before {
  content: "\e915";
}
.icon-crucial-backing:before {
  content: "\e916";
}
.icon-crucial-heavy:before {
  content: "\e917";
}
.icon-crucial-mail:before {
  content: "\e90a";
}
.icon-crucial-instagram:before {
  content: "\e90b";
}
.icon-crucial-left-arrow:before {
  content: "\e909a";
}
.icon-crucial-right-arrow:before {
  content: "\e909";
}
.icon-crucial-basket:before {
  content: "\e900";
}
.icon-crucial-changeview:before {
  content: "\e901";
}
.icon-crucial-facebook:before {
  content: "\e902";
}
.icon-crucial-measurement:before {
  content: "\e903";
}
.icon-crucial-metres:before {
  content: "\e904";
}
.icon-crucial-search:before {
  content: "\e905";
}
.icon-crucial-tumblr:before {
  content: "\e906";
}
.icon-crucial-twitter:before {
  content: "\e907";
}
.icon-crucial-underlay:before {
  content: "\e908";
}

