
@media screen and (max-width: 450px) {

       .container.container-A {
        height: calc(100vh - 53px)
    }
   
    .modal-login.modal-login-A {
        position: absolute;
        width: 100vw;
        height: 870px;
        top: 0 !important;
        left: 0 !important;
        transform: none
    } 
    .modal-login.modal-login-A > input {
        width: 80%;
    }
    .button-basket-login.button-basket-login-A {
        left: 30px !important;
        top: 293px;
        /* width: 300px; */
    }
    .login-button-A5 {
        width: 80% !important;
    }
    
}