@import './login-modal-responsive.css';

.modal-login {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    height: 499px;
    width: 532px;
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding-top: 34px;
}

.button-back-login {
    position: absolute;
    left: 70px;
    top: 54px;
    cursor: pointer;
}

.login-header-text {
    color: #353535;
    font-family: Playfair Display, sans-serif;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #353535;
    margin-bottom: 58px;
}

.input-login {
    height: 38px;
    width: 390px;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
    color: #919191;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 24px;
}

.free-swatch-samples-login {
    margin-top: 16px;
    color: #181818;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 25px;
    cursor: pointer;
}

.button-basket-login {
    position: absolute;
    left: 122px;
    top: 293px;
}

.free-swatch-samples-checkmark-login {
    position: absolute;
    left: 139px;
    top: 293px;
    width: 10px;
    height: 25px;
    border: solid #353535;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9999;
}



.login-button {
    height: 61px;
    width: 390px;
    background-color: #353535;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 23px;
    cursor: pointer;
}

.forgotten-password {
    color: #181818;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}


