/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.share-links {
  padding: 25px 12.5%;
  position: relative; }
  .share-links .share-title {
    left: 0;
    position: absolute;
    top: 45px; }
    @media screen and (max-width: 768px) {
      .share-links .share-title {
        display: none; } }
    .share-links .share-title span {
      display: block;
      height: 2px;
      width: 30px; }
    .share-links .share-title h3 {
      margin-left: 15px; }
    .share-links .share-title.coir span {
      background: rgba(111, 83, 61, 0.5); }
    .share-links .share-title.coir h3 {
      color: rgba(111, 83, 61, 0.5); }
    .share-links .share-title.jute span {
      background: rgba(75, 59, 46, 0.5); }
    .share-links .share-title.jute h3 {
      color: rgba(75, 59, 46, 0.5); }
    .share-links .share-title.seagrass span {
      background: rgba(107, 101, 81, 0.5); }
    .share-links .share-title.seagrass h3 {
      color: rgba(107, 101, 81, 0.5); }
    .share-links .share-title.sisal span {
      background: rgba(69, 79, 68, 0.5); }
    .share-links .share-title.sisal h3 {
      color: rgba(69, 79, 68, 0.5); }
    .share-links .share-title.sisool span {
      background: rgba(129, 126, 98, 0.5); }
    .share-links .share-title.sisool h3 {
      color: rgba(129, 126, 98, 0.5); }
    .share-links .share-title.wool span {
      background: rgba(102, 95, 77, 0.5); }
    .share-links .share-title.wool h3 {
      color: rgba(102, 95, 77, 0.5); }
  .share-links .link__container {
    float: left;
    text-align: center;
    width: 25%; }
    @media screen and (max-width: 768px) {
      .share-links .link__container {
        margin-bottom: 10px;
        width: 100%; } }
    .share-links .link__container.coir i, .share-links .link__container.coir a {
      color: rgba(111, 83, 61, 0.5); }
    .share-links .link__container.coir:hover i, .share-links .link__container.coir:hover a {
      color: #6F533D; }
    .share-links .link__container.jute i, .share-links .link__container.jute a {
      color: rgba(75, 59, 46, 0.5); }
    .share-links .link__container.jute:hover i, .share-links .link__container.jute:hover a {
      color: #4B3B2E; }
    .share-links .link__container.seagrass i, .share-links .link__container.seagrass a {
      color: rgba(107, 101, 81, 0.5); }
    .share-links .link__container.seagrass:hover i, .share-links .link__container.seagrass:hover a {
      color: #6B6551; }
    .share-links .link__container.sisal i, .share-links .link__container.sisal a {
      color: rgba(69, 79, 68, 0.5); }
    .share-links .link__container.sisal:hover i, .share-links .link__container.sisal:hover a {
      color: #454F44; }
    .share-links .link__container.sisool i, .share-links .link__container.sisool a {
      color: rgba(129, 126, 98, 0.5); }
    .share-links .link__container.sisool:hover i, .share-links .link__container.sisool:hover a {
      color: #817E62; }
    .share-links .link__container.wool i, .share-links .link__container.wool a {
      color: rgba(102, 95, 77, 0.5); }
    .share-links .link__container.wool:hover i, .share-links .link__container.wool:hover a {
      color: #665F4D; }
  .share-links .link__icon {
    display: block;
    margin-bottom: 20px; }
