.top-bar {
  background: transparent;
  height: 100px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9998; }

.top-bar__left,
.top-bar__right {
  position: absolute !important; }

.top-bar__left {
  left: 40px; }
  @media screen and (max-width: 768px) {
    .top-bar__left {
      top: 42% !important; } }
  @media screen and (max-width: 350px) {
    .top-bar__left {
      left: 20px; } }

.top-bar__right {
  right: 40px; }
  .top-bar__right h3 {
    color: white; }
    @media screen and (max-width: 480px) {
      .top-bar__right h3 {
        display: none; } }
  .top-bar__right .burger {
    left: -45px;
    position: absolute;
    top: 2px; }
    .top-bar__right .burger span {
      background: white;
      border-radius: 5px;
      display: block;
      height: 2px;
      margin-bottom: 5px;
      width: 31px; }
    @media screen and (max-width: 480px) {
      .top-bar__right .burger {
        left: 0;
        top: -7px; } }

@media screen and (min-width: 768px) {
  .mobi-logo {
    display: none; } }

@media screen and (max-width: 767px) {
  .full-logo {
    display: none; } }
