.top-bar {
	background: transparent;
	height: 100px;
	position: fixed;
	top: 0;
	width: 100%; 
	z-index: 9998;
}

body:not(.page-template-home) .top-bar {
	background: #383838;
}

.show-menu .top-bar {
	
	@media screen and (max-width: 450px) {
		margin-left: 80%;
		width: 20%;
		z-index: 10000;

		&.-relative {
			position: relative;
		}
	}
}

.top-bar__left,
.top-bar__right {
	position: absolute !important;
}

.top-bar__left {
	left: 40px;
	opacity: 1;
	transition: all ease-in-out 0.25s;

	@media screen and (max-width: 768px) {
		top: 42% !important;
	}

	@media screen and (max-width: 460px) {
		left: 20px;
		width: 175px;
	}

	@media screen and (max-width: 371px) {
		left: 10px;
		width: 140px;
	}
}

.show-menu .top-bar__left {

	@media screen and (max-width: 800px) {
		left: 20px;
		width: 175px;
	}

	@media screen and (max-width: 700px) {
		opacity: 0;
	}
}

.top-bar__right {
	right: 40px;

	h3 {
		color: white;

		@media screen and (max-width: 480px) {
			display: none;
		}
	}
}

@media screen and (min-width: 768px) {

	.mobi-logo {
		display: none;
	}
}

@media screen and (max-width: 767px) {

	.full-logo {
		display: none;
	}
}

.headroom {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    will-change: transform,opacity
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.headroom.headroom--pinned {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
    -webkit-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-100%)
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.headroom.headroom--unpinned {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
    -webkit-animation-name: slideUp;
    animation-name: slideUp
}