.top-bar {
  background: transparent;
  height: 100px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9998; }
  @media screen and (max-width: 450px) {
    .top-bar {
      z-index: 10000; } }

.top-bar__left,
.top-bar__right {
  position: absolute !important; }

.top-bar__left {
  left: 40px;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s; }
  @media screen and (max-width: 768px) {
    .top-bar__left {
      top: 42% !important; } }
  @media screen and (max-width: 421px) {
    .top-bar__left {
      left: 20px;
      width: 175px; } }
  @media screen and (max-width: 371px) {
    .top-bar__left {
      left: 10px;
      width: 140px; } }

@media screen and (max-width: 800px) {
  .show-menu .top-bar__left {
    left: 20px;
    width: 175px; } }

@media screen and (max-width: 700px) {
  .show-menu .top-bar__left {
    opacity: 0; } }

.top-bar__right {
  right: 40px; }
  .top-bar__right h3 {
    color: white; }
    @media screen and (max-width: 480px) {
      .top-bar__right h3 {
        display: none; } }

@media screen and (min-width: 768px) {
  .mobi-logo {
    display: none; } }

@media screen and (max-width: 767px) {
  .full-logo {
    display: none; } }
