.order {
	background: white;
	bottom: 0;
	left: 0;
	padding: 50px 75px;
	position: absolute;
	right: 0;
	top: 161px;
	z-index: 9;

	.order__title {
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	.order__underline {
		background: #dedede;
		display: block;
		height: 2px;
		margin-bottom: 50px;
		width: 75px;
	}

	.order__image,
	.order__details {
		box-sizing: border-box;
		float: left;
		width: 50%;
	}

	.order__image {
		padding-right: 30px;

		@media screen and (max-width: 992px) {
			float: none;
		}

		img {
			height: auto;
			width: 100%;
		}
	}

	.order__details {
		padding-left: 30px;

		@media screen and (max-width: 992px) {
			float: none;
			width: 100%;
		}
	}

	.details__row {
		border-bottom: 1px solid #DADADA;
		padding: 15px 0;

		&.header {
			border-bottom: 2px solid #A2A2A2;
			padding-top: 0;

			&.sizing {
				margin-top: 140px;
			}
		}

		h3:first-child,
		p:first-child {
			float: left;
			width: 70%;
		}

		h3:last-child,
		p:last-child {
			float: left;
			width: 30%;
		}
	}

	.order__links {
		margin-top: 40px;

		a {
			position: absolute;
		}
	}

	.link__edit {

		img {
			margin-right: 10px;
			position: relative;
			top: 2px;
		}
	}

	.link__edit,
	.link__print,
	.link__order {
		margin-top: 10px;
	}

	.link__print {
		left: calc(((100% - 150px) / 2) - 33px);
		text-align: right;
		transform: translateX(-50%);
	}

	.link__order {
		right: calc(((100% - 150px) / 2) - 46px);
		transform: translateX(50%);
	}

	.link__basket {
		background: #383838;
		color: white;
		padding: 20px;
		right: 75px;
	}
}



















