.price__container {
	left: calc(50% - 100px);
	position: absolute;
	text-align: center;
	top: 75%;
	width: 200px;
	z-index: 8;

	h3 {
		background: white;
		color: #383838;
		font-size: 22px;
		padding: 10px 0;
		width: 100%;
	}

	a {
		background: #383838;
		color: white;
		display: block;
		font-size: 14px;
		padding: 10px 0;
		width: 100%;
	}
}