#progress-menu {
	background: white;
	-webkit-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	-moz-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	max-height: 161px;
	position: relative;
	z-index: 10;
}

.progress-menu__top {
	padding: 15px;
	position: relative;

	.progress-menu__restart,
	.progress-menu__exit {
		color: transparentize($main-menu-link-color, 0.25);
		font-size: 12px;
		padding: 0;
		position: absolute;

		img {
			position: relative;
			top: 3.5px;
			right: 10px;
		}

		@media screen and (max-width: 550px) {
			display: none;
		}
	}

	.progress-menu__restart {
		right: 115px;
	}

	.progress-menu__exit {
		right: 15px;
	}
}

.progress-menu__bottom {
	padding: 10px 100px 38px;

	@media screen and (max-width: 992px) {
		padding: 40px 0;
	}

	@media screen and (max-width: 768px) {
		padding: 0 0 20px 0;
	}

	.progress-menu__stages {
		display: flex;
		margin: 0;
		padding: 0;

		@media screen and (max-width: 768px) {
			overflow-x: scroll;
			padding-bottom: 10px;
		}
	}

	.progress-menu__stage {
		display: flex;
		flex-basis: 0;
		flex-direction: row;
		flex-grow: 1;

		@media screen and (max-width: 768px) {
			flex: 0 0 150px;
			padding: 0 20px;
		}

		&::before,
		&::after {
			background: transparent;
			bottom: -5px;
			content: '';
			height: 2px;
			left: 0;
			position: absolute;
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
			width: 100%;
			z-index: 5;
		}

		&::before {
			opacity: 0.45;
		}

		&::after {
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			visibility: hidden;
		}

		&:hover::after {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}

		&.active {

			.progress-menu__stage__link {
				color: black;
				margin: auto;
				padding-bottom: 4px;
				width: auto;

				&::before,
				&::after {
					background: #000;
					bottom: -5px;
					content: '';
					height: 2px;
					left: 0;
					position: absolute;
					-webkit-transition: all 0.3s ease-in-out 0s;
					transition: all 0.3s ease-in-out 0s;
					width: 100%;
					z-index: 5;
				}

				&::before {
					opacity: 0.45;
				}

				&::after {
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					visibility: hidden;
				}

				&:hover::after {
					visibility: visible;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
			}
		}
	}

	.progress-menu__stage__link {
		color: $main-menu-link-color;
		display: block;
		font-size: 14px;
		margin: auto;
		text-align: center;
		padding: 0;
	}
}