/**
 * SASS - Footer  
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */

@import '../../assets/css/src/_variables.scss';
@import '../../assets/css/src/_utilities.scss';

footer {
	padding-left: 10%;
	padding-right: 10%;
	background-color: $main-menu-bg-color;
	height: 400px;
}