/**
 * Main Website Footer 
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */

@import '../../assets/css/src/_variables.scss';
@import '../../assets/css/src/_utilities.scss';


footer {
	//padding-left: 12%;
	//padding-right: 12%;
	padding-top: 6%;
	background-color: $main-menu-bg-color;
	position: relative;
	
	@media all and (max-width: 992px) {
		padding-top: 12%;
	}
	
}

/************** Footer Columns **************/ 

.footer-columns {
	width: 80%;
	margin: auto;
}

.footer__col {
	padding: 0;
}

.footer__col--nav-1 {
	padding-left: 5%;
}

.footer__col--nav-2 {
	padding-left: 8.5%;
}

@media all and (max-width: 767px) {
	
	.footer__col--nav-1 {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	
	.footer__col--nav-1, 
	.footer__col--nav-2 {
		padding-left: 0;
	}

}

/************** Footer Social Columns **************/ 

.footer__col--social ul li a {
	position: relative;
	width: 60%;
}

.footer__col--social i {
	font-size: 21px;
	position: absolute;
	left: 210px;
	top: 15px;
	
	@media all and (max-width: 1024px) {
		left: 185px;
	}
}


/************** Footer Decorative Line **************/ 

.footer__line {
	height: 1px;
	width: 75px;
	background-color: $main-menu-link-color;
	position: absolute;
	top: 17%;
	left: 0;
	opacity: 0.2;
	
	@media all and (max-width: 769px) {
		display: none;
	}
	
}


/************** Footer Menu Links **************/ 

.footer__col ul {
	margin: 0;
	padding: 0;
}

.footer__col ul li {
	display: block;
}

.footer__col a {
	font-size: 16px;
	display: inline-block;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: $main-menu-link-color-dark;
	font-weight: 400;
	padding: 15px;
	transition: color background-color ease-in-out 0.25s;
	transform: translate(0,0);
	
	@media all and (max-width: 767px) {
		font-size: 15px;
		padding: 10px;
		padding-left: 0;
	}
	
}

.footer__col a:hover {
	color: #FFF;
	transform: translate(5px,0);
	-webkit-transform: translate(5px,0);
}

/*** Footer Links Hover Line ***/ 

.footer__col a::after {
	width: 20px;
	height: 1px;
	position: absolute;
	left: -20px;
	top: 50%;
	content: ' ';
	background-color: darken($main-menu-link-color-dark, 15%);
	transform: translate(20px, 0);
	opacity: 0;
	@extend .transition-all;
}

.footer__col a:hover::after,
.footer__col a.active::after {
	transform: translate(0, 0);
	opacity: 0.6;
}

/************** Copyright & Design Credit **************/ 

.footer__info {
	display: block;
	width: 80%;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 2.5%;
	
	@media all and (max-width: 992px) {
		padding-top: 9%;
		padding-bottom: 5%;
	}
	
}

.footer__info,
.footer__info a {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: darken($main-menu-link-color, 25%);
	font-family: $font-sub-header;
		
	@media all and (max-width: 767px) {
		font-size: 13px;
	}
	
}

.footer__info__contact-details, 
.footer__info__design {
	display: inline-block;
}

.footer__info__contact-details {
	width:80%;
}

.footer__info__design {
	width:19%;
	text-align: right;
}

.footer__info--copyright,
.footer__info--address,
.footer__info--phone,
.footer__info--design-agency a {
	padding: 0;
	display: block;
}

.footer__info--copyright {
	margin-right: 45px;
	
	@media all and (max-width: 767px) {
		margin-right: 0px;
	}
	
}


.footer__info--design-agency {
	
	margin-left: 0px;
	padding-top: 2%;
	width: 20%;
	
	@media all and (max-width: 767px) {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

}

.footer__info--design-agency a:hover {
	color: #FFF;
}


