/**
 * Main Website Footer 
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow {
  -webkit-box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08);
  box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

footer {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 5%;
  background-color: #2d2d2d;
  position: relative; }

/************** Footer Columns **************/
.footer__col {
  padding: 0; }

.footer__col--nav-1 {
  padding-left: 5%; }

.footer__col--nav-2 {
  padding-left: 8.5%; }

@media all and (max-width: 769px) {
  .footer__col--nav-1 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .footer__col--nav-1,
  .footer__col--nav-2 {
    padding-left: 0; } }

/************** Footer Social Columns **************/
.footer__col--social ul li a {
  position: relative; }

.footer__col--social i {
  font-size: 21px;
  position: absolute;
  left: 210px;
  top: 15px; }

/************** Footer Decorative Line **************/
.footer__line {
  height: 2px;
  width: 90px;
  background-color: #a0a0a0;
  position: absolute;
  top: 19%;
  left: 0;
  opacity: 0.2; }

/************** Footer Menu Links **************/
.footer__col ul {
  margin: 0;
  padding: 0; }

.footer__col ul li {
  display: block; }

.footer__col a {
  font-size: 16px;
  display: inline-block;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #878787;
  font-weight: 400;
  padding: 15px;
  -webkit-transition: color background-color ease-in-out 0.25s;
  transition: color background-color ease-in-out 0.25s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
  @media all and (max-width: 769px) {
    .footer__col a {
      font-size: 15px;
      padding: 10px;
      padding-left: 0; } }

.footer__col a:hover {
  color: #FFF;
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0); }

/*** Footer Links Hover Line ***/
/*.footer__col a::after {
	width: 23px;
	height: 2px;
	position: absolute;
	left: -20px;
	top: 50%;
	content: ' ';
	background-color: darken($main-menu-link-color-dark, 15%);
	transform: translate(20px, 0);
	opacity: 0;
	@extend .transition-all;
}

.footer__col a:hover::after,
.footer__col a.active::after {
	transform: translate(0, 0);
	opacity: 1;
}*/
/************** Copyright & Design Credit **************/
.footer__info {
  display: block;
  padding-top: 5%;
  padding-bottom: 2.5%; }
  @media all and (max-width: 992px) {
    .footer__info {
      padding-top: 5%;
      padding-bottom: 5%; } }

.footer__info--copyright,
.footer__info--design-agency a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #606060;
  font-family: "Montserrat", sans-serif;
  padding: 0; }

.footer__info--copyright {
  margin-right: 45px; }

@media all and (max-width: 769px) {
  .footer__info--design-agency {
    display: block;
    margin-top: 15px; } }

.footer__info--design-agency a:hover {
  color: #FFF; }
