@import '../../assets/css/src/_utilities';

.page-template-inspiration {
	
	background: #383838;
	
	.inspiration-content {
		margin-top: -120px;
		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 992px) {
			margin-top: -200px;
		}
	}

	.inspiration__social {
		position: relative;

		.timeline__centre-line,
		.timeline__event__line {

			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}

	.social__posts {
		background: #383838;
		padding-bottom: 150px;
		max-width: 1300px;

		@media screen and (max-width: 992px) {
			padding-bottom: 223px;
		}
	}

	.timeline__event {
		display: inline-block;
		float: none;
		margin-bottom: 140px;
		padding-left: 6%;
		padding-right: 6%;
		top: 160px;
		z-index: 999;

		@media screen and (max-width: 992px) {
			top: 233px;
		}

		@media screen and (max-width: 768px) {
			display: block;
			width: 100%;
		}

		&:nth-child(even),
		&:nth-child(odd) {
			margin-top: 0;
		}

		&:nth-child(even) {
//			top: 160px;

			& i {
				left: calc(12% + 40px);
			}
		}

		&:nth-child(odd) {
//			top: 110px;

			& i {
				right: calc(12% + 40px);
			}
		}

		i {
			color: white;
			position: absolute;
			top: 40px;
			z-index: 4;
			font-size: 22px;
		}
	}

	.timeline__event.twitter-post {
		
		// Timeline Event Container
		
		.timeline__event_container {
			overflow: hidden;
			position: relative;
		}
		
		.timeline__event_container:hover .timeline__text_container,
		.timeline__event_container:hover .twitter__shadow {
			opacity: 1;
		}
		
		// Image 
		
		.twitter__image {
			box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.5);
			object-fit: cover;
			position: relative;
			width: 100%;
			z-index: 1;
		}
		
		.timeline__text_container {
			position: absolute;
			bottom: 80px;
			left: 50px;
			right: 50px;
			z-index: 3;
			opacity: 0;
			transition: all ease-in-out 0.35s;
			-webkit-transition: all ease-in-out 0.35s;
		}
		
		.twitter__text,
		.twitter__time,
		.twitter__link {
			/*left: calc(12% + 40px);
			right: calc(12% + 40px);
			position: absolute;*/
		}

		.twitter__text {
			color: white;
			font-size: 22px;
			line-height: 1.8;
			z-index: 3;
			font-family: $font-copy;

			@media screen and (max-width: 400px) {
				font-size: 16px;
			}
		}

		.twitter__time,
		.twitter__link {
			color: #eeeeee;
			z-index: 3;
		}

		.twitter__time {
			padding-top: 30px;
			font-family: $font-sub-header;
			text-transform: uppercase;
			letter-spacing: 4px;
			font-size: 14px;
		}

		.twitter__link {
			bottom: 40px;
			padding: 0;
		}

		.twitter__shadow {
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			z-index: 2;
			opacity: 0;			
			transition: all ease-in-out 0.35s;
			-webkit-transition: all ease-in-out 0.35s;
		}
	}

	.timeline__event.insta-post {

		.insta__link {
			display: block;
			height: 100%;
			padding: 0;
			width: 100%;
		}
	}

	.inspiration__photos {
		background: #383838;
		display: none;
		padding: 105px 6% 0;

		h2 {
			color: white;
			font-size: 26px;
			font-family: $font-copy;
			padding: 60px;
			padding-bottom: 100px;
			text-align: center;
			letter-spacing: 0px;
		}
	}

	.grid-item {
		margin-bottom: 30px;
		padding: 0 15px;
		width: 33%;

		@media screen and (max-width: 992px) {
			width: 50%;
		}

		@media screen and (max-width: 550px) {
			width: 100%;
		}

		img {
			object-fit: cover;
		}
	}

	.inspiration__videos {
		background: #383838;
		display: none;
		padding: 105px 6% 0;

		h2 {
			color: white;
			font-size: 26px;
			font-family: $font-copy;
			padding: 60px;
			padding-bottom: 100px;
			text-align: center;
			letter-spacing: 0px;
		}

		.video {
			margin-bottom: 100px;
			position: relative;

			a {
				background: white;
				color: black;
				left: 50%;
				line-height: 0;
				padding: 25px;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		img {
			object-fit: cover;
			width: 100%;
		}
	}

}