/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
header {
  background: #383838;
  background-size: cover;
  background-position: center center;
  position: relative; }
  header .header__text {
    z-index: 99; }
  header .header__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9; }
  header.small {
    height: 400px; }
    @media screen and (max-width: 768px) {
      header.small {
        height: 350px; } }
    header.small h3.subtitle {
      text-align: center; }
  header.small.-range {
    height: 300px; }
  header.large {
    height: 650px; }
    @media screen and (max-width: 768px) {
      header.large {
        height: 550px; } }
    header.large h3.subtitle {
      text-align: center; }
  header h1 {
    color: white;
    text-align: center; }
  header h3 {
    color: #7C7C7C;
    text-align: center; }
    header h3.side-title {
      position: absolute;
      top: 0;
      right: 97%;
      white-space: nowrap;
      transform-origin: right top;
      transform: rotate(270deg);
      opacity: 0.4; }
  @media screen and (max-width: 600px) {
    header .side-title {
      display: none; } }

header.material {
  background-size: cover;
  background-position: center center;
  position: relative;
  /*	
  	.material__icon,
  	.material__info {
  		float: left;
  		width: 50%;
  	} 
  	
  	.material__icon {
  		min-height: 1px;
  		padding-right: 100px;
  		text-align: right;
  
  		@media screen and (max-width: 768px) {
  			padding: 0 20px;
  			width: 20%;
  		}
  
  		@media screen and (max-width: 666px) {
  			position: absolute;
  			right: 0;
  			top: 100px;
  			-webkit-transform: none;
  			transform: none;
  			width: 130px;
  		}
  	}
  */ }
  header.material .material__info {
    left: 60%;
    position: absolute;
    top: 150px; }
    @media screen and (max-width: 1250px) {
      header.material .material__info {
        max-width: 22.5%; } }
    @media screen and (max-width: 992px) {
      header.material .material__info {
        left: 55%;
        top: 150px; } }
    @media screen and (max-width: 550px) {
      header.material .material__info {
        left: 50%;
        max-width: none;
        transform: translateX(-50%); } }
    header.material .material__info.coir h1, header.material .material__info.coir p {
      color: #B28865; }
    header.material .material__info.coir h3 {
      color: #6F533D; }
    header.material .material__info.jute h1, header.material .material__info.jute p {
      color: #907259; }
    header.material .material__info.jute h3 {
      color: #4B3B2E; }
    header.material .material__info.seagrass h1, header.material .material__info.seagrass p {
      color: #A99A71; }
    header.material .material__info.seagrass h3 {
      color: #6B6551; }
    header.material .material__info.sisal h1, header.material .material__info.sisal p {
      color: #6D7C61; }
    header.material .material__info.sisal p {
      color: #869779; }
    header.material .material__info.sisal h3 {
      color: #454F44; }
    header.material .material__info.sisool h1, header.material .material__info.sisool p {
      color: #A9A791; }
    header.material .material__info.sisool h3 {
      color: #817E62; }
    header.material .material__info.wool h1, header.material .material__info.wool p {
      color: #EBD5B7; }
    header.material .material__info.wool h3 {
      color: #665F4D; }
  header.material .material__name,
  header.material .material__sidememu {
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  header.material .material__name {
    left: 15px; }
    header.material .material__name.coir h3 {
      color: #6F533D; }
    header.material .material__name.jute h3 {
      color: #4B3B2E; }
    header.material .material__name.seagrass h3 {
      color: #6B6551; }
    header.material .material__name.sisal h3 {
      color: #454F44; }
    header.material .material__name.sisool h3 {
      color: #817E62; }
    header.material .material__name.wool h3 {
      color: #665F4D; }
    @media screen and (max-width: 792px) {
      header.material .material__name {
        display: none; } }
  header.material .material__sidememu {
    right: 35px; }
    @media screen and (max-width: 666px) {
      header.material .material__sidememu {
        display: none; } }
    header.material .material__sidememu ul {
      margin: 0;
      padding-left: 0; }
    header.material .material__sidememu li {
      list-style: none; }
    header.material .material__sidememu img {
      height: 45px;
      margin-bottom: 10px;
      width: 45px; }
      header.material .material__sidememu img:not(.active) {
        opacity: 0.4; }
      header.material .material__sidememu img:not(.active):hover {
        opacity: 1; }
  header.material.-range .material__name {
    left: 0;
    width: 100%; }
    @media screen and (max-width: 792px) {
      header.material.-range .material__name {
        display: block; } }
  header.material.-range h1 {
    text-align: center; }

header.collection {
  background-size: cover; }

header.collapsed {
  height: 0; }

.tax-product_cat header.material.large {
  height: 575px; }
  @media all and (max-width: 550px) {
    .tax-product_cat header.material.large {
      height: 350px; } }

.single-product header.material {
  background-position: bottom  center; }

header .material__info.jute {
  top: 120px; }

.archive.tax-product_cat.term-wool .material__sidememu,
.archive.tax-product_cat.term-sisal .material__sidememu,
.archive.tax-product_cat.term-sisool .material__sidememu,
.archive.tax-product_cat.term-seagrass .material__sidememu,
.archive.tax-product_cat.term-jute .material__sidememu,
.archive.tax-product_cat.term-coir .material__sidememu {
  top: 50%;
  right: 35px; }

.archive.tax-product_cat.term-wool .material__sidememu ul li,
.archive.tax-product_cat.term-sisal .material__sidememu ul li,
.archive.tax-product_cat.term-sisool .material__sidememu ul li,
.archive.tax-product_cat.term-seagrass .material__sidememu ul li,
.archive.tax-product_cat.term-jute .material__sidememu ul li,
.archive.tax-product_cat.term-coir .material__sidememu ul li {
  display: block; }

.single-product header.material .material__sidememu img:not(.active) {
  opacity: 0.8; }
.single-product header.material .material__sidememu img:not(.active):hover {
  opacity: 1; }

.archive.tax-product_cat .material__sidememu,
.single-product header.material .material__sidememu {
  top: 83%;
  position: absolute;
  bottom: 0px; }

.archive.tax-product_cat .material__sidememu ul li {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px; }

.tax-product_cat header.material .material__sidememu img:not(.active) {
  opacity: 0.3; }
.tax-product_cat header.material .material__sidememu img:not(.active):hover {
  opacity: 1; }

.single-product header.material .material__sidememu {
  display: none; }

.top-bar {
  background: transparent;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998; }
  .top-bar.headroom--not-top.headroom--pinned, .top-bar.headroom--not-top.headroom--unpinned {
    background: #383838; }

body.page-template-home .top-bar,
body.page-template-home .top-bar.headroom--not-top.headroom--pinned,
body.page-template-home .top-bar.headroom--not-top.headroom--unpinned {
  background: white; }
  body.page-template-home .top-bar span.main-menu__button__icon,
  body.page-template-home .top-bar span.main-menu__button__icon:before,
  body.page-template-home .top-bar span.main-menu__button__icon:after,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned span.main-menu__button__icon,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned span.main-menu__button__icon:before,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned span.main-menu__button__icon:after,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned span.main-menu__button__icon,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned span.main-menu__button__icon:before,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned span.main-menu__button__icon:after {
    background: black !important; }
  body.page-template-home .top-bar .main-menu__button__text,
  body.page-template-home .top-bar .main-menu__button__text--close,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned .main-menu__button__text,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned .main-menu__button__text--close,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned .main-menu__button__text,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned .main-menu__button__text--close {
    color: black !important; }
  body.page-template-home .top-bar svg.main-menu__button__basket g,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned svg.main-menu__button__basket g,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned svg.main-menu__button__basket g {
    fill: black !important; }
  body.page-template-home .top-bar #num-items-basket,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned #num-items-basket,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned #num-items-basket {
    background: black !important;
    color: white !important; }

body.page-template-home.show-menu .top-bar span.main-menu__button__icon,
body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--pinned span.main-menu__button__icon,
body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--unpinned span.main-menu__button__icon {
  background: white !important; }
@media screen and (max-width: 450px) {
  body.page-template-home.show-menu .top-bar span.main-menu__button__icon,
  body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--pinned span.main-menu__button__icon,
  body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--unpinned span.main-menu__button__icon {
    background: #2d2d2d !important; }
  body.page-template-home.show-menu .top-bar.apply-dark-background span.main-menu__button__icon:before,
  body.page-template-home.show-menu .top-bar.apply-dark-background span.main-menu__button__icon:after,
  body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--pinned.apply-dark-background span.main-menu__button__icon:before,
  body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--pinned.apply-dark-background span.main-menu__button__icon:after,
  body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--unpinned.apply-dark-background span.main-menu__button__icon:before,
  body.page-template-home.show-menu .top-bar.headroom--not-top.headroom--unpinned.apply-dark-background span.main-menu__button__icon:after {
    background: white !important; } }

@media screen and (max-width: 450px) {
  body.page-template-home .top-bar.apply-dark-background,
  body.page-template-home .top-bar.headroom--not-top.headroom--pinned.apply-dark-background,
  body.page-template-home .top-bar.headroom--not-top.headroom--unpinned.apply-dark-background {
    background: #2d2d2d; } }

@media screen and (max-width: 450px) {
  .show-menu .top-bar {
    margin-left: 80%;
    width: 20%;
    z-index: 10000; }
    .show-menu .top-bar.-relative {
      position: relative; } }

.top-bar__left,
.top-bar__right {
  position: absolute !important; }

.top-bar__left {
  left: 40px;
  opacity: 1;
  transition: all ease-in-out 0.25s; }
  @media screen and (max-width: 768px) {
    .top-bar__left {
      top: 42% !important; } }
  @media screen and (max-width: 460px) {
    .top-bar__left {
      left: 20px;
      width: 175px; } }
  @media screen and (max-width: 371px) {
    .top-bar__left {
      left: 10px;
      width: 140px; } }

@media screen and (max-width: 800px) {
  .show-menu .top-bar__left {
    left: 20px;
    width: 175px; } }
@media screen and (max-width: 700px) {
  .show-menu .top-bar__left {
    opacity: 0; } }

.top-bar__right {
  right: 40px; }
  .top-bar__right h3 {
    color: white; }
    @media screen and (max-width: 480px) {
      .top-bar__right h3 {
        display: none; } }

.mobi-logo {
  height: 15px; }

@media screen and (min-width: 768px) {
  .mobi-logo {
    display: none; } }
@media screen and (max-width: 767px) {
  .full-logo {
    display: none; } }
.headroom {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform, opacity; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.headroom.headroom--pinned {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-name: slideDown;
  animation-name: slideDown; }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%); } }
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
.headroom.headroom--unpinned {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-name: slideUp;
  animation-name: slideUp; }

/**
 * SASS File - Main Menu
 * Sliding drawer menu which slides out from the right
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all, header.material .material__sidememu img, .main-menu__wrap a span, .main-menu__wrap a::after, .main-menu__social a i,
.main-menu__social a, span.main-menu__button__text,
span.main-menu__button__text--close {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

.rotated-text {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  white-space: nowrap;
  transform-origin: right top;
  transform: rotate(270deg); }

.fallback-object-fit {
  background-size: cover;
  background-position: center center; }
  .fallback-object-fit img {
    opacity: 0; }

.clearfix {
  display: block;
  content: "";
  clear: both; }

body {
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
  left: 0px; }

/************** Main Menu **************/
.main-menu {
  z-index: 9999; }

.main-menu__wrap {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1001;
  width: 370px;
  height: 100%;
  top: 0px;
  right: 0px;
  background: #2d2d2d;
  padding-top: 50px;
  -webkit-transform: translate3d(370px, 0, 0);
  transform: translate3d(370px, 0, 0);
  -webkit-transition: -webkit-transform 0.75s;
  transition: transform 0.75s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  z-index: 9999; }
  @media all and (max-width: 1024px) {
    .main-menu__wrap {
      padding-top: 10px; } }
  @media all and (max-width: 769px) {
    .main-menu__wrap {
      width: 320px; } }
  @media all and (max-width: 555px) {
    .main-menu__wrap {
      width: 270px; } }
  @media all and (max-width: 450px) {
    .main-menu__wrap {
      transform: translate3d(100%, 0, 0);
      width: 100%; } }
  @media all and (min-width: 992px) and (max-height: 900px) {
    .main-menu__wrap {
      padding-top: 20px; } }
  @media all and (min-width: 769px) and (max-height: 730px) {
    .main-menu__wrap {
      padding-top: 10px; } }

/*** Shown menu animation ***/
.show-menu .main-menu__wrap {
  transform: translate3d(0, 0, 0);
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1); }

/*** Shown menu - button animation ***/
.show-menu .main-menu__button--wrap {
  position: fixed !important;
  transform: translate3d(-370px, 0, 0);
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1); }

@keyframes main-menu__button--movefade {
  0% {
    transform: translate3d(-370px, 0, 0);
    opacity: 0; }
  50% {
    transform: translate3d(-370px, 0, 0);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate3d(-370px, 0, 0); } }
@media screen and (max-width: 769px) {
  .show-menu .main-menu__button--wrap {
    transform: translate3d(-320px, 0, 0);
    transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1); } }
@media screen and (max-width: 450px) {
  .show-menu .main-menu__button--wrap {
    left: 0;
    transform: none;
    transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1); } }
/*** Menu Fade In Animation ***/
.main-menu__top,
.main-menu__bottom {
  transition: opacity 2s;
  opacity: 0; }

.show-menu .main-menu__top,
.show-menu .main-menu__bottom {
  opacity: 1; }

/************** Menu Links - General **************/
.main-menu__wrap a {
  font-size: 16px;
  color: #a0a0a0;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
  padding: 25px;
  padding-left: 60px;
  transition: color background-color ease-in-out 0.25s;
  -webkit-transition: color background-color ease-in-out 0.25s;
  transform: translate(0, 0); }
  @media all and (max-width: 769px) {
    .main-menu__wrap a {
      padding: 20px;
      padding-left: 60px; } }
  @media all and (max-width: 550px) {
    .main-menu__wrap a {
      padding-left: 25px;
      font-size: 14px; } }

.main-menu__wrap a:hover,
.main-menu__wrap a.active {
  background-color: #272727; }

.main-menu__wrap a:hover span {
  color: #FFF; }

/*** Menu Link Text - Move on hover ***/
.main-menu__wrap a span {
  display: inline-block; }

.main-menu__wrap a:hover span {
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0); }

/*** Menu Links Line ***/
.main-menu__wrap a::after {
  width: 23px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  content: ' ';
  background-color: #606060;
  transform: translate(20px, 0);
  opacity: 0; }

.main-menu__wrap a:hover::after,
.main-menu__wrap a.active::after {
  transform: translate(0, 0);
  opacity: 1; }

/************** Menu Top - Links **************/
/*** Menu - Large ***/
.main-menu__top__lg {
  border-bottom: 1px solid #3e3e3e;
  padding-bottom: 25px; }
  @media all and (max-width: 769px) {
    .main-menu__top__lg {
      padding-bottom: 15px; } }
  @media all and (min-width: 769px) and (max-height: 730px) {
    .main-menu__top__lg {
      padding-bottom: 5px; } }

.main-menu__top__lg a {
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase; }
  @media all and (max-width: 769px) {
    .main-menu__top__lg a {
      font-size: 14px; } }
  @media all and (min-width: 769px) and (max-height: 850px) {
    .main-menu__top__lg a {
      font-size: 15px;
      padding-top: 22px;
      padding-bottom: 22px; } }

/*** Menu - Small ***/
.main-menu__top__sm {
  padding-top: 30px;
  padding-bottom: 20px; }
  @media all and (max-width: 769px) {
    .main-menu__top__sm {
      padding-bottom: 15px;
      padding-top: 15px; } }
  @media all and (min-width: 769px) and (max-height: 730px) {
    .main-menu__top__sm {
      padding-bottom: 5px;
      padding-top: 10px; } }

.main-menu__top__sm a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #878787; }

/************** Menu Bottom **************/
.main-menu__bottom {
  position: absolute;
  bottom: 0px;
  width: 100%; }
  @media screen and (max-width: 450px) {
    .main-menu__bottom {
      position: static; } }

/** Adjust colours **/
.main-menu__wrap .main-menu__bottom a {
  color: #878787; }

.main-menu__wrap .main-menu__bottom a:hover {
  color: #FFF; }

/*** Menu Bottom - Social ***/
.main-menu__social {
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e; }
  @media screen and (max-width: 450px) {
    .main-menu__social {
      display: none; } }

.main-menu__social a {
  padding: 15px; }

.main-menu__social a::after {
  display: none; }

.main-menu__social a i {
  display: block;
  margin-bottom: 10px;
  font-size: 22px; }

.main-menu__social a:hover i {
  transform: translate(0, 4px);
  -webkit-transform: translate(0, 4px); }

.main-menu__social--twitter,
.main-menu__social--instagram {
  width: 50%;
  background-color: #2d2d2d;
  display: inline-block;
  text-align: center;
  font-size: 0;
  box-sizing: border-box; }

.main-menu__social--twitter {
  font-size: 0;
  border-right: 1px solid #3e3e3e; }

@media all and (min-width: 769px) and (max-height: 900px) {
  .main-menu__social a i {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 10px;
    position: relative;
    top: 5px; }

  .main-menu__social a:hover i {
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px); } }
@media all and (min-width: 769px) and (max-height: 780px) {
  .main-menu__social {
    display: none; } }
/*** Menu Bottom - Search ***/
@media all and (max-width: 550px) {
  .main-menu__search {
    border-bottom: 1px solid #3e3e3e;
    border-top: 1px solid #3e3e3e; } }

.main-menu__search label {
  position: relative;
  display: block;
  margin-bottom: 0px; }

.main-menu__search label span.main-menu__search__icon {
  position: absolute;
  color: #878787;
  top: 32%;
  font-size: 20px;
  left: 20px;
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased; }
  @media all and (max-width: 550px) {
    .main-menu__search label span.main-menu__search__icon {
      top: 20%; } }

input.main-menu__search__input,
input.main-menu__search__input:focus {
  width: 100%;
  font-size: 16px;
  color: #FFF;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  background-color: #2d2d2d !important;
  margin: 0;
  padding: 30px !important;
  padding-left: 60px !important;
  border: 0;
  border-radius: 0;
  border: none !important;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1px solid #3e3e3e;
  border-top: 1px solid #3e3e3e; }
  @media all and (max-width: 550px) {
    input.main-menu__search__input,
    input.main-menu__search__input:focus {
      padding: 20px !important;
      padding-left: 60px !important;
      border-bottom: 1px solid #3e3e3e;
      border-top: 1px solid #3e3e3e; } }

/*@media all and (min-width: 769px) and (max-height: 780px) {

	.main-menu__search {
		border-top: 1px solid $main-menu-border-color;
	}

}*/
::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #878787; }

::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #878787; }

:-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #878787; }

::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #878787; }

::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #878787; }

:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #878787; }

input.main-menu__search__input:focus + span.main-menu__search__icon {
  color: #FFF;
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0); }

/************** Animated Menu Button **************/
.main-menu__button--wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }
  @media screen and (max-width: 450px) {
    .main-menu__button--wrap {
      width: 75px !important;
      right: 0 !important;
      left: auto !important;
      top: 0px !important;
      position: fixed !important; } }

.headroom--pinned .main-menu__button--wrap {
  top: 5px; }

.main-menu__button {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 190px;
  height: 90px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: transparent;
  text-shadow: none; }
  @media screen and (max-width: 768px) {
    .main-menu__button {
      width: 100px; } }

@media screen and (max-width: 555px) {
  .show-menu .main-menu__button {
    left: 50px; } }
@media screen and (max-width: 450px) {
  .show-menu .main-menu__button {
    left: 0;
    right: 0;
    width: 100vw; } }

.main-menu__button:focus,
.main-menu__button:hover {
  outline: none;
  background-color: transparent;
  box-shadow: none;
  border: none; }

/*.main-menu__button:hover span.main-menu__button__text,
.main-menu__button:hover span.main-menu__button__text--close {
  color: $main-menu-bg-color;
}*/
.show-menu .main-menu__button {
  /*background: $main-menu-bg-color;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/ }

span.main-menu__button__text,
span.main-menu__button__text--close {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  opacity: 1;
  text-indent: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: absolute;
  top: 25px;
  left: 74px; }
  @media screen and (max-width: 768px) {
    span.main-menu__button__text,
    span.main-menu__button__text--close {
      display: none; } }

span.main-menu__button__text--close {
  opacity: 0; }

span.main-menu__button__icon {
  display: block;
  position: absolute;
  top: 42px;
  left: 20px;
  right: 0px;
  height: 2px;
  background-color: #FFF;
  width: 37px;
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
  transition: all ease-in-out 0.25s; }
  @media screen and (max-width: 768px) {
    span.main-menu__button__icon {
      left: calc(100% - 75px); } }
  @media screen and (max-width: 450px) {
    span.main-menu__button__icon {
      left: 18px; } }

span.main-menu__button__icon::before,
span.main-menu__button__icon::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s; }

span.main-menu__button__icon::before {
  top: -11px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform; }

span.main-menu__button__icon::after {
  bottom: -11px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform; }

/* Active state - change icon  */
.main-menu__button.is-active span.main-menu__button__icon {
  background: none; }

.main-menu__button.is-active span.main-menu__button__icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.main-menu__button.is-active span.main-menu__button__icon::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.main-menu__button.is-active span.main-menu__button__icon::before,
.main-menu__button.is-active span.main-menu__button__icon::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s; }

/* Active state - swop menu for close text  */
.main-menu__button.is-active span.main-menu__button__text {
  opacity: 0; }

.main-menu__button.is-active span.main-menu__button__text--close {
  opacity: 1; }

@media screen and (max-width: 992px) {
  .show-menu .main-menu__button.is-active span.main-menu__button__text {
    opacity: 0; } }
/* Home Page Black Menu */
.page-template-home span.main-menu__button__icon,
.page-template-home span.main-menu__button__icon:before,
.page-template-home span.main-menu__button__icon:after {
  background: black; }
.page-template-home span.main-menu__button__text,
.page-template-home span.main-menu__button__text--close {
  color: black; }
.page-template-home svg.main-menu__button__basket g {
  fill: black; }
.page-template-home #num-items-basket {
  background: black;
  color: white; }
.page-template-home .close-basket-dropdown span.main-menu__button__icon {
  background: transparent; }

@media screen and (max-width: 450px) {
  .page-template-home.show-menu .main-menu__button.is-active#open-button span.main-menu__button__icon::before,
  .page-template-home.show-menu .main-menu__button.is-active#open-button span.main-menu__button__icon::after {
    background: white; } }

#eu-cookie-bar {
  background: #383838;
  padding: 10px 20px; }
  #eu-cookie-bar a {
    font-size: 12px;
    text-transform: none;
    letter-spacing: initial; }
  #eu-cookie-bar button {
    background: white;
    color: #383838 !important;
    width: auto;
    height: 30px;
    line-height: 0; }
