@import '../../assets/css/src/_variables';

header {
	background: $page-header-background;
	background-size: cover; 
	background-position: center center;
	position: relative;
	
	.header__text {
		z-index: 99;
	}
	
	.header__overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 9;
	}
	
	&.small {
		height: 400px;

		@media screen and (max-width: 768px) {
			height: 350px;
		}

		h3.subtitle {
			text-align: center;
		}
	}
	
	&.small.-range {
		height: 300px;
	}
	
	&.large {
		height: 650px;

		@media screen and (max-width: 768px) {
			height: 550px;
		}

		h3.subtitle {
			text-align: center;
		}
	}

	h1 {
		color: white;
		text-align: center;
	}

	h3 {
		color: #7C7C7C;
		text-align: center;

		&.side-title {
			position: absolute;
			top: 0;
			right: 97%;
			white-space: nowrap;
			transform-origin: right top;
			transform: rotate(270deg);			
			opacity: 0.4;
		}
	}

	@media screen and (max-width: 600px) {
		
		.side-title {
			display: none;
		}
	}
}

header.material {
	background-size: cover;
	background-position: center center;
	position: relative;
/*	
	.material__icon,
	.material__info {
		float: left;
		width: 50%;
	} 
	
	.material__icon {
		min-height: 1px;
		padding-right: 100px;
		text-align: right;

		@media screen and (max-width: 768px) {
			padding: 0 20px;
			width: 20%;
		}

		@media screen and (max-width: 666px) {
			position: absolute;
			right: 0;
			top: 100px;
			-webkit-transform: none;
			transform: none;
			width: 130px;
		}
	}
*/
	.material__info {
		left: 60%;
		position: absolute;
		top: 150px;

		@media screen and (max-width: 1250px) {
			max-width: 22.5%;
		}

		@media screen and (max-width: 992px) {
			left: 55%;
			top: 150px;
		}

		@media screen and (max-width: 550px) {
			left: 50%;
			max-width: none;
			transform: translateX(-50%);
		}

		&.coir {

			h1, p {
				color: $color-coir-main;
			}

			h3 {
				color: $color-coir-dark;
			}
		}

		&.jute {

			h1, p {
				color: $color-jute-main;
			}

			h3 {
				color: $color-jute-dark;
			}
		}

		&.seagrass {

			h1, p {
				color: $color-seagrass-main;
			}

			h3 {
				color: $color-seagrass-dark;
			}
		}

		&.sisal {

			h1, p {
				color: $color-sisal-main;
			}
			
			p {
				color: lighten($color-sisal-main, 10%);
			}
			
			h3 {
				color: $color-sisal-dark;
			}
		}

		&.sisool {

			h1, p {
				color: $color-sisool-main;
			}

			h3 {
				color: $color-sisool-dark;
			}
		}

		&.wool {

			h1, p {
				color: $color-wool-main;
			}

			h3 {
				color: $color-wool-dark;
			}
		}
	}

	.material__name,
	.material__sidememu {
		position: absolute;
		text-align: center;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	
	.material__name {
		left: 15px;

		&.coir h3 {
			color: $color-coir-dark;
		}

		&.jute h3 {
			color: $color-jute-dark;
		}

		&.seagrass h3 {
			color: $color-seagrass-dark;
		}

		&.sisal h3 {
			color: $color-sisal-dark;
		}

		&.sisool h3 {
			color: $color-sisool-dark;
		}

		&.wool h3 {
			color: $color-wool-dark;
		}

		@media screen and (max-width: 792px) {
			display: none;
		}
	}

	.material__sidememu {
		right: 35px;

		@media screen and (max-width: 666px) {
			display: none;
		}

		ul {
			margin: 0;
			padding-left: 0;
		}

		li {
			list-style: none;
		}

		img {
			height: 45px;
			margin-bottom: 10px;
			width: 45px;
			@extend .transition-all;

			&:not(.active) {
				opacity: 0.4;
			}

			&:not(.active):hover {
				opacity: 1;
			}
		}
	}

	&.-range {

		.material__name {
			left: 0;
			width: 100%;
			
			@media screen and (max-width: 792px) {
				display: block;
			}
			
		}

		h1 {
			text-align: center;
		}
	}
}

header.collection {
	background-size: cover;
}

header.collapsed {
	height: 0;
}





.tax-product_cat header.material.large {
	height: 575px;
}


.single-product header.material {
	background-position: bottom  center;
}

header .material__info.jute {
	top: 120px;
}


// Adjust position for archive & single 

.archive.tax-product_cat.term-wool .material__sidememu,
.archive.tax-product_cat.term-sisal .material__sidememu,
.archive.tax-product_cat.term-sisool .material__sidememu,
.archive.tax-product_cat.term-seagrass .material__sidememu,
.archive.tax-product_cat.term-jute .material__sidememu,
.archive.tax-product_cat.term-coir .material__sidememu {
	top: 50%;
	right: 35px;
}

.archive.tax-product_cat.term-wool .material__sidememu ul li,
.archive.tax-product_cat.term-sisal .material__sidememu ul li, 
.archive.tax-product_cat.term-sisool .material__sidememu ul li,
.archive.tax-product_cat.term-seagrass .material__sidememu ul li, 
.archive.tax-product_cat.term-jute .material__sidememu ul li, 
.archive.tax-product_cat.term-coir .material__sidememu ul li  {
	display: block;
}

.single-product header.material .material__sidememu {

		img:not(.active) {
			opacity: 0.8;
		}

		img:not(.active):hover {
			opacity: 1;
		}

}
	
	
	
	
.archive.tax-product_cat .material__sidememu,
.single-product header.material .material__sidememu {
	top: 83%;
	position: absolute;
	bottom: 0px;
	//margin: auto;
	//left: 0;
	//right: 0;
}

.archive.tax-product_cat .material__sidememu ul li {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

.tax-product_cat header.material .material__sidememu {

		img:not(.active) {
			opacity: 0.3;
		}

		img:not(.active):hover {
			opacity: 1;
		}

}




.single-product header.material .material__sidememu {
	display: none;
}

