@import '../../assets/css/src/_variables';

header {
	background: $page-header-background;
	background-size: cover;
	background-position: center center;
	position: relative;
	
	.header__text {
		z-index: 99;
	}
	
	.header__overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 9;
	}
	
	&.small {
		height: 450px;

		@media screen and (max-width: 768px) {
			height: 350px;
		}

		h3.subtitle {
			text-align: center;
		}
	}

	&.large {
		height: 750px;

		@media screen and (max-width: 768px) {
			height: 550px;
		}

		h3.subtitle {
			text-align: center;
		}
	}

	h1 {
		color: white;
		text-align: center;
	}

	h3 {
		color: #7C7C7C;
		text-align: center;

		&.side-title {
			position: absolute;
			top: 0;
			right: 97%;
			white-space: nowrap;
			transform-origin: right top;
			transform: rotate(270deg);			
			opacity: 0.4;
		}
	}

	@media screen and (max-width: 600px) {
		
		.side-title {
			display: none;
		}
	}
}

header.material {
	position: relative;
	
	.material__icon,
	.material__info {
		float: left;
		width: 50%;
	} 
	
	.material__icon {
		min-height: 1px;
		padding-right: 100px;
		text-align: right;

		@media screen and (max-width: 768px) {
			padding: 0 20px;
			width: 20%;
		}

		@media screen and (max-width: 666px) {
			position: absolute;
			right: 0;
			top: 100px;
			-webkit-transform: none;
			transform: none;
			width: 130px;
		}
	}

	.material__info {
		padding-right: 20%;

		@media screen and (max-width: 768px) {
			padding-right: 10%;
			width: 75%;
		}

		@media screen and (max-width: 666px) {
			margin-top: 100px;
			padding: 0 20px;
			position: static;
			-webkit-transform: none;
			transform: none;
			width: 100%;
		}

		.subtitle {
			text-align: left;

			@media screen and (max-width: 666px) {
				clear: none;
			}
		}

		h1 {
			text-align: left;
		}

		p {
			margin-top: 25px;

			@media screen and (max-width: 400px) {
				margin-top: 60px;
			}
		}

		&.coir {

			h1, p {
				color: $color-coir-main;
			}

			h3 {
				color: $color-coir-dark;
			}
		}

		&.jute {

			h1, p {
				color: $color-jute-main;
			}

			h3 {
				color: $color-jute-dark;
			}
		}

		&.seagrass {

			h1, p {
				color: $color-seagrass-main;
			}

			h3 {
				color: $color-seagrass-dark;
			}
		}

		&.sisal {

			h1, p {
				color: $color-sisal-main;
			}
			
			p {
				color: lighten($color-sisal-main, 10%);
			}
			
			h3 {
				color: $color-sisal-dark;
			}
		}

		&.sisool {

			h1, p {
				color: $color-sisool-main;
			}

			h3 {
				color: $color-sisool-dark;
			}
		}

		&.wool {

			h1, p {
				color: $color-wool-main;
			}

			h3 {
				color: $color-wool-dark;
			}
		}
	}

	.material__name,
	.material__sidememu {
		position: absolute;
		text-align: center;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.material__name {
		left: 15px;

		&.coir h3 {
			color: $color-coir-dark;
		}

		&.jute h3 {
			color: $color-jute-dark;
		}

		&.seagrass h3 {
			color: $color-seagrass-dark;
		}

		&.sisal h3 {
			color: $color-sisal-dark;
		}

		&.sisool h3 {
			color: $color-sisool-dark;
		}

		&.wool h3 {
			color: $color-wool-dark;
		}

		@media screen and (max-width: 792px) {
			display: none;
		}
	}

	.material__sidememu {
		right: 35px;

		@media screen and (max-width: 666px) {
			display: none;
		}

		ul {
			margin: 0;
			padding-left: 0;
		}

		li {
			list-style: none;
		}

		img {
			height: 45px;
			margin-bottom: 10px;
			width: 45px;
			@extend .transition-all;

			&:not(.active) {
				opacity: 0.4;
			}

			&:not(.active):hover {
				opacity: 1;
			}
		}
	}

	&.-range {

		.material__name {
			width: 100%;
		}

		h1 {
			text-align: center;
		}
	}
}

header.collection {
	background-size: cover;
}


	
.tax-product_cat header.material .material__icon {
	float: left;
	width: 40%;
}
	
.tax-product_cat header.material .material__info {
	float: left;
	width: 60%;
}

