/**
 * Materials Home
 * Materials home page  
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow {
  -webkit-box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08);
  box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

.material-box {
  height: 550px;
  margin-left: 7%;
  padding: 100px 100px 0;
  width: 86%; }
  @media screen and (max-width: 992px) {
    .material-box {
      height: auto;
      padding: 25px 25px 0; } }
  .material-box .material__left {
    float: left;
    height: 100%;
    width: 30%; }
    @media screen and (max-width: 992px) {
      .material-box .material__left {
        height: auto;
        width: 100%; } }
  .material-box .material__right {
    float: left;
    height: 100%;
    padding-left: 25px;
    position: relative;
    width: 70%; }
    @media screen and (max-width: 992px) {
      .material-box .material__right {
        height: auto;
        padding-left: 0;
        width: 100%; } }
  .material-box .material__img {
    height: 150px;
    width: 150px; }
    @media screen and (max-width: 992px) {
      .material-box .material__img {
        -webkit-transform: none !important;
        transform: none !important;
        margin-left: calc(50% - 75px);
        position: static; } }
  .material-box .material__desc {
    margin-top: 25px; }
    @media screen and (max-width: 992px) {
      .material-box .material__desc {
        margin-bottom: 25px; } }
  .material-box .material__link {
    bottom: 50px;
    position: absolute; }
    @media screen and (max-width: 992px) {
      .material-box .material__link {
        position: static; } }
  .material-box span {
    background: #EFEFEF;
    display: block;
    float: left;
    height: 2px;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .material-box span {
        margin-top: 25px; } }
  .material-box.coir * {
    color: #6F533D; }
  .material-box.jute * {
    color: #4B3B2E; }
  .material-box.seagrass * {
    color: #6B6551; }
  .material-box.sisal * {
    color: #454F44; }
  .material-box.sisool * {
    color: #817E62; }
  .material-box.wool * {
    color: #665F4D; }
