 /************************************************************************************************************************
	General Form Styles
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/


form,
input,
button {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased; 
}

input,
textarea {
	background: #F7F7F7;
	border: 1px solid #E6E6E6 !important;
	border-radius: 0 !important;
	color: #878787 !important;
	font-family: $font-copy !important;
	padding: 8px 20px !important;
	font-weight: normal;
}

input::-webkit-input-placeholder {
	font-family: $font-copy; 
}

input::-moz-placeholder {
	font-family: $font-copy;
}

input:-ms-input-placeholder {
	font-family: $font-copy;
}

input:-moz-placeholder {
	font-family: $font-copy;
}

textarea::-webkit-input-placeholder {
	font-family: $font-copy;
}

textarea::-moz-placeholder {
	font-family: $font-copy;
}

textarea:-ms-input-placeholder {
	font-family: $font-copy;
}

textarea:-moz-placeholder {
	font-family: $font-copy;
}

select {
	-webkit-appearance: none;
	appearance: none;
	background: #F7F7F7;
	background-image: url('http://d105txpzekqrfa.cloudfront.net/uploads/20161219132318/down-arrow.png');
	background-position: 95%;
	background-repeat: no-repeat;
	background-size: 8px;
	border: 1px solid #E6E6E6 !important;
	border-radius: 0;
	color: #878787;
	font-family: $font-copy;
	padding: 7px 15px;
}

button:not(.main-menu__button),
input[type="submit"],
a.checkout-button.button {
	background: #383838 !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: white !important;
	font-family: $font-sub-header !important;
	font-size: 14px !important;
	height: 45px !important;
	letter-spacing: 3px !important;
	padding-bottom: 8px !important;
	text-shadow: none !important;
	text-transform: uppercase !important;
	-webkit-transition: all ease-in-out 0.25s;
	transition: all ease-in-out 0.25s;
	width: 220px !important;

	@media screen and (max-width: 446px) {
		width: 100% !important;
	}
}

button:hover, 
input[type="submit"]:hover {
	background: lighten(#383838, 20%);	
}