/************************************************************************************************************************
	Copy and other typography stylings
		
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

body {
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale; 
	font-size: 16px;
	font-family: $font-copy;
	color: $copy-colour;
	line-height: 1.9;
}

/**************************************************************
Links & special Link underline base styles
**************************************************************/

a:not(.no-styling) {
	@include typography-standards(#000000, $font-sub-header, 17px, 2.5px);
	padding-bottom: 5px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 30px;
	@extend .transition-all;
	
	&:hover {
		text-decoration: none;
	}
	
	@media screen and (max-width: 555px) {
		font-size: 14px;
		line-height: 1.85;
	}
}

a:not(.no-styling)::before, 
a:not(.no-styling)::after { 
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 2px;
	transition: all 0.3s ease-in-out 0s;
	content: '';	
}

a:not(.no-styling)::before {
	opacity: 0.45;
	z-index: 5;
}

a:not(.no-styling)::after {
	z-index: 5;
	transform: scaleX(0);
	visibility: hidden;
}

a:not(.no-styling):hover::after {
	visibility: visible;
	transform: scaleX(1);
}

/* No effect */ 

a.no-effect {
	text-transform: none;
}

a.no-effect::before, 
a.no-effect::after {
	display: none;
}

a.no-styling {
	text-decoration: none;
}

/**************************************************************
	Copy and other typography stylings
**************************************************************/

p {
	@include typography-standards(#252525, $font-copy, 16px, 0px);

	@media screen and (max-width: 555px) {
		font-size: 16px;
	}
}


/**************************************************************
Default HTML Tag Styling - Adjusted slightly where required 
**************************************************************/

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: monospace;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: monospace;
	font-size: 0.9375;
}

abbr, acronym {
	border-bottom: 1px dotted black;
	cursor: help;
}

mark, ins {
	background: black;
	text-decoration: none;
}

big {
	font-size: 125%;
}