@font-face {
	font-family: 'DIN';
	src: url('../../fonts/din/din.otf') format('OpenType');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Playfair+Display');

/*@font-face {
	font-family: 'Playfair Display';
	src: url('../../fonts/playfair-display/PlayfairDisplay-Regular.ttf') format('truetype');
}

/*@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}*/

@mixin typography-standards($color, $font, $size, $spacing) {
	color: $color;
	font-family: $font;
	font-size: $size;
	font-weight: normal;
	letter-spacing: $spacing;
}