@import '../../assets/css/src/_variables.scss';

.contact-select {
	margin-left: 25%;
	width: 50%;

	h2 {
		text-align: center;
	}

	span {
		background: #D2D2D2;
		display: block;
		height: 2px;
		margin: 10px auto 40px;
		width: 75px;
	}

	select {
		margin-bottom: 50px;
		margin-left: calc(50% - 125px);
		width: 250px;
	}
}