/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.contact-select {
  margin-left: 25%;
  width: 50%; }
  .contact-select h2 {
    text-align: center; }
  .contact-select span {
    background: #D2D2D2;
    display: block;
    height: 2px;
    margin: 10px auto 40px;
    width: 75px; }
  .contact-select select {
    margin-bottom: 50px;
    margin-left: calc(50% - 125px);
    width: 250px; }
