.materials-center-list {
    width: 77%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-y: auto;
}

.materials-center-list::-webkit-scrollbar {
    width: 6px;
}

.materials-center-list::-webkit-scrollbar-track {
    background: #EDEDED;
    border-radius: 4px;
}

.materials-center-list::-webkit-scrollbar-thumb {
    background: #D8D8D8;
    border-radius: 4px;
}

.single-materials-center-list {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*height: 100%;*/
    height: 244px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 2px solid #F9F9F9;
    cursor: pointer;
}

.single-materials-center-list img {
    max-width: 100%;
    width: 67px;
    height: 67px;
}

.single-materials-center-list h3 {
    height: 26px;
    color: #2D2D2D;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 16px;
    text-align: center;
}

.single-materials-center-list-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*height: 50%;*/
    height: 122px;
    width: 11.1%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 2px solid #F9F9F9;
    border-bottom: 2px solid #F9F9F9;
    cursor: pointer;
    /*position: relative;*/
}

.single-materials-center-hover {
    position: absolute;
    width: 195px;
    height: 242px;
    border: 1px solid #E5E5E5;
    text-align: center;
    padding-top: 18px;
    background-color: #FFFFFF;
}

.single-materials-center-hover::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 15px solid #FFFFFF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.single-materials-center-hover::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 15px solid #E5E5E5;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}

.single-materials-center-hover img {
    max-width: 100%;
    width: 150px;
    height: 150px;
}

.single-materials-center-list-child-wrapper {
    text-align: center;
}

.single-materials-center-list-child-wrapper img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.single-materials-center-list-child h3 {
    height: 23px;
    color: #2D2D2D;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    letter-spacing: 1.33px;
    line-height: 13px;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .materials-center-list {
        width: 100%;
        height: 100%;
        align-content: flex-start;
    }

    .single-materials-center-list {
        width: 33.3%;
        height: 34%;
        border-bottom: 2px solid #F9F9F9;
        padding-top: 18px;
        flex-grow: 0;
    }

    .single-materials-center-list-child {
        padding-top: 10px;
        width: 25%;
        height: 88px;
    }

    .single-materials-center-list-child-wrapper img {
        width: 37px;
        height: 37px;
    }
}

