@media screen and (max-width: 450px) {
    .summary-block-container__mobile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .summary-block-item__mobile-data_model {
        height: 280px !important;
    }

    .summary-block-item__mobile-data {
        height: auto !important;
    }

    .summary-title__mobile {
        height: 82.15px;
        width: 302px;
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 20.85px;
    }

    .summary-specification__mobile {
        display: none;
    }

    .summary-price__mobile-view {
        width: 302px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 21px;
    }

    .summary-price__mobile {
        width: 106px;
    }

    .summary-price-data__mobile {
        width: 170px;
        font-size: 22px;
        letter-spacing: 2.12px;
        line-height: 30px;
        text-align: right;
    }

    .summary-button-block__mobile {
        width: 302px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .summary-button-block__mobile button {
        height: 55.08px;
        width: 100%;
        margin-bottom: 12.92px;
    }

    .summary-price-social__mobile-view {
        width: 302px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 24.92px;
    }

    .summary-share-creation__mobile {
        text-align: left;
        margin-bottom: 19px;
    }

    .mobile-hide-block {
        display: none;
    }

    .summary-button-order-swatches {
        margin-right: 0;
    }

    .preview-your-design-in-ar {
        margin-top: 50px;
        font-size: 25px;
    }

    .click-below-to-download {
        width: 80%;
        font-size: 13px;
    }

    .download-on-the-app-store {
        width: 180px;
    }

    .your-rugs-journey-so-far {
        font-size: 25px;
        margin-top: 10px;
        height: auto;
    }

    .order-details-has-been-sent {
        width: 90%;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px;
        height: auto;
    }

    .find-retailer-list {
        width: 100%;
    }

    .find-retailer-line {
        width: 100%;
    }

    .find-retailer-list-item {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .find-retailer-link {
        margin-top: 36px;
    }

    .reorder {
        order: -1;
    }



}

@media screen and (min-width: 451px) {
    .summary-price__mobile-view,
    .summary-price-social__mobile-view {
        display: none;
    }
}
