.container-builder-summary {
    width: 100%;
}

.summary-block-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 778px;
    width: 100%;
}

.summary-block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.summary-block-container img {
    width: 100%;
    height: 100%;
}

.logo-summary {
    height: 34px;
    width: 122px;
    margin-top: 21px;
    margin-left: 30px;
    margin-bottom: 38px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.summary-title {
    height: 82px;
    width: 433px;
    color: #353535;
    font-family: Playfair Display, sans-serif;
    font-size: 28px;
    line-height: 51px;
    text-align: center;
    margin-bottom: 56px;
}

.summary-specification {
    width: 529px;
    height: 278px;
    margin-bottom: 31px;
}

.summary-specification-rug-size {
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #E7E7E7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.summary-specification-rug-size-title {
    height: 15px;
    width: 78px;
    color: #272727;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 15px;
    margin-right: 236px;
}

.summary-specification-rug-size-dimensions {
    height: 15px;
    width: 78px;
    color: #272727;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 15px;
}

.summary-specification-rug-data {
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #E7E7E7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.summary-specification-rug-data-title {
    height: 15px;
    width: 120px;
    color: #272727;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 15px;
    margin-right: 202px;
}

.summary-specification-rug-data-parameters-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.summary-specification-rug-data-parameters-block img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 9px;
}

.summary-specification-rug-data-parameters {
    width: 170px;
    color: #272727;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 15px;
}

.summary-price-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 536px;
    margin-bottom: 14px;
}

.summary-price {
    height: 22px;
    width: 184px;
    color: #2D2D2D;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 17px;
}

.summary-share-creation {
    height: 22px;
    width: 214px;
    color: #2D2D2D;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 17px;
    text-align: right;
}

.summary-price-social-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 536px;
    margin-bottom: 40px;
}

.summary-price-data {
    height: 31px;
    width: 228px;
    color: #2D2D2D;
    font-family: Playfair Display, sans-serif;
    font-size: 28px;
    letter-spacing: 2.7px;
    line-height: 37px;
}

.summary-share-creation-links {
    width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social-link {
    height: 30px;
    width: 30px;
    border: 1px solid #979797;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-link img {
    width: 70%;
    height: 70%;
}

.summary-button-block {
    width: 536px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}

.summary-button-order-swatches {
    height: 55.08px;
    width: 252.25px;
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 31px;
    text-align: center;
    margin-right: 31.5px;
}

.summary-button-print-details {
    height: 55.08px;
    width: 252.25px;
    background-color: #FFFFFF;
    color: #2D2D2D;
    border: 1px solid #3B3B3B;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 31px;
    text-align: center;
}

.preview-your-design-in-ar {
    height: 82px;
    /*width: 433px;*/
    color: #353535;
    font-family: Playfair Display, sans-serif;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-top: 179px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-below-to-download {
    height: 70px;
    width: 50%;
    color: #181818;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
}

.download-on-the-app-store {
    height: 120px;
    width: 233px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 22px;
}

.your-rugs-journey-so-far {
    height: 82px;
    /*width: 433px;*/
    color: #353535;
    font-family: Playfair Display, sans-serif;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-top: 36px;
}

.order-details-has-been-sent {
    height: 70px;
    width: 50%;
    color: #181818;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    margin-bottom: 45px;
}

.find-retailer-line {
    box-sizing: border-box;
    height: 1px;
    width: 529px;
    border-bottom: 1px solid #E7E7E7;
}

.find-retailer-list-item {
    /*height: 35px;*/
    /*width: 460px;*/
    color: #181818;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.find-retailer-link {
    height: 55.08px;
    width: 252.25px;
    border: 1px solid #3B3B3B;
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 31px;
    margin-top: 46px;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
}