/**
 * About - Scroller
 * One half of the about page - the section where the entire page scrolls 
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */

@import '../../assets/css/src/_variables.scss';
@import '../../assets/css/src/_utilities.scss';


/****************************************************************************
*     Scroller Page Layout 
****************************************************************************/ 


.about__scroller__content,
.about__scroller__content.clearfix {
	display: none;
	opacity: 0;
	/*opacity: 1;
	display: block;*/
	background-color: darken($page-header-background, 2%);
	padding-bottom: 10%;
	z-index: 999;
}

.show-about-scroller .about__scroller__content {
	opacity: 1;
	display: block;
}

.about__scroller__start {
	bottom: 30%;
	display: inline-block;
	left: 0;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
	transition: all ease-in-out 1.2s;
	visibility: hidden;

	@media screen and (max-width: 768px) {
		bottom: 43%;
		left: 50%;
	}
}

.about__scroller__subtitle {

	@media screen and (max-height: 900px) {
		display: none;
	}
}

body.show-about-scroller .about__scroller__start {
	opacity: 1;
	visibility: visible;
}

#pagepilling {
	height: 100vh;
}

.pp-section {
	background-color: white;
	height: 100vh !important;

	.section__image {
		height: 60%;
		margin-left: 10%;
		position: absolute;
		top: 20%;
		width: 60%;

		@media screen and (max-width: 992px) {
			height: 46%;
			top: 12%;
			width: 80%;
		}

		@media screen and (max-width: 550px) {
			height: 40%;
		}

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	.section__content {
		background: white;
		height: 56%;
		left: 52.5%;
		padding: 50px;
		position: absolute;
		right: 10%;
		top: 22%;
		overflow: hidden;

		@media screen and (max-width: 992px) {
			height: 43%;
			left: 10%;
			padding: 25px;
			top: 52%;
		}

		@media screen and (max-width: 550px) {
			height: 45%;
			top: 52%;
		}

		h2 {
			color: black;
			margin-bottom: 40px;
			font-size: 42px;

			@media screen and (max-width: 992px) {
				line-height: 1.1;
				margin-bottom: 20px;
			}

			@media screen and (max-width: 550px) {
				font-size: 26px;
				margin-bottom: 25px;
			}
		}

		p {
			line-height: 2.5;
			margin-bottom: 25px;

			@media screen and (max-width: 992px) {
				line-height: 1.8;
				margin-bottom: 15px;
			}

			@media screen and (max-width: 550px) {
				margin-bottom: 0;
			}
		}

		a {
			color: black;
			display: inline-block;

			&:hover {
				color: black;

				&:before,
				&:after {
					background: black;
				}
			}

			&:before,
			&:after {
				background: black;
			}
		}
	}
}

.scroller__top {
	bottom: 25px;
	cursor: pointer;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);

	@media screen and (max-width: 550px) {
		left: 78%;
		z-index: 99;
		display: none;
	}
}

.pp-tableCell {
	background: #383838;
	background: -moz-linear-gradient(left, #383838 0%, #383838 50%, #2d2d2d 50%, #2d2d2d 100%);
	background: -webkit-linear-gradient(left, #383838 0%,#383838 50%,#2d2d2d 50%,#2d2d2d 100%);
	background: linear-gradient(to right, #383838 0%,#383838 50%,#2d2d2d 50%,#2d2d2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#2d2d2d',GradientType=1 );
	display: block !important;
}

#pp-nav {
	display: none;

	@media screen and (max-width: 550px) {
		right: 0 !important;
	}
}

#pp-nav span, .pp-slidesNav span {
	border-color: white !important;
}

#pp-nav li .active span, .pp-slidesNav .active span {
	background: white !important;
}