#google-map {
	height: 600px;
	margin: auto;
	width: 100%;
}

#google-map > div > div > div > div:nth-child(1) > div:nth-child(4) > div > div > div > div {
	color: white !important;
	font-family: "Open Sans",sans-serif !important;
	position: relative;
	top: -2px;
}
