@font-face {
	font-family: 'DIN';
	src: url('../../fonts/din/din.otf') format('OpenType');
}

@font-face {
	font-family: 'Playfair Display';
	src: url(https://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1CSVudZg2I_9CBJalMPResNk.woff2) format('woff2');
}

@font-face {
	font-family: 'Montserrat';
	src: url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	src: url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}

@mixin typography-standards($color, $font, $size, $spacing) {
	color: $color;
	font-family: $font;
	font-size: $size;
	font-weight: normal;
	letter-spacing: $spacing;
	line-height: 1.8;
}

#hospitality-builder {

	h1 {
		@include typography-standards(#000000, $font-header, 52px, 2px);
		margin: 0;

		&.home-banner-header {
			@include typography-standards(#ffffff, $font-crucial, 70px, 4px);
			text-shadow: 1px 0px 30px #aaaaaa;
			text-transform: uppercase;
		}

		&.standard-banner-header {
			font-size: 75px;
		}
	}

	h2 {
		@include typography-standards(#000000, $font-header, 38px, 2px);
		margin: 0;

		&.material-header {
			font-size: 75px;
		}
	}

	h3 {
		@include typography-standards(#000000, $font-sub-header, 14px, 2px);
		margin: 0;
		opacity: 40%;
		text-transform: uppercase; 
	}

	a {
		@include typography-standards(#000000, $font-sub-header, 17px, 2.5px);
		padding-bottom: 5px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		padding-top: 10px;
		padding-bottom: 30px;
		transition: all ease-in-out 0.25s;
		-webkit-transition: all ease-in-out 0.25s;
		
		&:hover {
			text-decoration: none;
		}

		@media screen and (max-width: 768px) {
			font-size: 15px;
		}
	}

	p {
		@include typography-standards(#000000, $font-copy, 17px, 0.5px);
	}
}