/**
 * SASS File - Main Menu 
 * Sliding drawer menu which slides out from the right
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */

$main-menu-link-color: #a0a0a0;
$main-menu-bg-color: #2d2d2d;
$main-menu-border-color: #3e3e3e;



html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Montserrat' sans-serif;
}






 /*** Menu ***/
 
.main-menu__wrap {
	position: absolute;
	z-index: 1001;
	width: 400px;
	height: 100%;
	right: 0;
	background: $main-menu-bg-color;
	padding-top: 55px;
	-webkit-transform: translate3d(400px,0,0);
	transform: translate3d(400px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.55,0,0.3,1);
	transition-timing-function: cubic-bezier(0.55,0,0.3,1);
}


/*** Shown menu animation ***/

.show-menu .main-menu__wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.65s;
	transition: transform 0.65s;
	-webkit-transition-timing-function: cubic-bezier(0.55,0,0.3,1);
	transition-timing-function: cubic-bezier(0.55,0,0.3,1);
}


/*** Menu - General ***/ 

.main-menu__wrap a {
	font-size: 16px;
	color: $main-menu-link-color;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 0px;
	font-weight: 400;
	padding: 25px;
	padding-left: 60px;
	transition: color background-color ease-in-out 0.25s;
  -webkit-transition: color background-color ease-in-out 0.25s;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased;    
	transform: translate(0,0);
}

.main-menu__wrap a:hover,
.main-menu__wrap a:focus,
.main-menu__wrap a.active {
	color: #FFF;
	background-color: #272727;
}

.main-menu__wrap a span {
	display: inline-block;
	transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
}

.main-menu__wrap a:hover span {
	transform: translate(5px,0);
	-webkit-transform: translate(5px,0);
}


/************** Menu Top - Links **************/ 

/*** Menu - Large ***/ 

.main-menu__top__lg {
	border-bottom: 1px solid $main-menu-border-color;
	padding-bottom: 25px;
}

.main-menu__top__lg a {
	font-size: 16px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}

/*** Menu - Small ***/ 

.main-menu__top__sm {
	padding-top: 20px;
	padding-bottom: 20px;
}



/************** Menu Bottom**************/ 

.main-menu__bottom {
	position: absolute;
	bottom: 100px;
	width: 100%;
}

/*** Menu Bottom - Social ***/ 

.main-menu__social {
	border-top: 1px solid $main-menu-border-color;
	border-bottom: 1px solid $main-menu-border-color;
}

.main-menu__social i {
	display: block;
	margin-bottom: 10px;
	font-size: 22px;
}

.main-menu__social a {
	padding: 15px;
		transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
}

.main-menu__social--twitter, 
.main-menu__social--instagram {
	width: 50%;
	display: inline-block;
	text-align: center;
	font-size: 0;
	box-sizing: border-box;
}

.main-menu__social--twitter {
		font-size: 0;
		border-right: 1px solid $main-menu-border-color;
}


/*** Menu Bottom - Search ***/ 




/*** Menu Button ***/
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	font-size: 1.5em;
	/*color: transparent;*/
	background: transparent;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 2.5em;
	height: 2.5em;
	position: absolute;
	right: 420px;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}






/*.menu, 
.icon-list {
	height: 100%;
}*/

/*.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.icon-list {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}*/

/*.icon-list a {
	display: block;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
*/

/*.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}*/



/*.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}















/*
.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}*/




/*.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content {
	position: relative;
	background: #b4bad2;
}

.content::before {
	position: absolute;
	top: 0;
	right: 4px;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}*/