/**
 * SASS File - Main Menu 
 * Sliding drawer menu which slides out from the right
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */

@import '../../assets/css/src/_variables.scss';
@import '../../assets/css/src/_utilities.scss';

body {
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased;  
	overflow-x: hidden;
	position: relative;
	left: 0px; 
} 

/************** Main Menu **************/ 

.main-menu {
	z-index: 9999;
} 
 
.main-menu__wrap {
	font-family: $font-sub-header;
	position: fixed;
	z-index: 1001;
	width: 370px;
	height: 100%;
	top: 0px;
	right: 0px;
	background: $main-menu-bg-color;
	padding-top: 50px;
	-webkit-transform: translate3d(370px,0,0);
	transform: translate3d(370px,0,0);
	-webkit-transition: -webkit-transform 0.75s;
	transition: transform 0.75s;
	-webkit-transition-timing-function: cubic-bezier(0.62,0,0.5,1);
	transition-timing-function: cubic-bezier(0.62,0,0.5,1);
	z-index: 9999;
	//border-left: 1px solid #3e3e3e;
	
	@media all and (max-width: 1024px) {
		padding-top: 10px;
	}
	
	@media all and (max-width: 769px) {
		width: 320px;
	}
	
	@media all and (max-width: 555px) {
		width: 270px;
	}

	@media all and (max-width: 450px) {
		transform: translate3d(100%,0,0);
		width: 100%;
	}
}

/*** Shown menu animation ***/

.show-menu .main-menu__wrap {
	transform: translate3d(0,0,0);
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.55,0,0.5,1);
}

/*** Shown menu - button animation ***/

.show-menu .main-menu__button--wrap {
	position: fixed !important;
	transform: translate3d(-370px,0,0);
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(0.55,0,0.5,1);
	//animation: main-menu__button--movefade 1.3s;
	//animation-iteration-count: 1;
}

@keyframes main-menu__button--movefade {
  0% {
    transform: translate3d(-370px,0,0);
    opacity: 0;
  }
  50% {
	  transform: translate3d(-370px,0,0);
	  opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(-370px,0,0);
  }
}

@media screen and (max-width: 769px) {

	.show-menu .main-menu__button--wrap {
		transform: translate3d(-320px,0,0);
		//transition: transform 0.8s;
		transition-timing-function: cubic-bezier(0.55,0,0.5,1);
	}
}

@media screen and (max-width: 450px) {

	.show-menu .main-menu__button--wrap {
		left: 0;
		transform: none;
		//transition: transform 0.8s;
		transition-timing-function: cubic-bezier(0.55,0,0.5,1);
	}
}

/*** Menu Fade In Animation ***/

.main-menu__top,
.main-menu__bottom {
	transition: opacity 2s;
	opacity: 0;
}

.show-menu .main-menu__top,
.show-menu .main-menu__bottom {
	opacity: 1;
}

/************** Menu Links - General **************/ 

.main-menu__wrap a {
	font-size: 16px;
	color: $main-menu-link-color;
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 0px;
	font-weight: 400;
	padding: 25px;
	padding-left: 60px;
	transition: color background-color ease-in-out 0.25s;
  -webkit-transition: color background-color ease-in-out 0.25s;
	transform: translate(0,0);
		
	@media all and (max-width: 769px) {
		padding: 20px;
		padding-left: 60px;
	}

	@media all and (max-width: 550px) {
		padding-left: 25px;
	}
}

.main-menu__wrap a:hover,
.main-menu__wrap a.active {
	background-color: #272727;
}

.main-menu__wrap a:hover span {
	color: #FFF;
}

/*** Menu Link Text - Move on hover ***/ 

.main-menu__wrap a span {
	display: inline-block;
	@extend .transition-all;
}

.main-menu__wrap a:hover span {
	transform: translate(5px,0);
	-webkit-transform: translate(5px,0);
}

/*** Menu Links Line ***/ 

.main-menu__wrap a::after {
	width: 23px;
	height: 1px;
	position: absolute;
	left: 0;
	top: 50%;
	content: ' ';
	background-color: darken($main-menu-link-color-dark, 15%);
	transform: translate(20px, 0);
	opacity: 0;
	@extend .transition-all;
}

.main-menu__wrap a:hover::after,
.main-menu__wrap a.active::after {
	transform: translate(0, 0);
	opacity: 1;
}


/************** Menu Top - Links **************/ 

/*** Menu - Large ***/ 

.main-menu__top__lg {
	border-bottom: 1px solid $main-menu-border-color;
	padding-bottom: 25px;
	
	@media all and (max-width: 769px) {
		padding-bottom: 15px;
	}
	
}

.main-menu__top__lg a {
	font-size: 16px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	
	@media all and (max-width: 769px) {
		font-size: 15px;
	}
	
}

/*** Menu - Small ***/ 

.main-menu__top__sm {
	padding-top: 30px;
	padding-bottom: 20px;
	
	@media all and (max-width: 769px) {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	
}

.main-menu__top__sm a {
	padding-top: 15px;
	padding-bottom: 15px;
	color: $main-menu-link-color-dark;
}


/************** Menu Bottom **************/ 

.main-menu__bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;

	@media screen and (max-width: 450px) {
		position: static;
	}
}

/** Adjust colours **/

.main-menu__wrap .main-menu__bottom a {
	color: $main-menu-link-color-dark;
}

.main-menu__wrap .main-menu__bottom a:hover {
	color: #FFF;
}

/*** Menu Bottom - Social ***/ 

.main-menu__social {
	border-top: 1px solid $main-menu-border-color;
	border-bottom: 1px solid $main-menu-border-color;
}

.main-menu__social a i,
.main-menu__social a {
	@extend .transition-all;
}

.main-menu__social a {
	padding: 15px;
}

.main-menu__social a::after {
	display: none;
}

.main-menu__social a i {
	display: block;
	margin-bottom: 10px;
	font-size: 22px;
}

.main-menu__social a:hover i {
	transform: translate(0,4px);
	-webkit-transform: translate(0,4px);
}

.main-menu__social--twitter, 
.main-menu__social--instagram {
	width: 50%;
	background-color: $main-menu-bg-color;
	display: inline-block;
	text-align: center;
	font-size: 0;
	box-sizing: border-box;
}

.main-menu__social--twitter {
	font-size: 0;
	border-right: 1px solid $main-menu-border-color;
}


/*** Menu Bottom - Search ***/ 

.main-menu__search label {
	position: relative;
	display: block;
}

.main-menu__search label span.main-menu__search__icon {
	position: absolute;
	color: $main-menu-link-color-dark;
	top: 32%;
	font-size: 20px;
	left: 20px;
	transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
  -webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-font-smoothing: antialiased;    
}

input.main-menu__search__input,
input.main-menu__search__input:focus {
	width: 100%;
	font-size:  16px;
	color: #FFF;
	font-family: $font-sub-header; 
	background-color: $main-menu-bg-color !important;
	margin: 0;
	padding: 30px !important;
	padding-left: 60px !important;
	border: 0;
	border-radius: 0;
	border: none !important; 
	outline: none;
	box-sizing: border-box;        
	border-bottom: 1px solid $main-menu-border-color;
}

::-webkit-input-placeholder {
	font-family: $font-sub-header;
	color: $main-menu-link-color-dark;
}

:-moz-placeholder {
	font-family: $font-sub-header;
	color: $main-menu-link-color-dark;
}

::-moz-placeholder {
	font-family: $font-sub-header;
	color: $main-menu-link-color-dark;
}

:-ms-input-placeholder {  
	font-family: $font-sub-header;
	color: $main-menu-link-color-dark;
}

input.main-menu__search__input:focus + span.main-menu__search__icon {
	color: #FFF;
	transform: translate(5px,0);
	-webkit-transform: translate(5px,0);
}



/************** Animated Menu Button **************/ 

.main-menu__button--wrap {
	position: absolute;
	top: 0px;
	right: 0px;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.62,0,0.5,1);
	transition-timing-function: cubic-bezier(0.62,0,0.5,1);

	@media screen and (max-width: 450px) {
		width: 75px !important;
		right: 0 !important;
		left: auto !important;
	}
}

.main-menu__button {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 190px;
  height: 90px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
   transition: background 0.3s;
   background: transparent;
   text-shadow: none;

   @media screen and (max-width: 768px) {
   	width: 100px;
   }

}

.show-menu .main-menu__button {

	 @media screen and (max-width: 555px) {
   	left: 50px;
   }

   @media screen and (max-width: 450px) {
   	left: 0;
    right: 0;
    width: 100vw;
   }
}

.main-menu__button:focus,
.main-menu__button:hover {
  outline: none;
  background-color: transparent;
	box-shadow: none;
	border: none;
}

/*.main-menu__button:hover span.main-menu__button__text,
.main-menu__button:hover span.main-menu__button__text--close {
  color: $main-menu-bg-color;
}*/

.show-menu .main-menu__button {
	/*background: $main-menu-bg-color;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
}

span.main-menu__button__text,
span.main-menu__button__text--close {
	font-size: 16px;
	font-family: $font-sub-header; 
	color: #FFF;
	opacity: 1;
	text-indent: 0;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	position: absolute;
	top:25px;
	left: 74px;
	@extend .transition-all;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

span.main-menu__button__text--close {
	opacity: 0;
}

span.main-menu__button__icon {
  display: block;
  position: absolute;
  top: 42px;
  left: 20px;
  right: 0px;
  height: 2px;
  background-color: #FFF;
  width: 37px;
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
  transition: all ease-in-out 0.25s;

  @media screen and (max-width: 768px) {
  	left: calc(100% - 75px);
  }

  @media screen and (max-width: 450px) {
  	left: 18px;
  }
}

span.main-menu__button__icon::before,
span.main-menu__button__icon::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  content: "";
	-webkit-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0.3s, 0s;
	transition-delay: 0.3s, 0s;
}

span.main-menu__button__icon::before {
  top: -11px;
	-webkit-transition-property: top, -webkit-transform;
	transition-property: top, transform;
}

span.main-menu__button__icon::after {
  bottom: -11px;
	-webkit-transition-property: bottom, -webkit-transform;
	transition-property: bottom, transform;
}

/* Active state - change icon  */

.main-menu__button.is-active span.main-menu__button__icon {
  background: none;
}

.main-menu__button.is-active span.main-menu__button__icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-menu__button.is-active span.main-menu__button__icon::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-menu__button.is-active span.main-menu__button__icon::before,
.main-menu__button.is-active span.main-menu__button__icon::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

/* Active state - swop menu for close text  */

.main-menu__button.is-active span.main-menu__button__text {
	opacity: 0;
}

.main-menu__button.is-active span.main-menu__button__text--close {
	opacity: 1;
}

@media screen and (max-width: 992px) {

	.show-menu .main-menu__button.is-active span.main-menu__button__text {
		opacity: 0;
	}
}

/* Home Page Black Menu */

.page-template-home {

	span.main-menu__button__icon,
	span.main-menu__button__icon:before,
	span.main-menu__button__icon:after {
		background: black;
	}

	span.main-menu__button__text, 
	span.main-menu__button__text--close {
		color: black;
	}

	svg.main-menu__button__basket g {
		fill: black;
	}

	#num-items-basket {
		background: black;
		color: white;
	}

	.close-basket-dropdown span.main-menu__button__icon {
		background: transparent;
	}

}

.page-template-home.show-menu .main-menu__button.is-active#open-button span.main-menu__button__icon::before, 
.page-template-home.show-menu .main-menu__button.is-active#open-button span.main-menu__button__icon::after {

	@media screen and (max-width: 450px) {
		background: white;
	}
}