/**
 * SASS File - Main Menu 
 * Sliding drawer menu which slides out from the right
 *
 * Contents:
 *
 * @package Crucial Trading
 * @since Crucial Trading 1.0
 */
/************************************************************************************************************************
	
	Crucial Trading - SASS Master File
	
	Created by: KIJO Creative <hello@kijo.co>
	
*************************************************************************************************************************/
@font-face {
  font-family: 'DIN';
  src: url("../../fonts/din/din.otf") format("OpenType"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../../fonts/playfair-display/PlayfairDisplay-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/open-sans/OpenSans-Regular.ttf") format("truetype"); }

/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Typography */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow {
  box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all, .main-menu__wrap a span, .main-menu__wrap a::after, .main-menu__social a i,
.main-menu__social a, span.main-menu__button__text,
span.main-menu__button__text--close {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

/************************************************************************************************************************
	Headings
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
body {
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 52px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.8;
  margin: 0; }
  h1.home-banner-header {
    color: #ffffff;
    font-family: "DIN", sans-serif;
    font-size: 70px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 1.8;
    text-shadow: 1px 0px 30px #aaaaaa;
    text-transform: uppercase; }
  h1.standard-banner-header {
    font-size: 75px; }

h2 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.8;
  margin: 0; }
  h2.material-header {
    font-size: 75px; }

h3 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 4px;
  line-height: 1.8;
  margin: 0;
  opacity: 40%;
  text-transform: uppercase; }

a {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 2.5px;
  line-height: 1.8;
  opacity: 50%;
  text-decoration: none;
  text-transform: uppercase; }
  a:hover {
    color: #000000;
    text-decoration: underline; }

p {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.8; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: monospace;
  font-size: 0.9375;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: monospace;
  font-size: 0.9375; }

abbr, acronym {
  border-bottom: 1px dotted black;
  cursor: help; }

mark, ins {
  background: black;
  text-decoration: none; }

big {
  font-size: 125%; }

form,
input,
button {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
  left: 0px; }

/************** Main Menu **************/
.main-menu__wrap {
  position: fixed;
  z-index: 1001;
  width: 370px;
  height: 100%;
  top: 0px;
  right: 0px;
  background: #2d2d2d;
  padding-top: 50px;
  -webkit-transform: translate3d(370px, 0, 0);
  transform: translate3d(370px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }
  @media all and (max-width: 1024px) {
    .main-menu__wrap {
      padding-top: 10px; } }
  @media all and (max-width: 769px) {
    .main-menu__wrap {
      width: 320px; } }

/*** Shown menu animation ***/
.show-menu .main-menu__wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.65s;
  transition: -webkit-transform 0.65s;
  transition: transform 0.65s;
  transition: transform 0.65s, -webkit-transform 0.65s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1); }

.show-menu .main-menu__button--wrap {
  -webkit-transform: translate3d(-370px, 0, 0);
  transform: translate3d(-370px, 0, 0);
  -webkit-transition: -webkit-transform 0.65s;
  transition: -webkit-transform 0.65s;
  transition: transform 0.65s;
  transition: transform 0.65s, -webkit-transform 0.65s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1); }

/************** Menu Links - General **************/
.main-menu__wrap a {
  font-size: 16px;
  color: #a0a0a0;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
  padding: 25px;
  padding-left: 60px;
  transition: color background-color ease-in-out 0.25s;
  -webkit-transition: color background-color ease-in-out 0.25s;
  -webkit-transform: translate(0, 0);
   transform: translate(0, 0); }
  
  @media all and (max-width: 769px) {
    .main-menu__wrap a {
      padding: 20px;
      padding-left: 60px; } }

.main-menu__wrap a:hover,
.main-menu__wrap a.active {
  color: #FFF;
  background-color: #272727; }

/*** Menu Link Text - Move on hover ***/
.main-menu__wrap a span {
  display: inline-block; }

.main-menu__wrap a:hover span {
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0); }

/*** Menu Links Line ***/
.main-menu__wrap a::after {
  width: 23px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  content: ' ';
  background-color: #606060;
  -webkit-transform: translate(20px, 0);
  transform: translate(20px, 0);
  opacity: 0; }

.main-menu__wrap a:hover::after,
.main-menu__wrap a.active::after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

/************** Menu Top - Links **************/
/*** Menu - Large ***/
.main-menu__top__lg {
  border-bottom: 1px solid #3e3e3e;
  padding-bottom: 25px; }
  @media all and (max-width: 769px) {
    .main-menu__top__lg {
      padding-bottom: 15px; } }

.main-menu__top__lg a {
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase; }
  @media all and (max-width: 769px) {
    .main-menu__top__lg a {
      font-size: 15px; } }

/*** Menu - Small ***/
.main-menu__top__sm {
  padding-top: 30px;
  padding-bottom: 20px; }
  @media all and (max-width: 769px) {
    .main-menu__top__sm {
      padding-bottom: 15px;
      padding-top: 15px; } }

.main-menu__top__sm a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #878787; }

/************** Menu Bottom**************/
.main-menu__bottom {
  position: absolute;
  bottom: 50px;
  width: 100%; }

/** Adjust colours **/
.main-menu__wrap .main-menu__bottom a {
  color: #878787; }

.main-menu__wrap .main-menu__bottom a:hover {
  color: #FFF; }

/*** Menu Bottom - Social ***/
.main-menu__social {
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e; }

.main-menu__social a {
  padding: 15px; }

.main-menu__social a::after {
  display: none; }

.main-menu__social a i {
  display: block;
  margin-bottom: 10px;
  font-size: 22px; }

.main-menu__social a:hover i {
  transform: translate(0, 4px);
  -webkit-transform: translate(0, 4px); }

.main-menu__social--twitter,
.main-menu__social--instagram {
  width: 50%;
  background-color: #2d2d2d;
  display: inline-block;
  text-align: center;
  font-size: 0;
  box-sizing: border-box; }

.main-menu__social--twitter {
  font-size: 0;
  border-right: 1px solid #3e3e3e; }

/*** Menu Bottom - Search ***/
.main-menu__search label {
  position: relative; }

.main-menu__search label span.main-menu__search__icon {
  position: absolute;
  color: #878787;
  top: -3px;
  font-size: 20px;
  left: 20px;
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased; }

input.main-menu__search__input {
  width: 100%;
  font-size: 16px;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  background: #2d2d2d;
  margin: 0;
  padding: 30px;
  padding-left: 60px;
  border: 0;
  border-radius: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1px solid #3e3e3e; }

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #878787; }

:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #878787; }

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #878787; }

:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #878787; }

input.main-menu__search__input:focus + span.main-menu__search__icon {
  color: #FFF;
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0); }

/************** Animated Menu Button **************/
.main-menu__button--wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.62, 0, 0.5, 1); }

.main-menu__button {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 90px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: transparent; }

.main-menu__button:focus {
  outline: none; }

.main-menu__button:hover {
  background-color: transparent; }

/*.main-menu__button:hover span.main-menu__button__text,
.main-menu__button:hover span.main-menu__button__text--close {
  color: $main-menu-bg-color;
}*/
span.main-menu__button__text,
span.main-menu__button__text--close {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-indent: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: absolute;
  top: 33px;
  left: 65px; }

span.main-menu__button__text--close {
  opacity: 0; }

span.main-menu__button__icon {
  display: block;
  position: absolute;
  top: 42px;
  left: 0px;
  right: 0px;
  height: 2px;
  background-color: #FFF;
  width: 37px;
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s; }

span.main-menu__button__icon::before,
span.main-menu__button__icon::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s; }

span.main-menu__button__icon::before {
  top: -11px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform; }

span.main-menu__button__icon::after {
  bottom: -11px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform; }

/*.main-menu__button:hover span.main-menu__button__icon,
.main-menu__button:hover span.main-menu__button__icon::before,
.main-menu__button:hover span.main-menu__button__icon::after {
	background-color: $main-menu-bg-color;
}*/
/* Active state - change icon  */
.main-menu__button.is-active span.main-menu__button__icon {
  background: none; }

.main-menu__button.is-active span.main-menu__button__icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.main-menu__button.is-active span.main-menu__button__icon::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.main-menu__button.is-active span.main-menu__button__icon::before,
.main-menu__button.is-active span.main-menu__button__icon::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s; }

/* Active state - swop menu for close text  */
.main-menu__button.is-active span.main-menu__button__text {
  opacity: 0; }

.main-menu__button.is-active span.main-menu__button__text--close {
  opacity: 1; }
