.home-page-cta {
	float: left;
	height: 500px;
	padding: 100px;
	position: relative;
	width: 50%;

	@media screen and (max-width: 992px) {
		height: auto;
		width: 100%;
	}

	@media screen and (max-width: 555px) {
		padding: 50px;
	}

	a {
		display: block;
		height: 100%;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	h2, p {
		color: white;
	}

	h2 {
		margin-bottom: 20px;
	}

	span {
		background: #4d4d4d;
		display: block;
		height: 1px;
		left: -100px;
		margin-top: 52px;
		position: absolute;
		top: 0;
		width: 50px;

		@media screen and (max-width: 555px) {
			margin-top: 70px;
		}
	}

	img {
		bottom: -150px;
		position: absolute;
		width: 175px;

		@media screen and (max-width: 992px) {
			bottom: -220px;
		}

		@media screen and (max-width: 555px) {
			right: 20px;
			width: 125px;
		}
	}
}