// CTA Colours & Hovers

#cta--1 a {
	background-color:#383838;
}

#cta--1 a:hover {
	background-color:lighten(#383838, 3%);
}

#cta--2 a {
	background-color:#343233;
}

#cta--2 a:hover {
	background-color: darken(#343233, 2%);
}

// CTA 

.home-page-cta {
	float: left;
	height: 600px;
	position: relative;
	width: 50%;

	@media screen and (max-width: 992px) {
		height: auto;
		width: 100%;
	}

	@media screen and (max-width: 555px) {
		padding: 50px;
	}

	a {
		display: block;
		padding: 100px;
		height: 100%;
		width: 100%;

		&:focus {
			outline: none;
		}
		
	}

	h2, p {
		color: white;
	}

	h2 {
		margin-bottom: 20px;
	}

	span {
		background: #4d4d4d;
		display: block;
		height: 1px;
		left: 0px;
		top: 142px;
		position: absolute;
		width: 50px;

		@media screen and (max-width: 555px) {
			margin-top: 70px;
		}
	}

	img {
		bottom: -60px;
		position: absolute;
		width: 175px;

		@media screen and (max-width: 992px) {
			bottom: -220px;
		}

		@media screen and (max-width: 555px) {
			right: 20px;
			width: 125px;
		}
	}
}