* {
    box-sizing: border-box;
}

.container-builder {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header-builder {
    width: 100%;
    height: 80px;
    background-color: #383838;
    text-align: center;
}

.header-builder img {
    content: url("./images/header.png");
    width: 100%;
    height: 100%;
}

.main-builder {
    position: relative;
    width: 100%;
    height: 830px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-builder-carpet {
    height: 586px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.main-carpet-preview {
    background-color: #F9F9F9;
    -ms-flex-preferred-size: 77%;
    flex-basis: 77%;
    position: relative;
}

.left-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 41.57px;
    /*width: 133px;*/
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.07);
    top: 21.22px;
    left: 20px;
}

.rug-corner {
    position: absolute;
    height: 268px;
    width: 308px;
    left: 20px;
    top: 62.79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.room-presets {
    position: absolute;
    height: 404px;
    width: 334px;
    left: 20px;
    top: 62.79px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 21px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.room-presets-header {
    color: #383838;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 2.48px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.room-presets-image-wrapper {
    width: 290px;
    height: 204px;
    margin-bottom: 20px;
}

.room-presets-images {
    width: 100%;
    height: 100%;
}

.room-presets-room-select {
    position: relative;
    width: 290px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 19px;
}

.room-presets-back {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: solid #353535;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
    cursor: pointer;
}

.room-presets-room-name {
    color: #383838;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 2.48px;
    line-height: 25px;
}

.room-presets-forward {
    position: absolute;
    left: 268px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: solid #353535;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    cursor: pointer;
}

.room-presets-clear-preset-btn {
    height: 55px;
    width: 291px;
    background-color: #383838;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.07);
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.63px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}

.rug-corner-preview {
    width: 283px;
    height: 268px;
}

.rug-corner-close {
    width: 25px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFFFFF;
}

.rug-corner-close-text {
    transform: rotate(-90deg);
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 2.29px;
    line-height: 17px;
    text-align: center;
}

.rug-3d {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.left-controls-first {
    height: 100%;
    width: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.left-controls-first img {
    max-width: 70%;
    width: 70%;
    height: 70%;
}

.left-controls-second {
    height: 100%;
    width: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.left-controls-second img {
    max-width: 70%;
    width: 70%;
    height: 70%;
}

.left-controls-third {
    height: 100%;
    width: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-controls-third img {
    max-width: 70%;
    width: 70%;
    height: 70%;
}

.zoomin-zoomout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 41.57px;
    width: 133px;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.07);
    top: 21.22px;
    right: 32px;
}

.twice {
    height: 100%;
    width: 43px;
    background-color: #F1F1F1;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 41.57px;
}

.zoom-in {
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.zoom-in img {
    width: 50%;
}

.zoom-out {
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.zoom-out img {
    width: 50%;
}

.perspective-control {
    height: 50px;
    width: 252px;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    margin: auto;
    left: 43%;
}

.above-vertical {
    width: 63px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #E8E8E8;
    cursor: pointer;
}

.above-vertical img {
    max-width: 70%;
    max-height: 70%;
    width: 70%;
    height: 70%;
}

.above-horizontal {
    width: 63px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #E8E8E8;
    cursor: pointer;
}

.above-horizontal img {
    max-width: 60%;
    max-height: 60%;
    width: 60%;
    height: 60%;
}

.angled-horizontal {
    width: 63px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #E8E8E8;
    cursor: pointer;
}

.angled-horizontal img {
    max-width: 70%;
    max-height: 70%;
    width: 70%;
    height: 70%;
}

.angled {
    width: 63px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.angled img {
    max-width: 70%;
    max-height: 70%;
    width: 70%;
    height: 70%;
}

.main-carpet-controls {
    background-color: #FFFFFF;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
    border-bottom: 2px solid #F9F9F9;
}

.rug-specification {
    min-height: 82px;
    border-bottom: 1px solid #E7E7E7;
    padding-top: 21px;
    text-align: center;
}

.your-bespoke-rug-spe {
    width: 60%;
    color: #2D2D2D;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.current-carpet-size {
    position: relative;
    height: 65px;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 20px;

}

.current-size-edit {
    height: 20px;
    position: relative;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
}

.current-size-edit img {
    height: 100%;
    margin-right: 15px;
}

.current-size-edit-dimensions {
    display: inline-block;
    color: #272727;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 15px;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
}

.current-border-type {
    height: 65px;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 20px;
}

.centre-is-selected {
    height: 65px;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 20px;
}

.centre-is-selected img {
    height: 60%;
    margin-right: 15px;
    vertical-align: middle;
}

.centre-is-selected-type {
    display: inline-block;
    color: #272727;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 15px;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
}

.centre-is-not-selected-type {
    display: inline-block;
    color: #272727;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    letter-spacing: 1.47px;
    line-height: 15px;
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    opacity: 0.42;
}

.border-is-selected {
    height: 65px;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 20px;
}

.border-is-selected img {
    height: 60%;
    margin-right: 15px;
    vertical-align: middle;
}

.carpet-price {
    height: 65px;
    padding-left: 20px;
    padding-right: 25px;
    position: relative;
    padding-top: 15px;
}

.carpet-price-block {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.price-word {
    height: 22px;
    width: 51px;
    color: #2D2D2D;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 17px;
}

.price-value {
    color: #2D2D2D;
    font-family: Playfair Display, sans-serif;
    font-size: 22px;
    letter-spacing: 2.12px;
    line-height: 30px;
    margin-left: auto;
}

.finish-building-block {
    height: 65px;
    padding-left: 20px;
    padding-right: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ap-preview-block {
    height: 65px;
    padding-left: 20px;
    padding-right: 23px;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.finish-building-btn-inactive {
    height: 55.08px;
    opacity: 0.2;
    width: 100%;
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 31px;
    text-align: center;
}

.finish-building-btn-active {
    height: 55.08px;
    width: 100%;
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 31px;
    text-align: center;
}

.ap-preview-btn {
    height: 55.08px;
    width: 100%;
    border: 1px solid #3B3B3B;
    background-color: white;
    color: #1D1D1D;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 31px;
    text-align: center;
}

.main-area-builder {
    height: 244px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.main-area-builder-centre {
    border: 2px solid #F9F9F9;
    background-color: #FFFFFF;
    width: 25.6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-area-builder-view-selections {
    border: 2px solid #F9F9F9;
    background-color: #FFFFFF;
    width: 33.3%;
    height: 47%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

.centre {
    text-align: center;
    position: relative;
    width: 130px;
}

.centre-icon {
    max-width: 100%;
    width: 77px;
    height: 100px;
}

.centre-icon-selected-material {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 9px;
}

.centre-icon-selected-material::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 9px;
    top: 7px;
    background-image: url(./images/tick.svg);
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 0;*/
}

.centre-icon-selected-material img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.centre h3 {
    height: 31px;
    color: #2D2D2D;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    letter-spacing: 1.6px;
    line-height: 16px;
    text-align: center;
}

.main-area-builder-inner-border {
    border: 2px solid #F9F9F9;
    background-color: #FFFFFF;
    width: 25.6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-area-builder-rest {
    width: 23%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.close-center {
    height: 16px;
    color: #383838;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

.back-to-fibre-close-center {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.back-to-fibre-close-center-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*height: 50%;*/
    height: 122px;
    width: 100%;
    border-bottom: 2px solid #F9F9F9;
    cursor: pointer;
}

.back-to-fibre-close-center-first-text-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    letter-spacing: 1.73px;
    line-height: 17px;
}

.back-to-fibre-close-center-first-text-image img {
    margin-right: 15px;
}

.back-to-fibre-close-center-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.footer-builder {
    width: 100%;
    height: 591px;
    background-color: #2D2D2D;
    text-align: center;
}

.footer-builder img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 450px) {

    .main-builder {
        min-height: calc(100% - 53px);
    }

    .header-builder {
        height: 53px;
    }

    .footer-builder {
        display: none;
    }

    .header-builder img {
        content: url("./images/header-mobile.png");
    }

    .main-builder-carpet {
        height: calc((100% - 53px) / 2);
    }

    .zoomin-zoomout {
        height: 36px;
        width: 113px;
        top: 8px;
        right: 8px;
    }

    .price-mobile {
        height: 37px;
        width: 81px;
        border: 1px solid #E8E8E8;
        background-color: #FFFFFF;
        box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.07);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        bottom: 8px;
        right: 8px;
    }

    .price-mobile-value {
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        letter-spacing: 1.6px;
        line-height: 16px;
        text-align: center;
    }

    .left-controls {
        height: 36px;
        /*width: 113px;*/
        top: 8px;
        left: 8px;
    }

    .left-controls-first {
        width: 39px;
    }

    .main-carpet-controls {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /*height: calc(100% - 60px);*/
        z-index: 100;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .visible {
        display: flex !important;
    }

    .inVisible {
        display: none !important;
    }

    .current-carpet-size {
        padding-left: 59px;
    }

    .current-border-type {
        padding-left: 59px;
    }

    .centre-is-selected {
        padding-left: 59px;
    }

    .border-is-selected {
        padding-left: 59px;
    }

    .finish-building-block {
        padding-left: 0;
        padding-right: 0;
        width: 74%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .ap-preview-block {
        padding-left: 0;
        padding-right: 0;
        width: 74%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .carpet-price {
        padding-left: 13%;
        padding-right: 13%;
    }

    .price-word {
        text-transform: uppercase;
    }

    .main-carpet-preview {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .perspective-control {
        height: 37px;
        width: 191px;
        bottom: 8px;
        left: 8px;
    }

    .main-area-builder {
        height: 50%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .main-area-builder-centre {
        width: 33.3%;
        height: 47%;
    }

    .main-area-builder-view-selections {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .main-area-builder-rest {
        width: 100%;
        height: 60px;
    }

    .close-center {
        border-bottom: none;
    }

    .back-to-fibre-close-center {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .back-to-fibre-close-center-first {
        width: 50%;
        height: 100%;
        border: none;
    }

    .rug-corner {
        left: 8px;
        top: 46px;
    }
}
