/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.retailer-search {
  background: white;
  left: 45px;
  margin-top: -100px;
  padding: 30px 40px 10px;
  position: absolute;
  width: 300px;
  z-index: 99; }
  @media screen and (max-width: 550px) {
    .retailer-search {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      width: calc(100% - 90px); } }
  .retailer-search h2 {
    font-size: 24px;
    text-align: center; }
  .retailer-search span {
    background: #7C7C7C;
    display: block;
    height: 2px;
    margin: 15px auto 35px;
    width: 75px; }
  .retailer-search input {
    width: 100%; }
  .retailer-search button {
    height: 45px !important;
    margin-top: 50px;
    width: 100%; }
  .retailer-search select {
    display: none;
    width: 100%; }
  .retailer-search .overseas-partners,
  .retailer-search .uk-retailers {
    color: #7C7C7C;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    text-align: center; }
