.submit {
	background: white;
	bottom: 0;
	left: 0;
	padding-top: 75px;
	position: absolute;
	right: 0;
	top: 70px;
	z-index: 10;

	h3 {
		font-size: 24px;
		text-align: center;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		font-family: Montserrat,sans-serif;
		font-size: 14px;
		letter-spacing: 2px;
		list-style: none;
		margin-bottom: 5px;

		span {
			display: inline-block;
			width: 107px;
		}
	}

	.email {
		box-sizing: border-box;
		display: inline-block;
		text-align: right;
		padding-right: 25px;
		width: 50%;
	}

	.print {
		box-sizing: border-box;
		display: inline-block;
		text-align: left;
		padding-left: 25px;
		width: 50%;
	}
}