/************************************************************************************************************************
	Home Page News
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

.rotated-text {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  white-space: nowrap;
  transform-origin: right top;
  transform: rotate(270deg); }

.news-posts.home {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f8f8f8; }
  .news-posts.home .news__title {
    text-align: center; }
    .news-posts.home .news__title h3 {
      color: #a7a7a7; }

.news-posts.home .news__item {
  margin-bottom: 0; }

.news__page-all-link {
  margin-top: 30px;
  text-align: center; }
  .news__page-all-link a:before,
  .news__page-all-link a:after {
    background: #000; }

/*

.latest-news {
	background: #f5f5f5;
	padding-bottom: 100px;
	padding-top: 150px;
	position: relative;

	.news__title {
		text-align: center;

		h3 {
			color: #a7a7a7;
		}
	}

	.news__post {
		background: white;
		box-sizing: border-box;
		margin-left: 10%;
		margin-top: 75px;
		padding: 10px;
		position: relative;
		width: 80%;

		&:hover {
			-webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);
			-moz-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);
			box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);
			transition: all ease-in-out 0.25s;
    		-webkit-transition: all ease-in-out 0.25s;

			.borderr {
				border: 1px #f6f6f6 solid;
			}
		}

		.borderr {
			box-sizing: border-box;
			position: relative;

			.cat {
				color: #a7a7a7;
				left: -15vw;
				position: absolute;
				top: 71px;
				transform: rotate(270deg);

				@media screen and (max-width: 992px) {
					left: -21vw;
				}

				@media screen and (max-width: 666px) {
					display: none;
				}
			}

			.line {
				background: #a7a7a7;
				display: block;
				height: 2px;
				left: calc(-15vw - 10px);
				position: absolute;
				top: -10px;
				width: 75px;

				@media screen and (max-width: 992px) {
					width: 25px;
				}

				@media screen and (max-width: 666px) {
					display: none;
				}
			}
		}

		.post__left {
			padding: 4% 6%;
			width: 70%;

			@media screen and (max-width: 992px) {
				padding: 25px 25px 0 25px;
				width: 100%;
			}

			h2 {
				font-size: 36px;
				line-height: 1.4;
				margin-bottom: 1%;
			}

			h3 {
				color: #cbcbcb;
				margin-bottom: 7%;
			}

			p {
				margin-bottom: 100px;

				@media screen and (max-width: 992px) {
					margin-bottom: 25px;
				}
			}

			a {
				bottom: 20px;
				position: absolute;

				@media screen and (max-width: 992px) {
					position: static;
				}

				&:after {
					background: black;
					color: black;
				}
			}
		}

		.post__right {
			left: 70%;
			position: absolute;
			padding: 25px 25px 25px 0;
			right: 0;
			top: 0;
			width: 30%;

			@media screen and (max-width: 992px) {
				position: static;
				width: 100%;
			}

			img {
				height: auto;
				object-fit: cover;

				@media screen and (max-width: 992px) {
					width: 100%;
				}
			}
		}
	}
}

*/
