.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

canvas {
	position: absolute;
	top: 0;
	z-index: 5;
}

#full-loading {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99999;

	h1 {
		color: white;
		font-family: 'Playfair Display', serif;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	span {
		color: white;
		display: block;
		font-family: 'Playfair Display', serif;
		font-size: 40px;
		left: 0;
		margin-top: 45px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);

		&:nth-child(2) {
			padding-right: 30px;
		}

		&:last-child {
			padding-left: 30px;
		}
	}
}

@import 'base/variables';
@import 'base/buttons';
@import 'base/inputs';
@import 'base/typography';

@import 'components/*';
@import 'components/drawer/*';