.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

canvas {
	position: absolute;
	top: 0;
	z-index: 5;
}

@import 'base/variables';
@import 'base/buttons';
@import 'base/inputs';
@import 'base/typography';

@import 'components/*';
@import 'components/drawer/*';