.materials-slider {
  margin: 0 !important;
  padding: 0 !important; }

.material-slide {
  background: #383838;
  position: relative; }
  .material-slide .slide__title {
    left: -45px;
    top: 110px; }
    .material-slide .slide__title.coir {
      color: rgba(178, 136, 101, 0.6); }
    .material-slide .slide__title.jute {
      color: rgba(144, 114, 89, 0.6); }
    .material-slide .slide__title.seagrass {
      color: rgba(169, 154, 113, 0.6); }
    .material-slide .slide__title.sisal {
      color: rgba(109, 124, 97, 0.6); }
    .material-slide .slide__title.sisool {
      color: rgba(169, 167, 145, 0.6); }
    .material-slide .slide__title.wool {
      color: rgba(235, 213, 183, 0.6); }
  .material-slide .slide__list {
    margin: 25px 0 0;
    padding: 0; }
    .material-slide .slide__list li {
      cursor: pointer;
      display: inline;
      left: calc(50% - 5px);
      list-style: none;
      padding: 0 5px;
      position: relative; }
      .material-slide .slide__list li img {
        height: 45px;
        width: 45px; }
        .material-slide .slide__list li img:not(.active) {
          opacity: 0.4; }
          .material-slide .slide__list li img:not(.active):hover {
            opacity: 1; }
  .material-slide .content__left,
  .material-slide .content__right {
    float: left;
    padding: 150px 0 195px;
    width: 50%; }
  .material-slide .content__left {
    padding-right: 100px;
    text-align: right; }
  .material-slide .content__right {
    padding-right: 10%; }
    .material-slide .content__right a {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding: 0 0 15px; }
    .material-slide .content__right a:hover {
      text-decoration: none; }
    .material-slide .content__right h1 {
      margin-bottom: 48px; }
    .material-slide .content__right p {
      margin-bottom: 75px; }
    .material-slide .content__right.coir h1, .material-slide .content__right.coir p {
      color: #B28865; }
    .material-slide .content__right.coir h3, .material-slide .content__right.coir a, .material-slide .content__right.coir a:hover, .material-slide .content__right.coir a:visited {
      color: rgba(178, 136, 101, 0.6); }
    .material-slide .content__right.coir a {
      border-bottom-color: rgba(178, 136, 101, 0.6); }
    .material-slide .content__right.jute h1, .material-slide .content__right.jute p {
      color: #907259; }
    .material-slide .content__right.jute h3, .material-slide .content__right.jute a, .material-slide .content__right.jute a:hover, .material-slide .content__right.jute a:visited {
      color: rgba(144, 114, 89, 0.6); }
    .material-slide .content__right.jute a {
      border-bottom-color: rgba(144, 114, 89, 0.6); }
    .material-slide .content__right.seagrass h1, .material-slide .content__right.seagrass p {
      color: #A99A71; }
    .material-slide .content__right.seagrass h3, .material-slide .content__right.seagrass a, .material-slide .content__right.seagrass a:hover, .material-slide .content__right.seagrass a:visited {
      color: rgba(169, 154, 113, 0.6); }
    .material-slide .content__right.seagrass a {
      border-bottom-color: rgba(169, 154, 113, 0.6); }
    .material-slide .content__right.sisal h1, .material-slide .content__right.sisal p {
      color: #6D7C61; }
    .material-slide .content__right.sisal h3, .material-slide .content__right.sisal a, .material-slide .content__right.sisal a:hover, .material-slide .content__right.sisal a:visited {
      color: rgba(109, 124, 97, 0.6); }
    .material-slide .content__right.sisal a {
      border-bottom-color: rgba(109, 124, 97, 0.6); }
    .material-slide .content__right.sisool h1, .material-slide .content__right.sisool p {
      color: #A9A791; }
    .material-slide .content__right.sisool h3, .material-slide .content__right.sisool a, .material-slide .content__right.sisool a:hover, .material-slide .content__right.sisool a:visited {
      color: rgba(169, 167, 145, 0.6); }
    .material-slide .content__right.sisool a {
      border-bottom-color: rgba(169, 167, 145, 0.6); }
    .material-slide .content__right.wool h1, .material-slide .content__right.wool p {
      color: #EBD5B7; }
    .material-slide .content__right.wool h3, .material-slide .content__right.wool a, .material-slide .content__right.wool a:hover, .material-slide .content__right.wool a:visited {
      color: rgba(235, 213, 183, 0.6); }
    .material-slide .content__right.wool a {
      border-bottom-color: rgba(235, 213, 183, 0.6); }
  .material-slide .slide__nav {
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .material-slide .slide__nav .next-slide {
      cursor: pointer;
      position: absolute;
      right: 35px; }
    .material-slide .slide__nav .prev-slide {
      cursor: pointer;
      left: 35px;
      position: absolute; }
    .material-slide .slide__nav svg.coir g {
      stroke: #B28865; }
    .material-slide .slide__nav svg.jute g {
      stroke: #907259; }
    .material-slide .slide__nav svg.seagrass g {
      stroke: #A99A71; }
    .material-slide .slide__nav svg.sisal g {
      stroke: #6D7C61; }
    .material-slide .slide__nav svg.sisool g {
      stroke: #A9A791; }
    .material-slide .slide__nav svg.wool g {
      stroke: #EBD5B7; }

.bx-controls {
  display: none; }
