@import '../../assets/css/src/_variables';

.bx-viewport {
	overflow: visible !important;
}

.materials-slider-container {
	position: relative;
}

.materials-slider {
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.material-slide {
	background: #383838;
	position: relative;

	.theline {
		display: block;
		height: 125px;
		left: 32.5%;
		position: absolute;
		top: -30px;
		width: 1px;

		&.coir {
			background: $color-coir-dark;
		}

		&.jute {
			background: $color-jute-dark;
		}

		&.seagrass {
			background: $color-seagrass-dark;
		}

		&.sisal {
			background: $color-sisal-dark;
		}

		&.sisool {
			background: $color-sisool-dark;
		}

		&.wool {
			background: $color-wool-dark;
		}
	}

	.slide__title {
		left: -45px;
		top: 110px;

		&.coir {
			color: transparentize($color-coir-main, 0.5);
		}

		&.jute {
			color: transparentize($color-jute-main, 0.5);
		}

		&.seagrass {
			color: transparentize($color-seagrass-main, 0.5);
		}

		&.sisal {
			color: transparentize($color-sisal-main, 0.5);
		}

		&.sisool {
			color: transparentize($color-sisool-main, 0.5);
		}

		&.wool {
			color: transparentize($color-wool-main, 0.5);
		}
	}

	.slide__list {
		margin: 25px 0 0;
		padding: 0;

		@media screen and (max-width: 768px) {
			margin-left: 75%;
			width: 25%;
		}

		@media screen and (max-width: 600px) {
			margin-left: 63%;
			width: 37%;
		}

		li {
			cursor: pointer;
			display: inline;
			left: calc(50% - 5px);
			list-style: none;
			padding: 0 5px;
			position: relative;

			@media screen and (max-width: 768px) {
				display: inline-block;
				left: 0;
				margin-bottom: 7.5px;
			}

			img {
				height: 45px;
				width: 45px;

				&:not(.active) {
					opacity: 0.4;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.content__left,
	.content__right {
		float: left;
		padding: 150px 0 195px;
		width: 50%;

		@media screen and (max-width: 768px) {
			padding: 25px 0 0;
			width: 100%;
		}
	}

	.content__left {
		padding-right: 100px;
		text-align: right;

		@media screen and (max-width: 768px) {
			padding-right: 0;
			text-align: center;
			top: 0;
			-webkit-transform: none;
			transform: none;
		}
	}

	.content__right {
		padding-right: 10%;

		@media screen and (max-width: 768px) {
			padding: 25px;
			text-align: center;
			top: 0;
			-webkit-transform: none;
			transform: none;
		}

		h1 {
			margin-bottom: 18px;
		}

		p {
			margin-bottom: 65px;
		}

		&.coir {

			h1, p {
				color: $color-coir-main;
			}

			h3, a, a:hover, a:visited {
				color: transparentize($color-coir-main, 0.5);
			}
			
			a:hover {
				color: $color-coir-main;
			}
			
			a:before,
			a:after {
				background-color: transparentize($color-coir-main, 0.5);
			}

/*			a {
				border-bottom-color: transparentize($color-coir-main, 0.5);
			}
*/		}

		&.jute {

			h1, p {
				color: $color-jute-main;
			}

			h3, a, a:hover, a:visited {
				color: transparentize($color-jute-main, 0.5);
			}

			a:before,
			a:after {
				background-color: transparentize($color-jute-main, 0.5);
			}

/*			a {
				border-bottom-color: transparentize($color-jute-main, 0.5);
			}
*/		}

		&.seagrass {

			h1, p {
				color: $color-seagrass-main;
			}

			h3, a, a:hover, a:visited {
				color: transparentize($color-seagrass-main, 0.5);
			}

			a:before,
			a:after {
				background-color: transparentize($color-seagrass-main, 0.5);
			}

/*			a {
				border-bottom-color: transparentize($color-seagrass-main, 0.5);
			}
*/		}

		&.sisal {

			h1, p {
				color: $color-sisal-main;
			}

			h3, a, a:hover, a:visited {
				color: transparentize($color-sisal-main, 0.5);
			}

			a:before,
			a:after {
				background-color: transparentize($color-sisal-main, 0.5);
			}

/*			a {
				border-bottom-color: transparentize($color-sisal-main, 0.5);
			}
*/		}

		&.sisool {

			h1, p {
				color: $color-sisool-main;
			}

			h3, a, a:hover, a:visited {
				color: transparentize($color-sisool-main, 0.5);
			}

			a:before,
			a:after {
				background-color: transparentize($color-sisool-main, 0.5);
			}

/*			a {
				border-bottom-color: transparentize($color-sisool-main, 0.5);
			}
*/		}

		&.wool {

			h1, p {
				color: $color-wool-main;
			}

			h3, a, a:hover, a:visited {
				color: transparentize($color-wool-main, 0.5);
			}
			
			a:hover {
				color: transparentize($color-wool-main, 0.5);
			}
			
			a:before, 
			a:after {
				background-color: transparentize($color-wool-main, 0.5);
			}
		
		}
	}
}

.slide__nav {
	display: inline-block !important;
	left: 0 !important;
	margin-top: -59px;
	opacity: 1 !important;
	position: absolute !important;
	right: 0 !important;
	top: 50% !important;
	z-index: 9999 !important;

	.next-slide {
		cursor: pointer;
		position: absolute;
		right: 35px;
	}

	.prev-slide {
		cursor: pointer;
		left: 35px;
		position: absolute;
	}

	svg {

		&.coir g {
			stroke: $color-coir-main;
		}

		&.jute g {
			stroke: $color-jute-main;
		}

		&.seagrass g {
			stroke: $color-seagrass-main;
		}

		&.sisal g {
			stroke: $color-sisal-main;
		}

		&.sisool g {
			stroke: $color-sisool-main;
		}

		&.wool g {
			stroke: $color-wool-main;
		}
	}
}

.bx-controls {
	display: none;
}