$color-coir-main     : #B28865;
$color-coir-dark     : transparentize($color-coir-main, 0.4);
$color-jute-main     : #907259;
$color-jute-dark     : transparentize($color-jute-main, 0.4);
$color-seagrass-main : #A99A71;
$color-seagrass-dark : transparentize($color-seagrass-main, 0.4);
$color-sisal-main    : #6D7C61;
$color-sisal-dark    : transparentize($color-sisal-main, 0.4);
$color-sisool-main   : #A9A791;
$color-sisool-dark   : transparentize($color-sisool-main, 0.4);
$color-wool-main     : #EBD5B7;
$color-wool-dark     : transparentize($color-wool-main, 0.4);

.bx-viewport {
	overflow: visible !important;
}

.materials-slider-container {
	position: relative;
}

.materials-slider {
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.material-slide {
	background: #383838;
	position: relative;

	.theline {
		display: block;
		height: 125px;
		left: 32.5%;
		position: absolute;
		top: -30px;
		width: 1px;

		&.coir {
			background: $color-coir-dark;
		}

		&.jute {
			background: $color-jute-dark;
		}

		&.seagrass {
			background: $color-seagrass-dark;
		}

		&.sisal {
			background: $color-sisal-dark;
		}

		&.sisool {
			background: $color-sisool-dark;
		}

		&.wool {
			background: $color-wool-dark;
		}
	}

	.slide__title {
		left: -45px;
		top: 110px;

		&.coir {
			color: $color-coir-dark;
		}

		&.jute {
			color: $color-jute-dark;
		}

		&.seagrass {
			color: $color-seagrass-dark;
		}

		&.sisal {
			color: $color-sisal-dark;
		}

		&.sisool {
			color: $color-sisool-dark;
		}

		&.wool {
			color: $color-wool-dark;
		}
	}

	.slide__list {
		margin: 25px 0 0;
		padding: 0;

		li {
			cursor: pointer;
			display: inline;
			left: calc(50% - 5px);
			list-style: none;
			padding: 0 5px;
			position: relative;

			img {
				height: 45px;
				width: 45px;

				&:not(.active) {
					opacity: 0.4;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.content__left,
	.content__right {
		float: left;
		padding: 150px 0 195px;
		width: 50%;
	}

	.content__left {
		padding-right: 100px;
		text-align: right;
	}

	.content__right {
		padding-right: 10%;

		a {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			padding: 0 0 15px;
		}

		a:hover {
			text-decoration: none;
		}

		h1 {
			margin-bottom: 18px;
		}

		p {
			margin-bottom: 65px;
		}

		&.coir {

			h1, p {
				color: $color-coir-main;
			}

			h3, a, a:hover, a:visited {
				color: $color-coir-dark;
			}

			a {
				border-bottom-color: $color-coir-dark;
			}
		}

		&.jute {

			h1, p {
				color: $color-jute-main;
			}

			h3, a, a:hover, a:visited {
				color: $color-jute-dark;
			}

			a {
				border-bottom-color: $color-jute-dark;
			}
		}

		&.seagrass {

			h1, p {
				color: $color-seagrass-main;
			}

			h3, a, a:hover, a:visited {
				color: $color-seagrass-dark;
			}

			a {
				border-bottom-color: $color-seagrass-dark;
			}
		}

		&.sisal {

			h1, p {
				color: $color-sisal-main;
			}

			h3, a, a:hover, a:visited {
				color: $color-sisal-dark;
			}

			a {
				border-bottom-color: $color-sisal-dark;
			}
		}

		&.sisool {

			h1, p {
				color: $color-sisool-main;
			}

			h3, a, a:hover, a:visited {
				color: $color-sisool-dark;
			}

			a {
				border-bottom-color: $color-sisool-dark;
			}
		}

		&.wool {

			h1, p {
				color: $color-wool-main;
			}

			h3, a, a:hover, a:visited {
				color: $color-wool-dark;
			}

			a {
				border-bottom-color: $color-wool-dark;
			}
		}
	}
}

.slide__nav {
	display: inline-block !important;
	left: 0 !important;
	margin-top: -59px;
	opacity: 1 !important;
	position: absolute !important;
	right: 0 !important;
	top: 50% !important;
	z-index: 9999 !important;

	.next-slide {
		cursor: pointer;
		position: absolute;
		right: 35px;
	}

	.prev-slide {
		cursor: pointer;
		left: 35px;
		position: absolute;
	}

	svg {

		&.coir g {
			stroke: $color-coir-main;
		}

		&.jute g {
			stroke: $color-jute-main;
		}

		&.seagrass g {
			stroke: $color-seagrass-main;
		}

		&.sisal g {
			stroke: $color-sisal-main;
		}

		&.sisool g {
			stroke: $color-sisool-main;
		}

		&.wool g {
			stroke: $color-wool-main;
		}
	}
}

.bx-controls {
	display: none;
}