@media screen and (max-width: 450px) {
    .modal-guest.modal-guest-A {
        position: absolute;
        width: 100vw;
        left: 0;
        top: 0;
        transform: none;
        min-height: 830px;
        overflow-y: auto;
    }

    .input-register-block {
        flex-flow: column nowrap;
        width: 100vw;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 3px;
    }

    .input-register-block > input {
        width: 90%;
        padding: 5px;
        margin: 3px 0;
        line-height: 10px
    }

    .button-basket-guest {
        left: 44px !important;
        top: 458px !important;
    }

    .register-button {
        width: 90vw;
        margin: auto;
    }

    .register-checkbox-wrapper {
        width: 100vw;
        padding: 20px;
    }

    .free-swatch-samples-checkmark-guest {
        left: 62px !important;
        top: 457px !important;
    }

}

@media screen and (max-width: 370px) {
    .button-basket-guest {
        left: 30px !important;
        top: 457px !important;
    }

    .free-swatch-samples-checkmark-guest {
        left: 48px !important;
        top: 457px !important;
    }
}
