@import './guest-modal-responsive.css';

.modal-guest {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    height: 630px;
    width: 616px;
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding-top: 34px;
}

.button-basket-guest {
    position: absolute;
    left: 160px;
    top: 336px;
}

.free-swatch-samples-checkmark-guest {
    position: absolute;
    left: 177px;
    top: 336px;
    width: 10px;
    height: 25px;
    border: solid #353535;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9999;
}