.basket-empty .link-opener {
	display: none;
}

.basket-full .link-opener {
	display: block;
}

#basket-link {
	position: absolute;
	right: 260px;
	top: 0;
	transition: all ease-in-out 0.25s;
	z-index: 999999;

	@media screen and (max-width: 768px) {
		right: 165px;
	}
}

.show-menu #basket-link {

	@media screen and (max-width: 992px) {
		display: none;
	}
}

svg.main-menu__button__basket {
	position: absolute;
    top: 27px;
    left: 0;
    width: 37px;
    height: 29px;
    transition: all ease-in-out 0.25s;

    g {
    	fill: white;
    }
}

#num-items-basket {
	background: white;
	border-radius: 50%;
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	height: 20px;
	left: 35px;
	position: absolute;
	top: 36px;
	width: 20px;
	transition: all ease-in-out 0.25s;
	line-height: 1.4;
	letter-spacing: 0;
	text-align: center;
}

.basket-dropdown {
	background: white;
	box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);
	opacity: 1;
	min-width: 350px;
	padding: 25px;
	position: absolute;
	right: 100px;
	top: 90px;
	transition: all ease-in-out 0.25s;
	-webkit-transition: all ease-in-out 0.25s;
	visibility: visible;
	z-index: 999;

	@media screen and (max-width: 500px) {
		min-width: initial;
	}

	.wc-proceed-to-checkout {
		width: 100%;
		display: block;
		line-height: 14px !important;
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}

	h2 {
		font-size: 36px;
	}

	span {
		background: #e8e8e8;
		display: block;
		height: 2px;
		margin-bottom: 30px;
		margin-top: 20px;
		width: 75px;
	}

	.main-menu__button__icon {
		background: transparent;
		width: 30px;
		margin-top: 0;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		position: relative;

		&:before,
		&:after {
			background: #383838;
			left: 0;
			position: absolute;
			top: 0;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

	}

	// Hide cross sells

	.cross-sells {
		display: none;
	}

	a.close-basket-dropdown {
		position: absolute;
		right: 25px;
		top: 25px;

		@media screen and (max-width: 467px) {
			right: 10px;
			top: 10px;
		}
	}

	.order__name,
	.order__remove {
		display: inline-block
	}

	.order__remove {
		margin-top: -9px;
		position: absolute;
		right: 0;

		a {
			font-size: 24px;
		}
	}

	.cart_totals {

		h2, table {
			display: none;
		}
	}

	a.remove {
		border-radius: none;
		color: black !important;
		display: initial;
		font-size: auto;
		font-weight: auto;
		height: auto;
		line-height: 45.6px;
		text-align: center;
		width: auto;

		&:hover {
			color: black !important;
			background: transparent;
		}
	}

	a.checkout-button.button {
		display: block;
		font-weight: 400;
		line-height: 50px;
		height: 50px;
		padding: 0px;
		margin-top: 60px;
		text-align: center;
		width: 100% !important;
	}
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	float: none;
}

.show-menu .basket-dropdown {
	right: 470px;
	position: fixed;
	transition: all ease-in-out 0.25s;
}

.woocommerce-message {
	background: white;
	border-top: none;
	box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);
	left: 50%;
	position: absolute;
	top: 17px;
	transform: translateX(-50%);
	z-index: 10001;

	@media screen and (max-width: 992px) {
		top: 79vh;
	}

	&:before {
		color: #383838;
	}

	a {
		display: none;
	}
}

// Variations in basket

dl.variation {

	margin-top: 10px;

	.variation-Price {
		display: none;
	}

	dt {
		font-weight: 600;
	}

	dt,
	dd,
	p {
		display: block;
		font-size: 14px;
	}

	dd {
		padding: 0px;
		margin: 0px;
	}

}
