 /************************************************************************************************************************
	News - Category Picker Box
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

@import '../../assets/css/src/_variables';

.page-template-news {
	background-color: $light-grey-bg;
}

 .news-categories {
	 width: 80%;
	 margin: auto;
	 text-align: center; 
	 background-color: #FFF;
	 padding: 30px;
 }
 
 