 /************************************************************************************************************************
	News - Category Picker Box
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

@import '../../assets/css/src/_variables';


.news-categories {
	width: 80%;
	margin: auto;
	text-align: center; 
	max-width: 1300px;
	background-color: #FFF;
	padding: 40px;
	position: relative;
	top: -40px;
	z-index: 99;

	@media screen and (min-width: 1625px) {
		margin-left: auto;
		margin-right: auto;
	}
}


/********** Link Layout ********/ 
 
.news-categories ul {
	display: table;
	padding: 0;
	margin: 0;
	width: 100%;
}

.news-categories ul li {
	display: table-cell;
	text-align: center;

	@media screen and (max-width: 992px) {
		display: block;
		margin-bottom: 7.5px;

		& a:after {
			display: none;
		}
	}
}


/******** Link Appearance *******/ 

.news-categories ul li a {
	font-size: 14px;
	color: lighten(#000000, 40%)
}

.news-categories ul li a:after,
.news-categories ul li.current-cat a:before {
	background-color: #000;
	opacity: 1;
}

.news-categories ul li.current-cat a,
.news-categories ul li a:hover  {
	color: #000;
}