@import '../../assets/css/src/_variables';

.material-view {
	background: white;
	//margin-left: 10%;
	max-width: 1350px;
	padding: 40px;
	padding-bottom: 80px;
	position: relative;
	width: 80%;
	margin: auto;
	z-index: 999;

	@media screen and (min-width: 1687px) {
		margin-left: auto;
		margin-right: auto;
	}

	.material__header {
		margin-bottom: 22px;

		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
	}
	
	.header__back a {
		font-size: 14px;
		opacity: 0.7;
	}
	
	.header__back a:hover {
		opacity: 1;
	}
	
	.header__titles {
		text-align: center;
		margin-top: 40px;
	  margin-bottom: 60px;

		h1 {
			margin: 0px 0 15px;
			word-break: break-word;
		}

		h3 {
			opacity: 0.65;
			font-size: 12px;
		}
	}

	.header__links {

		ul {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			max-width: 300px;
			text-align: center;
			width: 33.33333%;

			@media screen and (max-width: 555px) {
				display: block;
				width: 100%;

				a {
					padding: 5px 0;
				}
			}

			a {
				display: inline-block;
				text-align: center;
			}
		}
	}

	.image-container {
		//height: 600px;
		overflow: hidden;
		position: relative;
		width: 100%;
		text-align: center;

		img {
			max-width: 950px;
			//min-height: 100%;
			object-fit: cover;
		}

		.change-image-view,
		.hide-material-info {
			background: rgba(0,0,0,0.675);
			font-size: 12px;
			letter-spacing: 2px;
			padding: 7px;
			position: absolute;
			top: 0;
		}

		.change-image-view {
			left: 20px;

			@media screen and (max-width: 666px) {
				display: none;
			}
		}

		.hide-material-info {
			right: 100%;
		}

		.material__details {

			display: none;

			background: rgba(0,0,0,0.675);
			right: 20px;
			padding: 45px 10px;
			position: absolute;
			top: 0;
			width: 400px;

			@media screen and (max-width: 992px) {
				width: 325px;
			}

			@media screen and (max-width: 768px) {
				padding: 45px 2.5px;
				width: 200px;
			}

			@media screen and (max-width: 450px) {
				right: 0;
			}

			@media screen and (max-width: 400px) {
				display: none;
			}

			.info__section {
				display: inline-block;
				margin-bottom: 20px;
				margin-left: 0px;
				text-align: center;
				vertical-align: top;
				width: 25%;
				word-break: break-word;

				@media screen and (max-width: 992px) {
					width: 33%;
				}


				@media screen and (max-width: 768px) {
					margin-bottom: 5px;
					width: 50%;
				}

				h3 {
					text-align: center;

					@media screen and (max-width: 992px) {
						font-size: 11px;
					}
				}

				i {
					border-radius: 50%;
					color: rgba(0,0,0,0.675);
					display: inline-block;
					font-size: 24px;
					height: 50px;
					padding-top: 13px;
					width: 50px;

					@media screen and (max-width: 992px) {
						font-size: 15px;
						height: 35px;
						padding-top: 10px;
						width: 35px;
					}
				}
			}
		}
	}

	&.coir {

		.header__back a {
			color: transparentize($color-coir-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-coir-dark;
			}

			h3 {
				color: transparentize($color-coir-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-coir-dark;
		}

		.header__links a:after {
			background: $color-coir-dark;
		}

		.change-image-view,
		.hide-material-info,
		.info__section h3 {
			color: $color-coir-main;
		}

		.info__section i {
			background: $color-coir-main;
		}
	}

	&.jute {
		
		.header__back a {
			color: transparentize($color-jute-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-jute-dark;
			}

			h3 {
				color: transparentize($color-jute-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-jute-dark;
		}

		.header__links a:after {
			background: $color-jute-dark;
		}

		.change-image-view,
		.hide-material-info,
		.info__section h3 {
			color: $color-jute-main;
		}

		.info__section i {
			background: $color-jute-main;
		}
	}

	&.seagrass {
		
		.header__back a {
			color: transparentize($color-seagrass-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-seagrass-dark;
			}

			h3 {
				color: transparentize($color-seagrass-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-seagrass-dark;
		}

		.header__links a:after {
			background: $color-seagrass-dark;
		}

		.change-image-view,
		.hide-material-info,
		.info__section h3 {
			color: $color-seagrass-main;
		}

		.info__section i {
			background: $color-seagrass-main;
		}
	}

	&.sisal {
		
		.header__back a {
			color: transparentize($color-sisal-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-sisal-dark;
			}

			h3 {
				color: transparentize($color-sisal-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-sisal-dark;
		}

		.header__links a:after {
			background: $color-sisal-dark;
		}

		.change-image-view,
		.hide-material-info,
		.info__section h3 {
			color: $color-sisal-main;
		}

		.info__section i {
			background: $color-sisal-main;
		}
	}

	&.sisool {
		
		.header__back a {
			color: transparentize($color-sisool-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-sisool-dark;
			}

			h3 {
				color: transparentize($color-sisool-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-sisool-dark;
		}

		.header__links a:after {
			background: $color-sisool-dark;
		}

		.change-image-view,
		.hide-material-info,
		.info__section h3 {
			color: $color-sisool-main;
		}

		.info__section i {
			background: $color-sisool-main;
		}
	}

	&.wool {
		
		.header__back a {
			color: transparentize($color-wool-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-wool-dark;
			}

			h3 {
				color: transparentize($color-wool-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-wool-dark;
		}

		.header__links a:after {
			background: $color-wool-dark;
		}

		.change-image-view,
		.hide-material-info,
		.info__section h3 {
			color: $color-wool-main;
		}

		.info__section i {
			background: $color-wool-main;
		}
	}	
}

.zoomContainer {
	z-index: 99999;

	& > div.zoomLens {
		border: 10px solid white !important;
	}
}