@import '../../assets/css/src/_variables';

.material-view {
	background: white;
	//margin-left: 10%;
	max-width: 1350px;
	padding: 40px;
	padding-bottom: 80px;
	position: relative;
	width: 80%;
	margin: auto 10%;
	z-index: 999;

	@media screen and (min-width: 1687px) {
		margin-left: auto;
		margin-right: auto;
	}

	.material__header {
		margin-bottom: 22px;

		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
	}
	
	.header__back a {
		font-size: 14px;
		opacity: 0.7;
	}
	
	.header__back a:hover {
		opacity: 1;
	}
	
	.header__titles {
		text-align: center;
		margin-top: 40px;
	  margin-bottom: 60px;

		h1 {
			margin: 0px 0 15px;
			word-break: break-word;
		}

		h3 {
			opacity: 0.65;
			font-size: 12px;
		}
	}

	.header__links {

		ul {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			max-width: 300px;
			text-align: center;
			width: 33.33333%;

			@media screen and (max-width: 555px) {
				display: block;
				width: 100%;

				a {
					padding: 5px 0;
				}
			}

			a {
				display: inline-block;
				text-align: center;
			}
		}
	}

	.image-container {
		float: left;
		overflow: hidden;
		position: relative;
		width: 70%;
		text-align: left;

		&.full {
			width: 100%;
		}

		@media screen and (max-width: 992px) {
			max-width: 60%;
		}

		@media screen and (max-width: 768px) {
			max-width: none;
			width: 100%;
		}

		img.material-img {
			float: left;
			height: 100%;
			max-height: 520px;
			max-width: 920px;
			object-fit: cover;
		}

		.change-image-view,
		.hide-material-info {
			background: rgba(0,0,0,0.675);
			font-size: 12px;
			letter-spacing: 2px;
			padding: 7px;
			position: absolute;
			top: 0;
		}

		.change-image-view {
			left: 20px;

			@media screen and (max-width: 666px) {
				display: none;
			}
		}

		.hide-material-info {
			right: 100%;
		}
	}

	.material__range {
		display: inline-block;
		padding-left: 15px;
		width: 30%;

		@media screen and (max-width: 992px) {
			width: 40%;
			padding-left: 10px;
		}

		@media screen and (max-width: 768px) {
			margin-top: 15px;
			padding-left: 0;
			width: 100%;
		}

		@media screen and (max-width: 550px) {
			display: none;
		}

		a {
			display: block;
			height: 100%;
			padding: 0;
			width: 100%;
		}

		.range__material {
			float: left;
			margin-bottom: 15px;
			width: 50%;

			@media screen and (max-width: 992px) {
				margin-bottom: 10px;
			}

			@media screen and (max-width: 768px) {
				margin-right: 1.3333%;
				width: 24%;
			}

			@media screen and (min-width: 992px) {

				&:nth-child(2n + 1) {
					padding-right: 7.5px;
				}

				&:nth-child(2n) {
					padding-left: 7.5px;
				}
			}	

			@media screen and (max-width: 992px) {

				&:nth-child(2n + 1) {
					padding-right: 5px;
				}

				&:nth-child(2n) {
					padding-left: 5px;
				}
			}

			@media screen and (max-width: 768px) {

				&:nth-child(2n + 1) {
					padding-right: 0;
				}

				&:nth-child(2n) {
					padding-left: 0;
				}

				&:nth-child(4n) {
					margin-right: 0;
				}
			}

			img {
				object-fit: cover;
				width: 100%;
			}

			&.current a:before {
				background: rgba(0,0,0,0.45);
				bottom: 0;
				content: "";
				height: 100%;
				left: 0;
				opacity:1;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}

			&.current a:after {
				display: none;
				color: white;
				font-family: WooCommerce;
				content: "\e028";
				display: inline-block;
				position: absolute;
				top: 1em;
				left: 1.5em;
			}
		}
	}

	.material__details {
		border-top-style: solid;
		border-top-width: 2px;
		float: left;
		margin-top: 50px;
		padding: 50px 25% 0 25px;

		@media screen and (max-width: 992px) {
			padding: 25px 25px 0;
		}

		.info__section {
			display: inline-block;
			padding-right: 10px;
			width: 33.3333%;

			@media screen and (max-width: 768px) {
				width: 50%;
			}

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}

	&.coir {

		.header__back a {
			color: transparentize($color-coir-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-coir-dark;
			}

			h3 {
				color: transparentize($color-coir-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-coir-dark;
		}

		.header__links a:after {
			background: $color-coir-dark;
		}

		.change-image-view,
		.hide-material-info {
			color: $color-coir-main;
		}

		.material__details {
			border-top-color: rgba($color-coir-main, 0.5);; 
		}

		.info__section p {
			color: $color-coir-dark;
		}
	}

	&.jute {
		
		.header__back a {
			color: transparentize($color-jute-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-jute-dark;
			}

			h3 {
				color: transparentize($color-jute-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-jute-dark;
		}

		.header__links a:after {
			background: $color-jute-dark;
		}

		.change-image-view,
		.hide-material-info {
			color: $color-jute-main;
		}

		.material__details {
			border-top-color: rgba($color-jute-main, 0.5);
		}

		.info__section p {
			color: $color-jute-dark;
		}
	}

	&.seagrass {
		
		.header__back a {
			color: transparentize($color-seagrass-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-seagrass-dark;
			}

			h3 {
				color: transparentize($color-seagrass-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-seagrass-dark;
		}

		.header__links a:after {
			background: $color-seagrass-dark;
		}

		.change-image-view,
		.hide-material-info {
			color: $color-seagrass-main;
		}

		.material__details {
			border-top-color: rgba($color-seagrass-main, 0.5);
		}

		.info__section p {
			color: $color-seagrass-dark;
		}
	}

	&.sisal {
		
		.header__back a {
			color: transparentize($color-sisal-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-sisal-dark;
			}

			h3 {
				color: transparentize($color-sisal-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-sisal-dark;
		}

		.header__links a:after {
			background: $color-sisal-dark;
		}

		.change-image-view,
		.hide-material-info {
			color: $color-sisal-main;
		}

		.material__details {
			border-top-color: rgba($color-sisal-main, 0.5);
		}

		.info__section p {
			color: $color-sisal-dark;
		}
	}

	&.sisool {
		
		.header__back a {
			color: transparentize($color-sisool-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-sisool-dark;
			}

			h3 {
				color: transparentize($color-sisool-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-sisool-dark;
		}

		.header__links a:after {
			background: $color-sisool-dark;
		}

		.change-image-view,
		.hide-material-info {
			color: $color-sisool-main;
		}

		.material__details {
			border-top-color: rgba($color-sisool-main, 0.5);
		}

		.info__section p {
			color: $color-sisool-dark;
		}
	}

	&.wool {
		
		.header__back a {
			color: transparentize($color-wool-dark, 0.2);
		}

		.header__titles {

			h1 {
				color: $color-wool-dark;
			}

			h3 {
				color: transparentize($color-wool-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-wool-dark;
		}

		.header__links a:after {
			background: $color-wool-dark;
		}

		.change-image-view,
		.hide-material-info {
			color: $color-wool-main;
		}

		.material__details {
			border-top-color: rgba($color-wool-main, 0.5);
		}

		.info__section p {
			color: $color-wool-dark;
		}
	}	
}

.zoomContainer {
	z-index: 99999;

	& > div.zoomLens {
		border: 10px solid white !important;
	}
}