@import '../../assets/css/src/_variables';

.material {
	margin-left: 10%;
	padding: 30px;
	position: relative;
	width: 80%;

	.material__header {
		margin-bottom: 40px;
	}

	.header__titles {
		text-align: center;

		h1 {
			margin: 10px 0;
		}

		h3 {
			margin-bottom: 60px;
		}
	}

	.header__links {

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			display: inline-block;
			text-align: center;
			width: 25%;

			a {
				display: block;
				text-align: center;
			}
		}
	}

	&.coir {

		.header__back a {
			color: transparentize($color-coir-main, 0.5);
		}

		.header__titles {

			h1 {
				color: $color-coir-dark;
			}

			h3 {
				color: transparentize($color-coir-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-coir-main;
		}
	}

	&.jute {
		
		.header__back a {
			color: transparentize($color-jute-main, 0.5);
		}

		.header__titles {

			h1 {
				color: $color-jute-dark;
			}

			h3 {
				color: transparentize($color-jute-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-jute-main;
		}
	}

	&.seagrass {
		
		.header__back a {
			color: transparentize($color-seagrass-main, 0.5);
		}

		.header__titles {

			h1 {
				color: $color-seagrass-dark;
			}

			h3 {
				color: transparentize($color-seagrass-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-seagrass-main;
		}
	}

	&.sisal {
		
		.header__back a {
			color: transparentize($color-sisal-main, 0.5);
		}

		.header__titles {

			h1 {
				color: $color-sisal-dark;
			}

			h3 {
				color: transparentize($color-sisal-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-sisal-main;
		}
	}

	&.sisool {
		
		.header__back a {
			color: transparentize($color-sisool-main, 0.5);
		}

		.header__titles {

			h1 {
				color: $color-sisool-dark;
			}

			h3 {
				color: transparentize($color-sisool-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-sisool-main;
		}
	}

	&.wool {
		
		.header__back a {
			color: transparentize($color-wool-main, 0.5);
		}

		.header__titles {

			h1 {
				color: $color-wool-dark;
			}

			h3 {
				color: transparentize($color-wool-dark, 0.3);
			}
		}

		.header__links a {
			color: $color-wool-main;
		}
	}	
}