.swatches {
	background: white;
	margin-left: 7%;
	padding: 100px 50px;
	position: relative;
	width: 86%;

	.swatch {
		float: left;
		height: 120px;
		margin-bottom: 20px;
		padding: 0 10px;
		width: 23.5%;

		a {
			display: block;
			height: 100%;
			padding: 0 !important;
		}

		h3 {
			color: #7C7C7C;
			float: left;
			margin-bottom: 5px;
			width: 50%;

			&.code {
				color: #BBBBBB;
			}
		}

		img {
			float: right;
			height: 80%;
			width: 45%;
		}

		@media screen and (min-width: 1300px) {

			&:not(:nth-child(4n)) {
				margin-right: 2%;
			}
		}

		@media screen and (max-width: 1300px) and (min-width: 768px) {
			width: 49%;

			&:not(:nth-child(4n)) {
				margin-right: 0;
			}

			&:not(:nth-child(2n)) {
				margin-right: 2%;
			}
		}

		@media screen and (max-width: 768px) {
			width: 100%;

			&:not(:nth-child(2n)) {
				margin-right: 0;
			}
		}
	}
}