.error404 {

	#content {
		min-height: 100vh;
		position: relative;
	}

	.page-header {
		margin: 0;
		padding-top: 85px;
	}

	.page-content {
		text-align: center;
		padding: 50px;
	}

	label {
		display: block;
	}

	footer {
		bottom: 0;
		position: absolute;
		width: 100%;

		@media screen and (max-height: 936px) {
			position: static;
		}
	}
}