.error404 {
	background-color: #f8f8f8;

	.page-content {
		text-align: center;
		margin: 0px;
		padding-top: 80px;
		padding-bottom: 80px;
		max-width: 1300px;
		margin: auto;
		margin-bottom: 80px;
		background: white;
		z-index: 999;
		position: relative;
		top: -50px;
	}

	form {
		padding-top: 40px;
	}

	label {
		display: block;
		padding-bottom: 20px;
	}

}
