.woocommerce-thankyou-order-received {
	margin: 50px 0 0;
	text-align: center;
}

.woocommerce .woocommerce-thankyou-order-details.order_details {
	display: inline-block;
	margin: 50px 0 0 50%;
	padding: 0;
	text-align: center;
	transform: translateX(-50%);

	li {
		margin: 0;
		padding: 0 20px;
	}
}

.wc-order-details-container {
	left: 50%;
	margin: 50px 0;
	max-width: 1300px;
	padding: 50px;
	position: relative;
	transform: translateX(-50%);
	width: 90%;

	h2 {
		margin: -15px 0 15px;
	}
}