.page-template-checkout {

	.create-account {
		display: block !important;
	}

	.woocommerce-message {
		display: none;
	}

	form:not(.main-menu__search__form) {
		background: white;
		margin-bottom: 100px;
		margin-left: 7%;
		margin-top: -50px;
		max-width: 1300px;
		padding: 75px;
		position: relative;
		width: 86%;
		z-index: 999;

		@media screen and (max-width: 550px) {
			padding: 25px;
		}

		@media screen and (min-width: 1511px) {
			margin-left: auto;
			margin-right: auto;
		}

		h2 {
			margin-bottom: 18px;
		}

		.form-row {
			margin-bottom: 30px;
		}

		p {
			padding: 0;

			@media screen and (max-width: 550px) {
				width: 100% !important;
			}
		}

		label {
			//display: none !important;
			font-weight: normal;
		}

		.select2-choice {
			color: #878787 !important;
			font-family: "Open Sans",sans-serif !important;
			font-size: 16px;
			font-weight: normal;
			letter-spacing: normal;
			padding: 3px 20px !important;
			text-transform: capitalize;
		}

		.select2-container a {
			-webkit-appearance: none;
			appearance: none;
			background: #F7F7F7;
			border: 1px solid #E6E6E6 !important;
			border-radius: 0;
			font-family: $font-copy;
			font-weight: normal;
			padding: 7px 15px;
		}
	}

	.place-order {
		text-align: center;
	}

	.shipping-address-errors p {
		color: #a00;
		font-size: 17px;
	}

	.basket-dropdown form {
		padding: 0px;
		margin: 0px;
	}

	#order_review_heading {
	}

	.woocommerce-shipping-fields,
	#order_review_heading,
	.woocommerce-checkout-review-order {
		max-width: 750px;
		margin: auto;
	}

	.form-row.place-order {
		margin-bottom: 0px !important;
		padding-top: 20px;
	}

	#place_order {
		font-size: 14px;
		height: 45px;
		letter-spacing: 3px;
		font-weight: normal;
		width: auto;
		font-size: 16px !important;
		padding: 15px 25px 15px 25px !important;
		height: 65px;
	}

	/*** Privacy & GDPR ****/

	.wc-terms-and-conditions {
		text-align: left;
	}

	.form-row.privacy {
		text-align: left;
		position: relative;
		padding-bottom: 20px;

		label {
			display: block;
			font-weight: normal;
			font-size: 16px;
			padding-left: 40px;
		}

		input[type='checkbox'] {
			-webkit-appearance:none;
			appearance: none;
			width:20px;
			height:20px;
			background:white;
			border-radius:0px;
			border:2px solid black;
			position: absolute;
			top: 4px;
			left: 0px;
		}

		input[type='checkbox']:checked {
			background: black;
		}

		input[type='checkbox']:checked:after {
			content: '✔';
			position: absolute;
			top: 2px;
			left: 2px;
			font-size: 16px;
			line-height: 0.8;
			color: #fff;
		}

		a {
			font-family: $font-copy;
			letter-spacing: 0px;
			text-transform: capitalize;
			text-decoration: underline !important;
			padding: 0px;

			&:hover {
				text-decoration: none !important;
			}
		}
	}

}
