.page-template-checkout {

	.woocommerce-message {
		display: none;
	}

	form {
		background: white;
		margin-bottom: 100px;
		margin-left: 7%;
		margin-top: -50px;
		max-width: 1300px;
		padding: 75px;
		position: relative;
		width: 86%;
		z-index: 999;

		@media screen and (max-width: 550px) {
			padding: 25px;
		}

		@media screen and (min-width: 1511px) {
			margin-left: auto;
			margin-right: auto;
		}

		p {
			padding: 0;

			@media screen and (max-width: 550px) {
				width: 100% !important;
			}
		}

		label {
			color: #000000;
			font-family: $font-copy;
			font-size: 17px;
			font-weight: normal;
			letter-spacing: 0.5px;

			abbr {
				color: #E75A7C !important;
				font-size: 16px;
				font-weight: normal !important;
			}
		}

		.select2-container a {
			-webkit-appearance: none;
			appearance: none;
			background: #F7F7F7;
			border: 1px solid #E6E6E6 !important;
			border-radius: 0;
			font-family: $font-copy;
			font-weight: normal;
			padding: 7px 15px;
		}
	}

	.place-order {
		text-align: center;
	}
}