.page-template-contact {
	background: #f7f7f7;

	.contact-select {
		margin-bottom: 100px;
		margin-top: -50px;
		position: relative;
		z-index: 999;
	}

	.contact-form {
		margin-bottom: 100px;
	}

	.page-image {
		margin-bottom: 75px;
	}

	.share-links {
		margin-bottom: 75px;
	}
}

.page-template-contact .gform_wrapper .gform_footer {
	margin-top: 40px;
}