@import '../_variables.scss';

@import '../../../../patterns/header/header.scss';
@import '../../../../patterns/logo-nav/logo-nav.scss';
@import '../../../../patterns/main-menu/main-menu.scss';

#eu-cookie-bar {
	background: #383838;
	padding: 10px 20px;
	z-index: 99;

	a {
		font-size: 12px;
		text-transform: none;
		letter-spacing: initial;
	}


	button {
		background: white;
		color: #383838!important;
		width: auto;
		height: 30px;
		line-height: 0;
	}
}

body .newsletter {
	display: none;
}
