@import '../_variables.scss';

@import '../../../../patterns/super-slider/super-slider.scss';
@import '../../../../patterns/section-boxes/section-boxes.scss';
@import '../../../../patterns/materials-slider/materials-slider.scss';

header, footer {
	display: none;
}

.section-box {

	&#about-crucial {
		margin-bottom: 76px;
		top: -50px;
	}

	&#build-your-own-rug {
		margin-top: 110px;
	}
}

.materials-slider {

	.content__left,
	.content__right {
		-webkit-transform: none;
		transform: none;
	}
}