.page-template-home {

	.section-box {

		margin-top: 6%;
		margin-bottom: 6%;

		/*&#about-crucial {
			margin-bottom: 76px;
			top: -50px;
			z-index: 99;
		}

		&#build-your-own-rug {
			margin-top: 110px;
			margin-bottom: 110px;
		}*/

		&#hospitality-tool {
			margin-top: 11%;
		}
	}
}