.fts-powered-by-text-popup a.fts-powered-by-text {
	display: none !important;
}

.page-template-inspiration {
	background: #383838;

	.share-links * {
		color: rgba(255,255,255,0.5);
	}

	.link__container:hover * {
		color: rgba(255,255,255,1);
	}

	.fts-twitter-div {
		overflow: visible;
	}

	.fts-tweeter-wrap  {
		height: 544px;
		position: absolute;
		width: 100%;

		&:first-child {
			top: 10px;
			left: 30px;
		}

		&:nth-child(2) {
			top: 1235px;
			left: 45px;
		}

		@media screen and (max-width: 992px) {
			left: 100px !important;
			right: 100px;
			width: auto;

			&:nth-child(2) {
				top: 1720px;
			}

			img {
				width: 100% !important;
			}
		}

		@media screen and (max-width: 666px) {
			left: 50px !important;
			right: 50px;
		}

		.tweeter-info {
			border-bottom: none;
			overflow: hidden;
		}

		.fts-twitter-image,
		.fts-twitter-reply-wrap,
		.time {
			display: none;
		}

		.tweeter-info,
		.fts-twitter-full-width,
		.fts-twitter-full-width a {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.uppercase.bold {
			display: none;
		}

		.fts-twitter-text {
			bottom: 10%;
			padding-left: 40px;
			position: absolute;
			width: calc(50% - 170px);
			z-index: 999;

			@media screen and (max-width: 992px) {
				width: 80%;
			}

			@media screen and (max-width: 666px) {
				display: none;
			}
		}

		.fts-twitter-text,
		.fts-twitter-text * {
			color: white;
			font-family: "Playfair Display",serif;
			font-size: 21px;
			font-weight: normal;
			letter-spacing: 2px;
			line-height: 1.8;
			margin: 0;

			a {
				display: none;
			}
		}

		img {
			border-radius: 0;
			-webkit-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
			-moz-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
			box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
			height: 520px;
			margin-top: 0 !important;
			object-fit: cover;
			width: calc(50% - 100px);
		}

		.icon-crucial-twitter {
			color: #EEEEEE;
			left: 40px;
			margin-top: 40px;
			position: absolute;

			&:after {
				background-color: #EEEEEE;
				content: ' ';
				height: 1px;
				left: -75px;
				position: absolute;
				top: 9px;
				width: 50px;
			}
		}

		.twitter-shadow {
			background: rgba(0,0,0,0.4);
			bottom: -100%;
			left: 0;
			padding: 22px;
			position: absolute;
			right: 9px;
			top: 0;
			z-index: -1;

			@media screen and (max-width: 992px) {
				right: -100%;
			}
		}
	}

	.fts-instagram-inline-block-centered {
		height: 100%;
		position: relative;
		width: 100%;

		.slicker-instagram-placeholder.fts-instagram-wrapper {
			height: 520px !important;
			margin: 0 !important;
			background-size: cover;
			overflow: visible;
			position: absolute;
			width: calc(50% - 100px) !important;

			&:first-child {
				top: 50px;
				right: 30px;
			}

			&:nth-child(2) {
				top: 650px;
				left: 60px;
				width: calc(100% - 200px) !important;

				@media screen and (max-width: 666px) {
					left: 50px !important;
					right: 50px !important;
					width: calc(100% - 100px) !important;
				}
			}

			&:nth-child(3) {
				top: 1300px;
				right: 45px;
			}

			@media screen and (max-width: 992px) {
				width: auto !important;
				left: 100px !important;
				right: 100px !important;

				&:first-child {
					top: 590px;
				}

				&:nth-child(2) {
					top: 1160px;
				}

				&:nth-child(3) {
					top: 2300px;
				}
			}

			@media screen and (max-width: 666px) {
				left: 50px !important;
				right: 50px !important;
			}

			.icon-crucial-instagram {
				color: #EEEEEE;
				font-size: 17px;
				left: 40px;
				position: absolute;
				top: 40px;

				&:after {
					background-color: #EEEEEE;
					content: ' ';
					height: 1px;
					left: -75px;
					position: absolute;
					top: 9px;
					width: 50px;
				}
			}
		}
	}

	.posts {
		height: 1900px;
		margin-top: 50px;
		width: 100%;

		@media screen and (max-width: 992px) {
			height: 2870px;
		}
	}
/*
	@media screen and (min-width: 992px) {

		#post-1 > div > div {
			top: 10px;
			left: 30px;
		}

		#post-2 > div > div {
			top: 50px;
			right: 30px;
		}

		#post-3 > div > div {
			top: 650px;
			left: 60px;
			width: calc(100% - 200px);
		}

		#post-4 > div > div {
			top: 1230px;
			left: 45px;
		}

		#post-5 > div > div {
			top: 1270px;
			right: 45px;
		}
	}

	@media screen and (max-width: 992px) {

		.posts {
			height: auto;
		}

		.post > div > div {
			margin-bottom: 30px;
			margin-left: 10%;
			position: relative;
			width: 80%;

			.info {
				margin-top: 0;
				top: -35%;
			}
		}
	}
*/
}

.slicker-instagram-placeholder:hover .slicker-instaG-photoshadow {
	background-color: transparent;
}

.fts-instagram-icon {
	display: none;
}

@media screen and (max-width: 1007px) {
	.tweeter-info .right {
		padding: 0;
	}
}