.page-template-account,
.page-template-hospitality-register {
	background: #f7f7f7;

	.woocommerce .col2-set .col-1,
	.woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-2 {
		width: 100%;
	}

	h2 {
		margin-left: 13%;

		@media screen and (min-width: 1232px) {
			margin-left: calc(50% - 450px);
		}
	}

	.woocommerce {
		margin: 40px 0 50px;
	}

	.woocommerce form.login,
	.woocommerce form.lost_reset_password,
	.woocommerce form.register,
	.woocommerce .hosp-register,
	.profilepress-reg-status {
		background: white;
		border: none;
		border-radius: 0;
		-webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
		box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
		margin: 20px auto;
		max-width: 900px;
		padding: 50px 50px 32px;
		position: relative;
		width: 74%;

		@media screen and (min-width: 1756px) {
			margin-left: auto;
			margin-right: auto;
		}

		.form-row {
			width: 100%;

			&.checkbox {
				display: inline;
				position: relative;
				top: 8px;
				width: auto;

				input[type="checkbox"] {
					display: inline-block;
					width: auto;
				}

				& + p {
					position: relative;
					top: 1px;
					margin-left: 10px;
					display: inline-block;
					width: auto;
				}
			}
		}

		p label {
			display: none;
		}

		p input {
			margin-bottom: 8px;
			width: 100%;
		}

		input[type="submit"] {
			background-color: #383838;
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: #fff!important;
			font-family: Montserrat,sans-serif;
			font-size: 14px;
			font-weight: normal;
			height: 45px;
			letter-spacing: 3px;
			text-shadow: none;
			text-transform: uppercase;
			-webkit-transition: all ease-in-out .25s;
			transition: all ease-in-out .25s;
		}
	}
} 


/********* Hosptitality Register **********/ 

.page-template-hospitality-register header h3.side-title {
	display: none;
}



