.tax-product_cat {

	.swatches {
		top: -70px;
	}
}

.page-template-materials {

	.materials-container {
		background: white;
		margin-left: 7%;
		margin-top: -50px;
		position: relative;
		width: 86%;
		z-index: 999;
	}
}