.tax-product_cat {

	.swatches {
		top: 0px;
	}
}

.page-template-materials {
	
	.materials-container {
		background: white;
		//margin-top: -50px;
		padding-top: 50px;
		max-width: 1300px;
		position: relative;
		width: 90%;
		z-index: 999;
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: 1511px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	.side-title {
		display: none;
	}
	
}