.single-product {

	.material-view-slider {
		z-index: 999;
	}

	.material-view {
		top: -50px;
	}

	.share-links {
		margin-top: 75px;
	}

	form.cart {
		text-align: center;

		.quantity {
			display: none;
		}

		button {
			margin-bottom: 25px;
		}
	}
}

@media print {

	.single-product {

		.top-bar,
		.header__back,
		.header__links,
		.material__name,
		#change-image-view,
		.other-ranges-title,
		.other-ranges,
		.share-links, 
		footer {
			display: none;
		}

		.material__body {
			margin-top: -250px;
		}

		.material__details {
			position: static !important;
		}
	}
}