.single-product {

	.material-view-slider {
		z-index: 999;
	}

	.material-view {
		top: -50px;
	}

	.share-links {
		margin-top: 75px;
	}

	form.cart {
		text-align: center;

		.quantity {
			display: none;
		} 

		button {
			margin-bottom: 25px;
		}
	}
}

@media print {

	.single-product { 

		.top-bar,
		.header__back,
		.header__links,
		.material__icon,
		.material__name,
		#change-image-view,
		.other-ranges-title,
		.other-ranges,
		.share-links, 
		.hide-material-info,
		footer {
			display: none;
		}

		header.material .material__info {
			padding-left: 20%;
			padding-top: 50px;
			top: 0;
			transform: none;
			width: 100%;

			h1, h3 {
				text-align: center;
			}
		}

		.material-view-slider {
			margin-top: -250px;
		}

		.material-view .image-container .material__details {
			background: rgba(0,0,0,0.5) !important;
			padding: 10px;
			right: -1px;
			width: 101%;

			.info__section i {
				background: white !important;
			}

			.info__section h3 {
				color: white  !important;
			}
		}
	}
}