.page-template-register{

	#wppb-register-user {
		background: white;
		box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.08);
		margin-bottom: 100px;
		margin-left: 7%;
		margin-top: -50px;
		max-width: 1300px;
		padding: 75px;
		position: relative;
		width: 86%;
		z-index: 999;

		ul {
			max-width: none;
		}

		ul:nth-child(1) {
			margin-bottom: 3px;
		}

		ul:nth-child(2) {
			display: none;
		}

		input {
			width: 100%;
		}
	}

	label {
		display: none !important;
	}


}

.page-template-hospitality-register {

	a.login-hosp {
		margin: 0 13%;
		position: relative;
		top: 25px;
		display: block;
		padding: 0;
		text-align: center;
	}

	.gform_wrapper {
		background: #fff;
		border: none;
		border-radius: 0;
		box-shadow: 0 5px 18px 0 rgba(0,0,0,.08);
		margin: 75px auto 50px;
		max-width: 900px;
		padding: 50px 50px 32px;
		position: relative;
		width: 74%;

		label {
			display: none;
		}

		input {
			margin-bottom: 18px;

			&[type="submit"] {
				width: 100%;
			}
		}
	}
}