 /************************************************************************************************************************
	Single - Post
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

@import '_variables.scss';

.single-post {

	background-color: $light-grey-bg;
	
	.single-post__container {
		background: white;
		margin-top: -50px;
		margin-bottom: 100px;
		margin-left: auto;
		margin-right: auto;
		padding: 75px;
		position: relative;
		width: 80%;
		z-index: 999;

		@media screen and (max-width: 768px) {
			padding: 30px;
			width: 90%
		}
	}

	.share-links {
		margin-bottom: 50px;

		h3 {
			color: rgb(191,191,191);
		}

		i, a {
			color: #949494;
		}

		.link__container:hover {

			i, a {
				color: black;
			}
		}
	}
}

/******** Single Post - Meta Information *********/ 

.single-post__meta {
	color: lighten($light-grey-text, 10%);
	top: 100px;
	right: 109%;
	
	@media all and (max-width: 769px) {
		display: none;
	}
	
}

.single-post__meta__category, 
.single-post__meta__author {
	display: inline;
}

.single-post__meta__category {
}

.single-post__meta__author {
	margin-right: 40px;
}

/******** Single Post - Copy *********/ 
	
.single-post__content {
	max-width: 767px;
	margin: auto;
}

.single-post__content h2 {
	//font-size: 38px;
	letter-spacing: 1px;
	margin-bottom: 60px;
	
	@media all and (max-width: 769px) {
	}
	
}

.single-post__content p {
	margin-bottom: 35px;
}

.single-post__content ul {
	margin-left: 0px;
}


/******** Single Post - Image *********/ 


.single-post__content img {
	margin-top: 80px;
	margin-bottom: 80px; 
}

.single-post__content figure {
	margin-top: 80px;
	margin-bottom: 80px; 
}

.single-post__content figure img {
	margin: 0;
}





