.social__post {
	position: relative;

	& > div {
		background-size: cover;
		background-position: center bottom;
		height: 500px;
		z-index: 99;

		@media screen and (max-width: 992px) {
			width: 100%;
		}
		
		.social__post__info-container {
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			transition: all ease-in-out 0.35s;
			-webkit-transition: all ease-in-out 0.35s;
		}
		
		.social__post__info {
			bottom: 50px;
			left: 5%;
			padding: 10px;
			position: absolute;
			text-align: left;
			width: 90%;

			h2 {
				color: white;
				font-size: 22px;
				line-height: 1.8;
				font-family: $font-copy;
				letter-spacing: 0px;
			}

			h3 {
				padding-top: 30px;
				color: #eeeeee;
			}
		}
	}
}

.social__post:hover .social__post__info-container {
	opacity: 1;
}