.home-inspiration-widget {
  background: #383838;
  padding: 100px; }
  @media screen and (max-width: 666px) {
    .home-inspiration-widget {
      padding: 50px; } }
  .home-inspiration-widget .share-links * {
    color: rgba(255, 255, 255, 0.5); }
  .home-inspiration-widget .link__container:hover * {
    color: white; }
  .home-inspiration-widget .fts-twitter-div {
    overflow: visible; }
    @media screen and (max-width: 992px) {
      .home-inspiration-widget .fts-twitter-div {
        display: none; } }
  .home-inspiration-widget .fts-tweeter-wrap {
    height: 544px;
    position: absolute;
    width: 100%; }
    .home-inspiration-widget .fts-tweeter-wrap:first-child {
      top: 10px;
      left: 30px; }
    .home-inspiration-widget .fts-tweeter-wrap:nth-child(2) {
      top: 1235px;
      left: 45px; }
    .home-inspiration-widget .fts-tweeter-wrap .tweeter-info {
      border-bottom: none; }
    .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-image,
    .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-reply-wrap,
    .home-inspiration-widget .fts-tweeter-wrap .time {
      display: none; }
    .home-inspiration-widget .fts-tweeter-wrap .tweeter-info,
    .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-full-width,
    .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-full-width a {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .home-inspiration-widget .fts-tweeter-wrap .tweeter-info .right {
      padding: 0; }
    .home-inspiration-widget .fts-tweeter-wrap .uppercase.bold {
      display: none; }
    .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-text {
      bottom: 10%;
      padding-left: 40px;
      position: absolute;
      width: calc(50% - 170px);
      z-index: 999; }
    .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-text,
    .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-text * {
      color: white;
      font-family: "Playfair Display",serif;
      font-size: 21px;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 1.8;
      margin: 0; }
      .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-text a,
      .home-inspiration-widget .fts-tweeter-wrap .fts-twitter-text * a {
        display: none; }
    .home-inspiration-widget .fts-tweeter-wrap img {
      border-radius: 0;
      box-shadow: -5px 5px 18px 0px rgba(0, 0, 0, 0.08);
      height: 520px;
      margin-top: 0 !important;
      width: calc(50% - 100px);
      position: relative;
      z-index: 9; }
    .home-inspiration-widget .fts-tweeter-wrap .icon-crucial-twitter {
      color: #EEEEEE;
      left: 40px;
      margin-top: 40px;
      position: absolute;
      z-index: 999; }
      .home-inspiration-widget .fts-tweeter-wrap .icon-crucial-twitter:after {
        background-color: #EEEEEE;
        content: ' ';
        height: 1px;
        left: -75px;
        position: absolute;
        top: 9px;
        width: 50px; }
    .home-inspiration-widget .fts-tweeter-wrap .twitter-shadow {
      background: rgba(0, 0, 0, 0.3);
      webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      -webkit-filter: blur(6px);
      filter: blur(6px);
      bottom: 0;
      left: 0;
      padding: 22px;
      position: absolute;
      right: 10px;
      top: 0;
      z-index: -1; }
  .home-inspiration-widget .widget__image,
  .home-inspiration-widget .widget__text {
    float: left;
    width: 50%; }
  .home-inspiration-widget .widget__text {
    margin-left: 50%;
    padding-left: 75px; }
    @media screen and (max-width: 992px) {
      .home-inspiration-widget .widget__text {
        clear: both;
        float: none;
        margin-left: 0;
        margin-top: 20px;
        padding-left: 0;
        text-align: center;
        width: 100%; } }
    .home-inspiration-widget .widget__text h3 {
      color: #7C7C7C; }
    .home-inspiration-widget .widget__text h2 {
      color: white;
      margin-bottom: 35px; }
    .home-inspiration-widget .widget__text span {
      background: #7C7C7C;
      display: block;
      height: 2px;
      margin-bottom: 60px;
      width: 75px; }
      @media screen and (max-width: 992px) {
        .home-inspiration-widget .widget__text span {
          margin-left: calc(50% - 37.5px); } }
    .home-inspiration-widget .widget__text p {
      color: #FFF;
      margin-bottom: 100px; }
    .home-inspiration-widget .widget__text a {
      opacity: 0.6;
      color: #FFF; }
    .home-inspiration-widget .widget__text a:before,
    .home-inspiration-widget .widget__text a:after {
      background-color: #FFF; }
    .home-inspiration-widget .widget__text a:hover {
      opacity: 1; }
