 /************************************************************************************************************************
	Email Newsletter Sign-up Box

	Crucial Trading - SCSS
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/

@import '../../assets/css/src/_variables.scss';
@import '../../assets/css/src/_utilities.scss';

.newsletter {
	background: #3d3d3d;
	position: relative;
	padding-top: 8%;
	padding-bottom: 8%;

	@media screen and (max-width: 666px) {
		padding: 10%;
	}

	.newsletter__container {
		width: 80%;
		margin: auto;

		@media all and (max-width: 666px) {
			width: 100%;
		}
	}

	h3 {
		color: lighten($light-grey-text, 5%);
		top: 25%;
		right: 97%;
		opacity: 0.2;

		@media screen and (max-width: 666px) {
			display: none;
		}
	}

	span {
		background-color: $main-menu-link-color;
		display: block;
		height: 65px;
		position: absolute;
		top: 0;
		width: 1px;
		opacity: 0.2;

		@media screen and (max-width: 666px) {
			height: 35px;
		}
	}

	h2 {
		color: $main-menu-link-color;
		font-size: 34px;
		margin-bottom: 50px;
	}

	input {
		background: #444444;
		border: none !important;
		color: #878787 !important;
		margin-right: 2%;
		padding: 20px;
		width: 100%;
		outline: none;
		max-width: 1000px;
		font-size: 20px;
		@extend .transition-all;

		@media screen and (max-width: 666px) {
			width: 100%;
		}

		&[type="submit"] {
			margin-top: 20px;
			padding-top: 16px !important;
		}
	}

	input:focus {
		background-color: lighten(#444444, 5%);
	}

	.mce-responses {
		color: #bababa;
	}

	// Response Messages

	div#mce-success-response.response {
		color: #FFF;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	div.mce_inline_error,
	#mce-error-response {
		background-color: #b61d45 !important;
		display: inline-block;
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
		color: white !important;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	// Privacy

	.privacy-consent {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		li {
			position: relative;
		}

		label {
			font-weight: normal;
			color: $main-menu-link-color;
			font-size: 15px;
			padding-left: 50px;
			padding-top: 15px;
		}

		a {
			font-weight: normal;
			color: $main-menu-link-color;
			font-size: 15px;
			text-transform: capitalize;
			font-family: $font-copy;
			letter-spacing: 0px;
			text-decoration: underline !important;
			padding: 0;
			margin: 0;
		}

		input[type='checkbox'] {
			-webkit-appearance:none;
			appearance: none;
			width:20px;
			height:20px;
		  background: lighten(#444444, 10%);
			border-radius:0px;
			border:2px solid black;
			position: absolute;
			top: 15px;
			left: 10px;
			padding: 5px;
		}

		input[type='checkbox']:checked {
			background: black;
		}

		input[type='checkbox']:checked:after {
			content: '✔';
			position: absolute;
			top: 4px;
			left: 4px;
			font-size: 16px;
			line-height: 0.8;
			color: #fff;
		}
	}

}

// Button

body .newsletter input.button {
	background-color: #2d2d2d;
	color: #5e5e5e !important;
	height: 62px !important;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: normal;
	@extend .transition-all;

	@media screen and (max-width: 1100px) {
		margin-top: 20px;
	}
}

body .newsletter input.button:focus,
body .newsletter input.button:hover {
	background: lighten(#2d2d2d, 5%);
}
