/************************************************************************************************************************
	Email Newsletter Sign-up Box
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/************************************************************************************************************************
	Variables
	
	Styles any forms used across the website
	
	Crucial Trading - SCSS	
	Created by: KIJO Creative <hello@kijo.co>

*************************************************************************************************************************/
/* Colors */
/* Typography */
/* Main Navigation & Footer */
.vert-align {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align-table {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.box-shadow {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.08); }

.rotate {
  position: absolute;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.transition-all, .newsletter input {
  transition: all ease-in-out 0.25s;
  -webkit-transition: all ease-in-out 0.25s; }

.rotated-text {
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  white-space: nowrap;
  transform-origin: right top;
  transform: rotate(270deg); }

.newsletter {
  background: #3d3d3d;
  position: relative;
  padding-top: 8%;
  padding-bottom: 8%; }
  @media screen and (max-width: 666px) {
    .newsletter {
      padding: 10%; } }
  .newsletter .newsletter__container {
    width: 80%;
    margin: auto; }
    @media all and (max-width: 666px) {
      .newsletter .newsletter__container {
        width: 100%; } }
  .newsletter h3 {
    color: #bfbfbf;
    top: 25%;
    right: 97%;
    opacity: 0.2; }
    @media screen and (max-width: 666px) {
      .newsletter h3 {
        display: none; } }
  .newsletter span {
    background-color: #a0a0a0;
    display: block;
    height: 65px;
    position: absolute;
    top: 0;
    width: 1px;
    opacity: 0.2; }
    @media screen and (max-width: 666px) {
      .newsletter span {
        height: 35px; } }
  .newsletter h2 {
    color: #bababa;
    font-size: 34px;
    margin-bottom: 50px; }
  .newsletter input {
    background: #444444;
    border: none !important;
    color: #878787 !important;
    font-family: "Montserrat",sans-serif !important;
    margin-right: 2%;
    padding: 20px !important;
    width: 73%;
    outline: none; }
    @media screen and (max-width: 666px) {
      .newsletter input {
        width: 100%; } }
  .newsletter input:focus {
    background-color: #515151; }
  .newsletter button {
    background: #2d2d2d;
    color: #5e5e5e !important;
    height: 62px !important; }
    @media screen and (max-width: 1100px) {
      .newsletter button {
        margin-top: 20px; } }
  .newsletter button:focus,
  .newsletter button:hover {
    background: #3a3a3a; }
