.newsletter {
  background: #3d3d3d;
  padding: 100px;
  position: relative; }
  @media screen and (max-width: 666px) {
    .newsletter {
      padding: 50px; } }
  .newsletter h3 {
    color: #878787;
    left: -50px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
    @media screen and (max-width: 666px) {
      .newsletter h3 {
        display: none; } }
  .newsletter span {
    background: #878787;
    display: block;
    height: 75px;
    position: absolute;
    top: 0;
    width: 1px; }
    @media screen and (max-width: 666px) {
      .newsletter span {
        height: 35px; } }
  .newsletter h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 50px; }
  .newsletter input {
    background: #444444 !important;
    border: none !important;
    color: #878787 !important;
    font-family: "Montserrat",sans-serif !important;
    margin-right: 2%;
    padding: 20px !important;
    width: 73%; }
    @media screen and (max-width: 666px) {
      .newsletter input {
        width: 100%; } }
  .newsletter button {
    background: #2d2d2d;
    color: #5e5e5e !important;
    height: 62px !important; }
    @media screen and (max-width: 1094px) {
      .newsletter button {
        margin-top: 20px; } }
