.swatches {
	-webkit-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	-mox-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	margin-left: 7%;
	padding: 100px 50px;
	position: relative;
	width: 86%;

	.swatch {
		float: left;
		margin-bottom: 20px;
		width: 23.5%;

		img {
			height: auto;
			margin-bottom: 10px;
			width: 100%;
		}

		h3 {
			color: #7C7C7C;
			margin-bottom: 5px;
			width: 60%;

			&.code {
				color: #BBBBBB;
			}
		}

		@media screen and (min-width: 992px) {

			&:not(:nth-child(4n)) {
				margin-right: 2%;
			}
		}

		@media screen and (max-width: 992px) and (min-width: 600px) {
			width: 49%;

			&:not(:nth-child(2n)) {
				margin-right: 2%;
			}
		}

		@media screen and (max-width: 600px) {
			width: 100%;
		}
	}
}