.swatches {
  margin-left: 7%;
  padding: 100px 50px;
  position: relative;
  width: 86%; }
  .swatches .swatch {
    float: left;
    margin-bottom: 20px;
    width: 23.5%; }
    .swatches .swatch img {
      height: auto;
      margin-bottom: 10px;
      width: 100%; }
    .swatches .swatch h3 {
      color: #7C7C7C;
      margin-bottom: 5px;
      width: 60%; }
      .swatches .swatch h3.code {
        color: #BBBBBB; }
    @media screen and (min-width: 992px) {
      .swatches .swatch:not(:nth-child(4n)) {
        margin-right: 2%; } }
    @media screen and (max-width: 992px) and (min-width: 600px) {
      .swatches .swatch {
        width: 49%; }
        .swatches .swatch:not(:nth-child(2n)) {
          margin-right: 2%; } }
    @media screen and (max-width: 600px) {
      .swatches .swatch {
        width: 100%; } }
