.drawer__content ul.structures {
	margin: 0;
	padding: 25px;

	a {
		display: block;
		height: 100%;
		padding: 0;
		width: 100%;

		h3 {
			font-size: 14px;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 55%;
		}

		img {
			position: absolute;
			right: 0;
			top: 0;
			width: 100px;
		}
	}
	
	@media screen and (min-width: 768px) {
		padding-right: 100px;

		li {
			border: 1px solid #EDEDED;
			box-sizing: border-box;
			float: left;
			height: 132px;
			list-style: none;
			margin-bottom: 25px;
			padding: 15px;
			width: 23.5%;

			&:not(:nth-child(4n)) {
				margin-right: 2%;
			}

			&:hover {
				border: none;
				-webkit-box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
				-moz-box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
				box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
			}
		}
	}

	@media screen and (max-width: 768px) {

		li {
			background: white;
			border-bottom: 2px solid #EAEAEA;
			height: 60px;
			padding: 15px;
			position: relative;
			z-index: 9;
		}
	}
}