.drawerv2-container {
  width: 348px;
  float: left;
  height: calc(100vh - 185px);

  @media screen and (max-width: 1200px) {
    width: 190px;
  }

  /**
   * mobile
   */
  @media screen and (max-width: 550px) {
    width: 110px
  }


  ul.palette-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background: #fff;
    box-shadow: -5px 5px 18px 0 rgba(0,0,0,.08);
    overflow-y: scroll;
    height: calc(100vh - 185px);

    li {
      width: 50%;
      text-align: center;
      list-style: none;
      margin-bottom: 20px;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      img {
        width: 127px;
        height: 127px;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

        @media screen and (max-width: 1200px) {
          width: 100px;
          height: 100px;
        }

        /**
         * mobile
         */
        @media screen and (max-width: 550px) {
          width: 77px;
          height: 77px;
        }
      }
    }
  }

  ul.palette-container::-webkit-scrollbar {
      width: 0.5em;
  }

  ul.palette-container::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    background-clip: content-box;
  }

  ul.palette-container::-webkit-scrollbar-thumb {
  	border-radius: 10px;
    height: 5px;
  	background-color: rgba(0,0,0,0.7);
  }
}
