.section-box {
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	width: 90%;

	.box__image,
	.box__content {
		width: 50%;

		@media screen and (max-width: 992px) {
			width: 100%;
		}
	}

	.box__image {
		bottom: 0;
		position: absolute;
		top: 0;

		&.right {
			left: 50%;
		}

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		@media screen and (max-width: 992px) {
			height: 300px;

			&.right {
				left: 0;
			}
		}
	}

	.box__content {
		background: white;
		padding: 100px 7%;
		text-align: center;

		&.left {
			margin-left: 50%;
		}

		& * {
			text-align: center;
		}

		h3 {
			color: #7C7C7C;
		}

		h2 {
			margin-bottom: 35px;
		}

		span {
			background: grey;
			display: block;
			height: 1px;
			margin: auto;
			margin-bottom: 60px;
			width: 100px;
			opacity: 0.5;
		}

		p {
			margin-bottom: 150px;
		}

		a {
			color: #7C7C7C;
			
			&:before,
			&:after {
				background-color: #7C7C7C;
			}
			
			&:hover {
				color: #000;
			}
			
		}

		@media screen and (max-width: 992px) {
			margin-top: 300px;
			padding: 50px;

			&.left {
				margin-left: 0;
			}

			h2 {
				margin-bottom: 20px;
			}

			span {
				margin-bottom: 40px;
			}

			p {
				margin-bottom: 75px;
			}
		}
	}
}