.section-box {
  left: 50%;
  max-width: 1300px;
  position: relative;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 90%; }
  .section-box .box__image,
  .section-box .box__content {
    width: 50%; }
    @media screen and (max-width: 992px) {
      .section-box .box__image,
      .section-box .box__content {
        width: 100%; } }
  .section-box .box__image {
    bottom: 0;
    position: absolute;
    top: 0; }
    .section-box .box__image.right {
      left: 50%; }
    .section-box .box__image img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
    @media screen and (max-width: 992px) {
      .section-box .box__image {
        height: 300px; }
        .section-box .box__image.right {
          left: 0; } }
  .section-box .box__content {
    background: white;
    padding: 100px 7%;
    text-align: center; }
    .section-box .box__content.left {
      margin-left: 50%; }
    .section-box .box__content * {
      text-align: center; }
    .section-box .box__content h3 {
      color: #7C7C7C; }
    .section-box .box__content h2 {
      margin-bottom: 35px; }
    .section-box .box__content span {
      background: grey;
      display: block;
      height: 1px;
      margin: auto;
      margin-bottom: 60px;
      width: 100px;
      opacity: 0.5; }
    .section-box .box__content p {
      margin-bottom: 150px; }
    .section-box .box__content a {
      color: #7C7C7C; }
      .section-box .box__content a:before, .section-box .box__content a:after {
        background-color: #7C7C7C; }
      .section-box .box__content a:hover {
        color: #000; }
    @media screen and (max-width: 992px) {
      .section-box .box__content {
        margin-top: 300px;
        padding: 50px; }
        .section-box .box__content.left {
          margin-left: 0; }
        .section-box .box__content h2 {
          margin-bottom: 20px; }
        .section-box .box__content span {
          margin-bottom: 40px; }
        .section-box .box__content p {
          margin-bottom: 75px; } }
