.drawer__collections__sidebar,
.drawer__swatches__sidebar,
.drawer__swatches--selected__sidebar {
	padding-top: 30px;

	@media screen and (min-width: 768px) {
		float: left;
		width: 25%;

		ul {
			padding-left: 30px;
		}

		li {
			list-style: none;
			margin-bottom: 10px;

			&:hover:before {
				background: #000;
				content: '';
				display: block;
				height: 1px;
				left: 0;
				margin-top: 22px;
				position: absolute;
				width: 13px;
			}

			img {
				display: inline;
				width: 45px;
			}

			h3 {
				display: inline;
				left: 15px;
				position: relative;
				top: -17px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.drawer__swatches--selected__sidebar {
	margin-top: 40px;
}