.drawer__collections__collections {
	padding-top: 30px;
	
	@media screen and (min-width: 768px) {
		float: left;
		width: 75%;

		ul {
			margin: 0;
			padding: 0;
			padding-right: 100px;
		}

		li {
			border: 1px solid #EDEDED;
			float: left;
			list-style: none;
			margin-bottom: 25px;
			padding: 15px;
			width: 31.6%;

			&:not(:nth-child(3n)) {
				margin-right: 2%;
			}

			&:hover {
				border: none;
				-webkit-box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
				-moz-box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
				box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
			}
		}

		a {
			display: block;
			padding: 0;
			width: 100%;

			h3 {
				font-size: 14px;
				width: 55%;
			}
		}
	}
}