.drawer__content__material {
	padding: 40px 100px;

	&.stage2 ul,
	&.stage3 ul {
		margin-left: calc(33.3333333% / 2)!important;
		width: 66.6666666% !important;
	}

	@media screen and (max-width: 992px) {
		padding: 40px 0;
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;

		@media screen and (max-width: 768px) {
			display: block;
		}
	}	

	li {
		display: flex;
		flex-basis: 0;
		flex-direction: row;
		flex-grow: 1;

		@media screen and (max-width: 768px) {
			display: inline-block;
			width: 133px;
		}
	}

	a {
		display: block;
		padding: 0 30px;
		text-align: center;
		width: 100%;

		@media screen and (max-width: 768px) {
			padding: 0;
		}

		img {
			max-height: 100%;
			padding-bottom: 25px;
			width: 100%;

			@media screen and (max-width: 768px) {
				width: 40%;
			}
		}

		h3 {
			display: none;

			@media screen and (max-width: 768px) {
				display: block
			}
		}

		@media screen and (min-width: 768px) {

			&:hover {
				margin-top: -13px;

				img {
					padding-bottom: 0;
				}

				h3 {
					display: block;
				}
			}
		}
	}
}