#drawer {

	.drawer__content {

		&.materials {

			.drawer__content__collections,
			.drawer__content__swatches,
			.drawer__content__swatches--selected {
				display: none;
			}
		}

		&.collections {

			.drawer__content__material,
			.drawer__content__swatches,
			.drawer__content__swatches--selected {
				display: none;
			}
		}

		&.swatches {

			.drawer__content__material,
			.drawer__content__collections,
			.drawer__content__swatches--selected {
				display: none;
			}
		}

		&.swatchesSelected {

			.drawer__content__material,
			.drawer__content__collections,
			.drawer__content__swatches {
				display: none;
			}
		}
	}
}