.drawer__content__material {
	padding: 40px 100px;

	@media screen and (max-width: 992px) {
		padding: 40px 0;
	}

	@media screen and (max-width: 768px) {
		overflow: hidden;
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;

		@media screen and (max-width: 768px) {
			display: block;
			width: 500%;
		}
	}

	li {
		display: flex;
		flex-basis: 0;
		flex-direction: row;
		flex-grow: 1;

		@media screen and (max-width: 768px) {
			display: inline-block;
			width: calc(768px / 6);

			&:first-child {
				margin-left: calc(50vw - (100vw - 16%));
			}
		}
	}

	a {
		display: block;
		text-align: center;
		width: 100%;
	}
}