.drawer__collections__collections {

	ul {
		margin: 0;
		padding: 0;
	}

	ul li {

		&.hidden {
			display: none;
		}

		&.in-window {
			transform: translateX(0);
		}

		&.left-of-window {
			position: absolute;
			transform: translateX(-100vw);
		}

		&.moving-out-to-left {
			transform: translateX(-100vw);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}

		&.moving-in-from-left {
			position: relative;
			transform: translateX(0);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}

		&.right-of-window {
			position: absolute;
			top: -540px;
			transform: translateX(100vw);
		}

		&.moving-in-from-right {
			position: relative;
			top: -540px;
			transform: translateX(0);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}

		&.moving-out-to-right {
			position: relative;
			top: -540px;
			transform: translateX(100vw);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}
	}

	a {
		display: block;
		height: 100%;
		padding: 0;
		width: 100%;

		h3 {
			font-size: 14px;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 55%;
		}
	}
	
	@media screen and (min-width: 768px) {
		float: left;
		padding-top: 30px;
		width: 75%;

		ul {
			padding-right: 100px;
		}

		li {
			border: 1px solid #EDEDED;
			box-sizing: border-box;
			float: left;
			height: 110px;
			list-style: none;
			margin-bottom: 25px;
			padding: 15px;
			width: 32%;

			&:not(:nth-child(3n)) {
				margin-right: 2%;
			}

			&:hover {
				border: none;
				-webkit-box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
				-moz-box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
				box-shadow: -0 2px 18px 0px rgba(0,0,0,0.08);
			}
		}

		
	}

	@media screen and (max-width: 768px) {

		li {
			background: white;
			border-bottom: 2px solid #EAEAEA;
			height: 60px;
			padding: 15px;
			position: relative;
			z-index: 9;
		}
	}
}