.drawer__content__material {

	ul {
		display: flex;
		justify-content: center;
		margin: auto;
		padding: 30px 0 0;

		@media screen and (max-width: 768px) {
			display: block;
		}
	}	

	li {
		display: flex;
		flex-basis: 0;
		flex-direction: row;
		flex-grow: 1;
		max-width: 200px;

		@media screen and (max-width: 768px) {
			display: inline-block;
			width: 133px;
		}
	}

	a {
		box-sizing: border-box;
		display: block;
		padding: 0 42px;
		text-align: center;
		width: 100%;

		@media screen and (max-width: 768px) {
			padding: 0;
		}

		img {
			max-height: 100%;
			padding-bottom: 25px;
			width: 100%;

			@media screen and (max-width: 768px) {
				width: 40%;
			}
		}

		h3 {
			display: none;

			@media screen and (max-width: 768px) {
				display: block
			}
		}

		@media screen and (min-width: 768px) {

			&:hover {
				margin-top: -13px;

				img {
					padding-bottom: 0;
				}

				h3 {
					display: block;
				}
			}
		}
	}
}