.drawer__content.-piping {

	.drawer__swatches__sidebar,
	.scroll-btns {
		display: none;
	}

	.drawer__swatches__swatches {
		float: none;
		margin: auto;
	}
}

.drawer__content.-piping-selected {

	.drawer__swatches--selected__sidebar {
		display: none;
	}

	.drawer__swatches--selected__swatches {
		float: none;
		margin: auto;

		ul {
			padding-right: 0;
		}
	}

	.scroll-btns {
		left: 51px;
	}
}

.drawer__swatches__swatches,
.drawer__swatches--selected__swatches {

	ul {
		margin: 0;
		height: 174px;
		padding: 0;
		padding-right: 50px;
	}

	li {
		float: left;
		list-style: none;

		i {
			color: rgba(255,255,255,0.9);
			display: none;
			font-size: 30px;
			left: 50%;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 999;
		}

		&.selected {

			img {
				filter: brightness(0.5);
			}

			i {
				display: block;
			}
		}
	}

	ul li {

		&.hidden {
			display: none;
		}

		&.in-window {
			transform: translateX(0);
		}

		&.left-of-window {
			position: absolute;
			transform: translateX(-100vw);
		}

		&.moving-out-to-left {
			transform: translateX(-100vw);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}

		&.moving-in-from-left {
			position: relative;
			transform: translateX(0);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}

		&.right-of-window {
			position: absolute;
			margin-top: -140px;
//			top: -174px;
			transform: translateX(100vw);
		}

		&.moving-in-from-right {
			position: relative;
			margin-top: -140px;
//			top: -174px;
			transform: translateX(0);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}

		&.moving-out-to-right {
			position: relative;
			margin-top: -140px;
//			top: -174px;
			transform: translateX(100vw);
			-webkit-transition: 0.65s;
			transition: 0.65s;
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
		}
	}

	a {
		box-sizing: border-box;
		display: block;
		padding: 0;
	}

	img {
		height: auto;
		margin-left: 50%;
		max-height: 150px;
		max-width: 150px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
	}

	@media screen and (min-width: 992px) {
		
		li {
			width: 15%;

			&:not(:nth-child(6n)) {
				margin-right: 2%;
			}
		}

		a {
			position: relative;

			img {

			}

			h3 {
				bottom: 12px;
				color: white;
				display: none;
				left: 0;
				position: absolute;
				right: 0;
				text-align: center;
			}

			&:hover {

				h3 {
					display: block;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		float: left;
		width: 75%;

		ul {
			padding-top: calc(30px + 1em);
		}

		li {
			margin-bottom: 15px;
		}
	}

	@media screen and (max-width: 992px) {

		li {
			width: 32%;

			&:not(:nth-child(3n)) {
				margin-right: 2%;
			}
		}

		a {

			h3 {
				display: none;
			}
		}
	}

	@media screen and (max-width: 768px) {

		ul {
			margin-top: 35px;
			padding-left: 50px;
		}

		li {
			margin-bottom: 5px;
		}
	}
}