.drawer__content.-piping {

	.drawer__swatches__sidebar,
	.scroll-btns {
		display: none;
	}

	.drawer__swatches__swatches {
		float: none;
		margin: auto;
	}
}

.drawer__content.-piping-selected {

	.drawer__swatches--selected__sidebar {
		display: none;
	}

	.drawer__swatches--selected__swatches {
		float: none;
		margin: auto;

		ul {
			padding-right: 0;
		}
	}

	.scroll-btns {
		left: 51px;
	}
}

.drawer__content__swatches {

	@media screen and (max-width: 768px) {
		max-height: none;
	}
}

.drawer__content__swatches--selected {

	@media screen and (max-width: 768px) {
		max-height: 104px;
	}
}

.drawer__swatches__swatches,
.drawer__swatches--selected__swatches {

	ul {
		margin: 0;
		padding: 0;
		padding-right: 50px;
	}

	li {
		float: left;
		height: 100px;
	//	overflow: hidden;
		list-style: none;

		i {
			color: rgba(255,255,255,0.9);
			display: none;
			font-size: 30px;
			left: 50%;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 999;
		}

		&.selected {

			img {
				filter: brightness(0.5);
			}

			i {
				display: block;
			}
		}
	}

	ul li {

		&.hidden {
			display: none;

			@media screen and (max-width: 768px) {
				display: block;
			}
		}

		&.in-window {
			transform: translateX(0);
		}

		&.left-of-window {
			position: absolute;
			transform: translateX(-100vw);

			@media screen and (max-width: 768px) {
				position: static;
				transform: translateX(0);
			}
		}

		&.moving-out-to-left {
			transform: translateX(-100vw);
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);

			@media screen and (max-width: 768px) {
				transform: translateX(0);
			}
		}

		&.moving-in-from-left {
			position: relative;
			transform: translateX(0);
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);

			@media screen and (max-width: 768px) {
				position: static;
				transform: translateX(0);
			}
		}

		&.right-of-window {
			position: absolute;
			top: -420px;
			transform: translateX(100vw);

			@media screen and (max-width: 768px) {
				position: static;
				transform: translateX(0);
			}
		}

		&.moving-in-from-right {
			position: relative;
			top: -420px;
			transform: translateX(0);
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);

			@media screen and (max-width: 768px) {
				position: static;
				transform: translateX(0);
			}
		}

		&.moving-out-to-right {
			position: relative;
			top: -420px;
			transform: translateX(100vw);
			transition: 0.65s;
			-webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);
			transition-timing-function: cubic-bezier(0.55, 0, 0.5, 1);

			@media screen and (max-width: 768px) {
				position: static;
				transform: translateX(0);
			}
		}
	}

	a {
		box-sizing: border-box;
		display: block;
		height: 100%;
	//	overflow: hidden;
		padding: 0;
	}

	img {
		height: 100%;
		object-fit: cover; 
		width: 100%;
	}

	@media screen and (min-width: 992px) {
		
		li {
			width: 15%;

			&:not(:nth-child(6n)) {
				margin-right: 2%;
			}
		}

		a {
			position: relative;

			img {

			}

			h3 {
				bottom: 6px;
				color: rgba(51,51,51,0.65);
			//	display: none;
				left: 0;
			//	position: absolute;
				right: 0;
				text-align: center;
			}

			&:hover {

				h3 {
					display: block;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		float: left;
		width: 75%;

		ul {
			padding-top: 18px;
		}

		li {
			margin-bottom: 40px;
		}
	}

	@media screen and (max-width: 992px) {

		li {
			width: 32%;

			&:not(:nth-child(3n)) {
				margin-right: 2%;
			}
		}

		a {

			h3 {
				display: none;
			}
		}
	}

	@media screen and (max-width: 768px) {

		ul {
			padding: 0 20px;
		}

		li {
			margin-bottom: 5px;
		}
	}
}

.drawer__swatches--selected__swatches {

	ul li {

		&.right-of-window {
			top: -140px;
		}

		&.moving-in-from-right {
			top: -140px;
		}

		&.moving-out-to-right {
			top: -140px;
		}
	}
}