#drawer {
	background: white;
	-webkit-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	-moz-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.08);
	position: relative;
	z-index: 1;

	.drawer__content {

		&.materials {

			.drawer__content__collections,
			.drawer__content__swatches,
			.drawer__content__swatches--selected,
			.drawer__content__border {
				display: none;
			}
		}

		&.collections {

			.drawer__content__material,
			.drawer__content__swatches,
			.drawer__content__swatches--selected,
			.drawer__content__border {
				display: none;
			}
		}

		&.swatches {

			.drawer__content__material,
			.drawer__content__collections,
			.drawer__content__swatches--selected,
			.drawer__content__border {
				display: none;
			}
		}

		&.swatchesSelected {

			.drawer__content__material,
			.drawer__content__collections,
			.drawer__content__swatches,
			.drawer__content__border {
				display: none;
			}
		}

		&.border {

			.drawer__content__material,
			.drawer__content__collections,
			.drawer__content__swatches,
			.drawer__content__swatches--selected {
				display: none;
			}
		}
	}
}